<!-- INCLUDE overall_header.html -->

<div  style="float: left; width:630px;">
<!-- IF S_DISPLAY_WELCOME -->
<!-- INCLUDE dkp/block/welcomeblock.html -->
<!-- ENDIF -->


<!-- INCLUDE dkp/block/news.html -->

</div>

<div class="index-right" style="float: right; width: 300px;">

<!-- IF S_DISPLAY_RT -->
<!-- INCLUDE dkp/block/recent.html -->
<!-- ENDIF -->


<!-- IF S_DISPLAY_RECRUIT -->
<!-- INCLUDE dkp/block/recruitment.html -->
<!-- ENDIF -->


<!-- IF S_DISPLAY_NEWMEMBERS -->
<!-- INCLUDE dkp/block/newmembers.html -->
<!-- ENDIF -->


<!-- IF S_DISPLAY_LOOT -->
<!-- INCLUDE dkp/block/lastloot.html -->
<!-- ENDIF -->
<!-- INCLUDE dkp/block/online.html -->

<!-- IF S_DISPLAY_MAINMENU -->
<!-- INCLUDE dkp/block/mainmenu.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_LINKS -->
<!-- INCLUDE dkp/block/links.html -->
<!-- ENDIF -->

</div>


<div style="clear:both;"></div>

<!-- INCLUDE dkp/block/whoisonlineblock.html -->

<!-- INCLUDE overall_footer.html -->