<div class="portalblock">

<h3 style="text-align:center">{L_RECENT_TOPICS}</h3>


<ul class="portalmenu" style="padding: 4px">
		<!-- IF NO_RECENT -->
			<li style="list-style:none">{NO_RECENT}</li>
		<!-- ELSE -->
			<!-- BEGIN recent_topic_row -->
				<li><a href="{recent_topic_row.U_TITLE}" title="{recent_topic_row.L_TITLE}">{recent_topic_row.L_TITLE}</a>
				<!-- IF recent_topic_row.S_TOPIC_UNAPPROVED or recent_topic_row.S_POSTS_UNAPPROVED -->
				<a href="{recent_topic_row.U_MCP_QUEUE}">{recent_topic_row.UNAPPROVED_IMG}</a>
				<!-- ENDIF -->
				<!-- IF recent_topic_row.S_TOPIC_REPORTED --><a href="{recent_topic_row.U_MCP_REPORT}">{recent_topic_row.REPORTED_IMG}</a><!-- ENDIF -->
				</li>
			<!-- END recent_topic_row -->
		<!-- ENDIF -->
</ul>
<ul class="topiclist bg1" style="padding: 4px">
		<!-- IF S_DISPLAY_SEARCH and not S_IS_BOT -->
		<!-- IF S_LOAD_UNREADS or S_USER_LOGGED_IN -->
		<li>&raquo;&nbsp;<!-- IF S_LOAD_UNREADS --><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- ENDIF --></li>
		<li>&raquo;&nbsp;<!-- IF S_USER_LOGGED_IN --><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><!-- ENDIF --></li>
		<!-- ENDIF -->
		<li>&raquo;&nbsp;<a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
		<li>&raquo;&nbsp;<a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
		<!-- ENDIF -->
</ul>

</div>

