{% INCLUDE 'overall_header.html' %}
{% INCLUDEJS '@avathar\bbguild/addclass.js' %}
{% INCLUDEJS '@avathar\bbguild/lib/farbtastic.js' %}
{% INCLUDECSS '@avathar\bbguild/css/farbtastic.css' %}
<link rel="stylesheet" href="../ext/avathar/bbguild/adm/style/css/farbtastic.css" type="text/css" />
<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

<h1>{{ lang('ACP_ADDCLASS') }}</h1>
<p>{{ lang('ACP_ADDCLASS_EXPLAIN') }}</p>
<form id="acp_addclass" method="post" action="{{ U_ACTION2 }}" onsubmit="return check_form(this)">
<div>
<fieldset>
<legend>{{ lang('ADD_CLASS_TITLE') }}</legend>
    <dl>
	    <dt><label>{{ lang('GAME') }}:</label><br />{{ lang('GAME_CLASSRACEUPDATE_EXPLAIN') }}</dt>
	  	   <dd>
	      		{{ GAME_NAME }}
	      </dd>
	 </dl>

	 <dl>
		<dt><label for="class_name">{{ lang('CLASS_NAME') }}:</label></dt>
		<dd><input class="medium" type="text" id="class_name" name="class_name" value="{{ CLASS_NAME }}" /></dd>
	</dl>

	<dl>
		<dt><label for="class_id">{{ lang('CLASS_ID') }}:</label><br/>{{ lang('CLASS_ID_EXPLAIN') }}</dt>
		<dd><input class="medium" type="text" id="class_id" name="class_id" value="{{ CLASS_ID }}" onKeyup="isValidChar(this.value, 'class_id');" /></dd>
	</dl>

	<dl>
		<dt><label>{{ lang('CLASS_LEVEL') }}:</label><br/></dt>
		<dd>
			<input class="small" type="text" id="class_level_min" name="class_level_min" value="{{ CLASS_MIN }}" onKeyup="isValidChar(this.value, 'class_level_min');"/>
			<input class="small" type="text" id="class_level_max" name="class_level_max" value="{{ CLASS_MAX }}" onKeyup="isValidChar(this.value, 'class_level_max');"/>
		</dd>
	</dl>


	<dl>
		<dt><label for="armory">{{ lang('CLASS_ARMORY') }}:</label><br/>{{ lang('CLASS_ARMORY_EXPLAIN') }}</dt>
		<dd><select id="armory" name="armory">{{ S_ARMOR_OPTIONS }}</select></dd>
	</dl>

	<dl>
		<dt><label for="image">{{ lang('CLASS_IMAGE') }}:</label><br/>{{ lang('CLASS_IMAGE_EXPLAIN') }}</dt>
		<dd><input class="medium" type="text" id="image" name="image" value="{{ CLASS_IMAGENAME }}" />
			{% if S_CLASS_IMAGE_EXISTS %} &nbsp;<img style="vertical-align: middle;" src="{{ CLASS_IMAGE }}" alt="{{ CLASS_NAME }}" />  {% endif %} <br />{{ IMAGEWARNING }}
		</dd>
	</dl>

	<dl>
		<dt><label>{{ lang('CLASS_COLOR') }}</label><br />{{ lang('CLASS_COLOR_EXPLAIN') }}</dt>
		<dd>
			<table style=" border-width: 0px;">
			<tr>
				<td>
				<span id="nojquery" style="color: red; font-size: 1.4em">{{ lang('JQUERY_MISSING') }}</span>
				  <span id="picker"></span>
		       	</td>
	       		<td>
				<span class="form-item"><input type="text" id="classcolor" name="classcolor" value="{{ COLORCODE }}" /></span>
	    	 	</td>
		     </tr>
			</table>
		</dd>
	</dl>
</fieldset>

<fieldset class="quick" style="float: {{ S_CONTENT_FLOW_END }};">
   {{ S_FORM_TOKEN }}
    <input type="hidden" name="class_id0" value="{{ CLASS_ID }}" />
	<input type="hidden" name="c_index" value="{{ C_INDEX }}" />
    <input type="hidden" name="hidden_game_id" value="{{ GAME_ID }}" />
    {% if S_ADD %}
    <input type="submit" name="add" value="{{ lang('ADD_CLASS') }}" class="button1" /> <input type="reset" name="reset" value="{{ lang('RESET') }}" class="button1" />
    {% else %}
    <input type="submit" name="update" value="{{ lang('UPDATE_CLASS') }}" class="button1" />
    {% endif %}
	</fieldset>
</div>
</form>

{% INCLUDE 'overall_footer.html' %}
