{% INCLUDE 'overall_header.html' %}
<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>
{% if ! IS_ADD %}
<h1>{{ lang('EDIT_FACTION') }}</h1>
{% else %}
<h1>{{ lang('ACP_ADDFACTION') }}</h1>
{% endif %}

<p>{{ lang('ACP_ADDFACTIONS_EXPLAIN') }}</p>
<form id="acp_addfaction" method="post" action="{{ U_ACTION2 }}" onsubmit="return check_form(this)">
<div>

<fieldset>
    <dl>
	    <dt><label>{{ lang('GAME') }}:</label><br />{{ lang('GAME_CLASSRACEUPDATE_EXPLAIN') }}</dt>
	  	   <dd>
	      		{{ GAME_NAME }}
	      </dd>
	 </dl>
	<dl>
		<dt><label for="factionname">{{ lang('FACTION_NAME') }}:</label></dt>
		<dd><input class="medium" type="text" id="factionname" name="factionname" value="{{ FACTION_NAME }}" /></dd>
	</dl>
</fieldset>
 <fieldset class="quick" style="float: {{ S_CONTENT_FLOW_END }};">
   {{ S_FORM_TOKEN }}
    <input type="hidden" name="hidden_game_id" value="{{ GAME_ID }}" />
    <input type="hidden" name="hidden_faction_id" value="{{ FACTION_ID }}" />
     {% if ! IS_ADD %}
    <input type="submit" name="factionedit" value="{{ lang('EDIT_FACTION') }}" class="button1" />
     {% else %}
    <input type="submit" name="factionadd" value="{{ lang('ACP_BBGUILD_FACTION_ADD') }}" class="button1" />
     {% endif %}
    <input type="reset" name="reset" value="{{ lang('RESET') }}" class="button1" />
	</fieldset>

</div>
</form>
<script  type="text/javascript">
    //<![CDATA[
    function check_form()
    {
        if (document.getElementById('factionname').value.length < 2)
        {
            alert('{{ MSG_NAME_EMPTY }}');
            return false;
        }
        return true;
    }
    //]]>
</script>
{% INCLUDE 'overall_footer.html' %}

