{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('GENERAL_SETTINGS') }}</h1>
<p>{{ lang('ACP_BBGUILD_CONFIG_EXPLAIN') }}</p>
<form method="post" action="{{ U_ACTION }}" id="updateconfig" >
    <fieldset>
        <legend>{{ lang('MENU_GENERAL') }}</legend>

        <dl>
            <dt><label>{{ lang('BBGUILD_STARTED') }}:</label></dt>
            <dd><input type="text" name="bbguild_start_dd" id="bbguild_start_dd" size="2" maxlength="2" value="{{ EQDKP_START_DD }}" class="input" />
                <input type="text" name="bbguild_start_mm" id="bbguild_start_mm" size="2" maxlength="2" value="{{ EQDKP_START_MM }}" class="input" />
                <input type="text" name="bbguild_start_yy" id="bbguild_start_yy" size="4" maxlength="4" value="{{ EQDKP_START_YY }}" class="input" />
            </dd>
        </dl>
        <dl>
            <dt><label for="date_format">{{ lang('DATE_FORMAT') }}:</label></dt>
            <dd><input type="text" name="date_format" id="date_format" size="20" maxlength="30" value="{{ DATE_FORMAT }}" class="input" /></dd>
        </dl>
        <dl>
            <dt><label for="language">{{ lang('DEFAULT_LANGUAGE') }}:</label><br />{{ lang('DEFAULT_LANGUAGE_EXPLAIN') }}</dt>
            <dd>
                <select id="language" name="language">{{ S_LANG_OPTIONS }}</select>
            </dd>
        </dl>
    </fieldset>
    <fieldset>
        <legend>{{ lang('PLAYERS') }}</legend>
        <dl>
            <dt><label for="bbguild_user_llimit">{{ lang('LISTPLAYERS_PER_PAGE') }}:</label></dt>
            <dd><input type="text" name="bbguild_user_llimit" id="bbguild_user_llimit" size="20" maxlength="30" value="{{ USER_LLIMIT }}" class="input" />{{ FV_DEFAULT_LLIMIT }}</dd>
        </dl>
        <dl>
            <dt><label for="bbguild_maxchars">{{ lang('MAX_NUMBER_CHARS') }}:</label><br /><span>{{ lang('MAX_NUMBER_CHARS_EXPLAIN') }}</span></dt>
            <dd><input type="text" name="bbguild_maxchars" id="bbguild_maxchars" size="5" maxlength="2" value="{{ MAXCHARS }}" class="input" /></dd>
        </dl>
        <dl>
            <dt><label for="bbguild_minrosterlvl">{{ lang('MINLEVELROSTER') }}:</label><br /><span>{{ lang('MINLEVELROSTER_EXPLAIN') }}</span></dt>
            <dd><input type="text" name="bbguild_minrosterlvl" id="bbguild_minrosterlvl" size="5" maxlength="2" value="{{ MINLEVEL }}" class="input" /></dd>
        </dl>
        <dl>
            <dt><label for="bbguild_roster_layout">{{ lang('ARM_LAYOUTDO') }}:</label></dt>
            <dd>
                <select name="bbguild_roster_layout" id="bbguild_roster_layout" class="input">
                    {% for rosterlayout_row in loops.rosterlayout_row %}
                    <option value="{{ rosterlayout_row.VALUE }}"{{ rosterlayout_row.SELECTED }}>{{ rosterlayout_row.OPTION }}</option>
                    {% endfor %}
                </select>
            </dd>
        </dl>
        <dl>
            <dt><label for="bbguild_show_achiev">{{ lang('ARM_SHOWACH') }}</label></dt>
            <dd>
                <input type="checkbox" name="bbguild_show_achiev" id="bbguild_show_achiev" value="1" {% if F_SHOWACHIEV == 1 %} checked="checked"{% endif %}/>
            </dd>
        </dl>
        <dl>
            <dt><label for="bbguild_hide_inactive">{{ lang('HIDE_INACTIVE') }}:</label><br />{{ lang('HIDE_INACTIVE_NOTE') }}</dt>
            <dd>
                <input type="radio" id="bbguild_hide_inactive" name="bbguild_hide_inactive" value="1"{{ HIDE_INACTIVE_YES_CHECKED }} /> {{ lang('YES') }}&nbsp;&nbsp;
                <input type="radio" name="bbguild_hide_inactive" value="0"{{ HIDE_INACTIVE_NO_CHECKED }} /> {{ lang('NO') }}
            </dd>
        </dl>
    </fieldset>
    <fieldset>
        <legend>{{ lang('BLOCK_MOTD_SETTING') }}</legend>
        <dl>
            <dt>
                <label>{{ lang('SHOW_MOTD') }}:</label>
            </dt>
            <dd>
                <input type="radio" name="show_motd_block" value="1" {{ SHOW_WELCOME_YES_CHECKED }} /> {{ lang('YES') }}&nbsp;&nbsp;
                <input type="radio" name="show_motd_block" value="0" {{ SHOW_WELCOME_NO_CHECKED }} /> {{ lang('NO') }}
            </dd>
        </dl>
        <dl>
            <dt><label>{{ lang('BLOCK_MOTD') }}:</label><br />{{ lang('BLOCK_MOTD_EXPLAIN') }}</dt>
            <dd>
                <textarea name="message_of_the_day" rows="3" cols="60" style=" font-size: 100%; width: 99%" class="input">{{ WELCOME_MESSAGE }}</textarea>
            </dd>
        </dl>
    </fieldset>
    <fieldset>
        <legend>{{ lang('NEWSBLOCKSETTING') }}</legend>
        <dl>
            <dt><label for="bbguild_user_nlimit">{{ lang('NEWSNUMBER') }}</label></dt>
            <dd>
                <input type="text" name="bbguild_user_nlimit" id="bbguild_user_nlimit" size="20" maxlength="30" value="{{ USER_NLIMIT }}" class="input" />{{ FV_DEFAULT_NLIMIT }}
            </dd>
        </dl>
    </fieldset>
    {% if S_BP_SHOW %}
    <fieldset>
        <legend>{{ lang('BOSSBLOCKSETTING') }}</legend>
        <dl>
            <dt><label for="show_bosspblock">{{ lang('SHOWBOSSBLOCK') }}</label><br />{{ lang('SHOWBOSSBLOCKNOTE') }}</dt>
            <dd>
                <input type="radio" name="show_bosspblock"  id="show_bosspblock"  value="1"{{ SHOW_BOSS_YES_CHECKED }} /> {{ lang('YES') }}&nbsp;&nbsp;<input type="radio" name="show_bosspblock" value="0"{{ SHOW_BOSS_NO_CHECKED }} /> {{ lang('NO') }}
            </dd>
        </dl>
    </fieldset>
    {% endif %}
    <fieldset>
        <legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
        {{ S_FORM_TOKEN }}
        {{ S_HIDDEN_FIELDS }}
        <input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" /> <input type="reset" name="reset" value="{{ lang('RESET') }}" class="button1" />
    </fieldset>
</form>
{% INCLUDE 'overall_footer.html' %}