{% INCLUDE 'overall_header.html' %}
<style>
    fieldset dt
    {
        width: 25%;
    }

    fieldset dd
    {
        margin-left: 25%;
    }
</style>
<span><h1>{{ lang('TITLE') }}</h1></span>
<div>
    <form id="listplayers" method="post" action="{{ F_PLAYERS_LIST }}">

        <fieldset style="background-color: #EEEEEE">

            <dl>
                <dt><label for="player_guild_id">{{ lang('GUILD') }}:</label></dt>
                <dd>
                    <div style="display: table;">
                        <div style="width:50%; float: left"><a href="{{ U_VIEW_GUILD }}"><img style="width:80px; height:80px" src="{{ GUILD_EMBLEM }}" alt="" /></a></div>
                        <div style="width:50%; vertical-align: middle; display: table-cell;">
                            <select id="player_guild_id" name="player_guild_id" class="input" onchange="javascript:form.submit();" >
                                {% for guild_row in loops.guild_row %}
                                <option value="{{ guild_row.VALUE }}"{{ guild_row.SELECTED }}>{{ guild_row.OPTION }}</option>
                                {% endfor %}
                            </select>

                        </div>

                    </div>
                </dd>
            </dl>
            <dl>
                <dt><label for="player_guild_id">{{ lang('FILTER') }}:</label></dt>
                <dd>
                    <div style="display: table;">

                        <div style = "display:table-row;">
                            <div style="width:33%; display:table-cell;">
                                {{ lang('LEVEL') }}:
                                <input type="text" name="minlevel" id="minlevel" size="5" maxlength="5" value="{{ MINLEVEL }}" class="input" title="{{ lang('MIN') }}" onKeyup="isValidChar(this.value);"/>
                                <input type="text" name="maxlevel" id="maxlevel" size="5" maxlength="5" value="{{ MAXLEVEL }}" class="input" title="{{ lang('MAX') }}" onKeyup="isValidChar(this.value);"/>
                            </div>

                            <div style="width:33%;  display: table-cell;">
                                {{ lang('ACTIVE') }}&nbsp;<input style="cursor: default" name="active" type="checkbox" id="active" value="1" {% if F_SELECTACTIVE == 1 %} checked="checked"{% endif %}  />
                                {{ lang('NONACTIVE') }}&nbsp;<input style="cursor: default" name="nonactive" type="checkbox" id="nonactive" value="1" {% if F_SELECTNONACTIVE == 1 %} checked="checked"{% endif %}  />
                            </div>

                            <div style="width:33%; display: table-cell;">
                                {{ lang('NAME') }}:&nbsp;<input type="text" name="player_name" id="player_name" size="15" maxlength="30" value="{{ PLAYER_NAME }}" class="input" />
                            </div>

                        </div>
                    </div>
                </dd>
            </dl>
            <p class="submit-buttons">
                <input type="submit" name="search" value="{{ lang('SEARCH') }}" class="button1" />
            </p>
        </fieldset>

        <fieldset style="background-color: #EEEEEE">
            {% if S_WOW %}
            <dl>
                <dt style="width: 55%;"><label for="activeplayers">{{ lang('CHARACTERAPICALL') }}:</label>{{ lang('CALL_BATTLENET_CHAR_API') }}</dt>
                <dd style="margin-left: 55%;">
                    <fieldset class="submit-buttons" style=" text-align: left;">
                        <input class="button1" name="charapicall" type="submit" value="{{ lang('UPDATE') }}" title="{{ lang('CHARACTERAPICALL') }}"/>
                        <input type="hidden" name="hidden_minlevel" value="{{ MINLEVEL }}" />
                        <input type="hidden" name="hidden_maxlevel" value="{{ MAXLEVEL }}" />
                        <input type="hidden" name="hidden_active" value="{{ F_SELECTACTIVE }}" />
                        <input type="hidden" name="hidden_nonactive" value="{{ F_SELECTNONACTIVE }}" />
                        <input type="hidden" name="hidden_player_name" value="{{ PLAYER_NAME }}" />
                    </fieldset>
                </dd>
            </dl>
            {% endif %}
            <dl>
                <dt style="width: 55%;"><label for="playeradd">{{ lang('ADD_PLAYER') }}:</label></dt>
                <dd style="margin-left: 55%;">

                    <fieldset class="submit-buttons" style="  text-align: left;">
                        <input class="button1" name="playeradd" type="submit" value="{{ lang('ADD_PLAYER') }}" title="{{ lang('ADD_PLAYER') }}"/>
                    </fieldset>
                </dd>
            </dl>
            {{ S_FORM_TOKEN }}
            {% for players_row in loops.players_row %}
            <input type="hidden" name="hidden_player[{{ players_row.ID }}]" value="{{ players_row.ID }}" />
            {% endfor %}
            <input type="hidden" name="start" value="{{ START }}" />
        </fieldset>

        {% if loops.players_row|length %}
        <div class="pagination">
            {% if loops.pagination|length %}
            {% INCLUDE 'pagination.html' %}
            {% else %}
            {{ PAGE_NUMBER }}
            {% endif %}
        </div>

        <table class="table1 responsive" width="100%" border="0" cellspacing="1" cellpadding="2">
            <thead>
            <tr>
                <th style="text-align:center; width:3%; white-space: nowrap;">{{ lang('ACTIVE') }}<br />
    <span class="small"><a href="#" onclick="marklist('listplayers', 'activate_id', true); return false;">{{ lang('MARK_ALL') }}</a> <br />
    <a href="#" onclick="marklist('listplayers', 'activate_id', false); return false;">{{ lang('UNMARK_ALL') }}</a></span>
                </th>

                <th style="text-align:left; width:3%"><a href="{{ O_ID }}">{{ lang('ID') }}</a></th>
                <th style="text-align:left; width:20%"><a href="{{ O_NAME }}">{{ lang('NAME') }}</a></th>
                <th style="text-align:left; width:15%; white-space: nowrap;"><a href="{{ O_CLASS }}">{{ lang('RACE') }}/{{ lang('CLASS') }}</a></th>
                <th style="text-align:left; width:5%; white-space: nowrap;"><a href="{{ O_LEVEL }}">{{ lang('LEVEL') }}</a></th>
                <th style="text-align:left; width:10%"><a href="{{ O_USERNAME }}">{{ lang('USERNAME') }}</a></th>
                <th style="text-align:left; width:10%"><a href="{{ O_RANK }}">{{ lang('RANK') }}</a></th>
                <th style="text-align:left; width:15%"><a href="{{ O_LAST_UPDATE }}">{{ lang('LAST_UPDATE') }}</a></th>
                <th style="text-align:center; width:6%">{{ lang('EDIT') }}</th>
                <th style="text-align:center; width:6%">{{ lang('DELETE') }}
  	<span class="small"><a href="#" onclick="marklist('listplayers', 'delete_id', true); return false;">{{ lang('MARK_ALL') }}</a> <br />
	<a href="#" onclick="marklist('listplayers', 'delete_id', false); return false;">{{ lang('UNMARK_ALL') }}</a></span>
                </th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th colspan="10" class="footer">{{ LISTPLAYERS_FOOTCOUNT }}</th>
            </tr>
            </tfoot>
            <tbody>
            {% for players_row in loops.players_row %}
            {% if players_row.S_ROW_COUNT is even %}
            <tr class="row1">
                {% elseif players_row.S_ROW_COUNT is not even %}
            <tr class="row2">
                {% endif %}

                {% if players_row.S_READONLY  == 1 %}
            <tr class="highlight">
                {% endif %}
                <td style="text-align:center;"><input type="checkbox" class="radio" name="activate_id[{{ players_row.ID }}]" value="{{ players_row.ID }}" {{ players_row.STATUS }} /></td>

                <td style="text-align:center;">{{ players_row.ID }}</td>
                <td class="row2" style="text-align:left; background-color: {{ players_row.COLORCODE }}" >
                    <a href="{{ players_row.U_VIEW_PLAYER }}"><strong>{{ players_row.NAME }}</strong></a></td>
                <td style="text-align:left;" >{% if players_row.S_RACE_IMAGE_EXISTS %}<img src="{{ players_row.RACE_IMAGE }}" alt="" />&nbsp;{% else %}&nbsp;{% endif %}{% if players_row.S_CLASS_IMAGE_EXISTS %}<img src="{{ players_row.CLASS_IMAGE }}" alt="" />{% else %}&nbsp;{% endif %}&nbsp;<span style="color:{{ players_row.COLORCODE }}" >{{ players_row.CLASS }}</span></td>
                <td style="text-align:center;" >{{ players_row.LEVEL }}</td>
                <td style="text-align:left;" ><a href="{{ players_row.U_VIEW_USER }}">{{ players_row.USERNAME }}</a></td>
                <td style="text-align:left;" >{{ players_row.RANK }}</td>
                <td style="text-align:left;" >{{ players_row.LAST_UPDATE }}</td>
                <td style="text-align:center; white-space: nowrap;">
                    <a href="{{ players_row.U_VIEW_PLAYER }}">{{ ICON_EDIT }}</a>
                </td>
                <td style="text-align:center; white-space: nowrap;">

                    <input type="checkbox" class="radio" name="delete_id[{{ players_row.ID }}]" value="1" {{ players_row.DELETED }} />
                    {% if players_row.S_READONLY == 0 %} <a href="{{ players_row.U_DELETE_PLAYER }}">{{ ICON_DELETE }}</a> {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr class="highlight">
                <td style="text-align:center;"><input class="button2" name="deactivate"
                    type="submit" value="{{ lang('UPDATE') }}" title="{{ lang('CHANGE_STATUS') }}" {{ lang('TOGGLE_ACTIVE') }} /></td>
                <td colspan="8"></td>
                <td style="text-align:center;"> <input class="button2" name="delete" type="submit"
                                                       value="{{ lang('DELETE_SELECTED_PLAYERS') }}" title="{{ lang('MASS_DELETE_CHAR') }}"/></td>
            </tr>

            </tbody>
        </table>

        <div class="pagination">
            {% if loops.pagination|length %}
            {% INCLUDE 'pagination.html' %}
            {% else %}
            {{ PAGE_NUMBER }}
            {% endif %}
        </div>



        {% else %}

        <div class="warningbox">
            <h3>{{ lang('WARNING') }}</h3>
            <p>{{ lang('WARNING_NOPLAYERS') }}</p>
        </div>



        <fieldset class="quick" style="float: {{ S_CONTENT_FLOW_BEGIN }};">
            <input type="submit" name="playeradd"  value="{{ lang('ADD_PLAYER') }}" class="button2" />

        </fieldset>
        {% endif %}
    </form>
</div>
<script  type="text/javascript">
    //<![CDATA[
    function isValidChar(char){
        var txt = char;
        var found = false;
        var validChars = "0123456789"; //List of valid characters

        for(j=0;j<txt.length;j++){ //Will look through the value of text
            var c = txt.charAt(j);
            found = false;
            for(x=0;x<validChars.length;x++){
                if(c==validChars.charAt(x)){
                    found=true;
                    break;
                }
            }
            if(!found){
                //If invalid character is found remove it and return the valid character(s).
                document.getElementById('minlevel').value = char.substring(0, char.length -1);
                document.getElementById('maxlevel').value = char.substring(0, char.length -1);
                break;
            }
        }
    }
    //]]>
</script>
{% INCLUDE 'overall_footer.html' %}
