{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('GENERAL_SETTINGS') }}</h1>
<p>{{ lang('ACP_BBGUILD_CONFIG_EXPLAIN') }}</p>
<form method="post" action="{{ U_ACTION }}" id="updateconfig" >
    <fieldset>
        <legend>{{ lang('MENU_GENERAL') }}</legend>

        <dl>
            <dt><label>{{ lang('BBGUILD_STARTED') }}:</label></dt>
            <dd><input type="date" name="bbguild_start_date" id="bbguild_start_date" value="{{ EQDKP_START_DATE }}" class="input" /></dd>
        </dl>
        <dl>
            <dt><label for="language">{{ lang('DEFAULT_LANGUAGE') }}:</label><br />{{ lang('DEFAULT_LANGUAGE_EXPLAIN') }}</dt>
            <dd>
                <select id="language" name="language">{{ S_LANG_OPTIONS }}</select>
            </dd>
        </dl>
    </fieldset>
    <fieldset>
        <legend>{{ lang('PLAYERS') }}</legend>
        <dl>
            <dt><label for="bbguild_user_llimit">{{ lang('LISTPLAYERS_PER_PAGE') }}:</label><br /><span>{{ lang('LISTPLAYERS_PER_PAGE_EXPLAIN') }}</span></dt>
            <dd><input type="text" name="bbguild_user_llimit" id="bbguild_user_llimit" size="20" maxlength="30" value="{{ USER_LLIMIT }}" class="input" />{{ FV_DEFAULT_LLIMIT }}</dd>
        </dl>
        <dl>
            <dt><label for="bbguild_maxchars">{{ lang('MAX_NUMBER_CHARS') }}:</label><br /><span>{{ lang('MAX_NUMBER_CHARS_EXPLAIN') }}</span></dt>
            <dd><input type="text" name="bbguild_maxchars" id="bbguild_maxchars" size="5" maxlength="2" value="{{ MAXCHARS }}" class="input" /></dd>
        </dl>
        <dl>
            <dt><label for="bbguild_minrosterlvl">{{ lang('MINLEVELROSTER') }}:</label><br /><span>{{ lang('MINLEVELROSTER_EXPLAIN') }}</span></dt>
            <dd><input type="text" name="bbguild_minrosterlvl" id="bbguild_minrosterlvl" size="5" maxlength="2" value="{{ MINLEVEL }}" class="input" /></dd>
        </dl>
        <dl>
            <dt><label for="bbguild_roster_layout">{{ lang('ARM_LAYOUTDO') }}:</label><br /><span>{{ lang('ARM_LAYOUTDO_EXPLAIN') }}</span></dt>
            <dd>
                <select name="bbguild_roster_layout" id="bbguild_roster_layout" class="input">
                    {% for rosterlayout_row in loops.rosterlayout_row %}
                    <option value="{{ rosterlayout_row.VALUE }}"{{ rosterlayout_row.SELECTED }}>{{ rosterlayout_row.OPTION }}</option>
                    {% endfor %}
                </select>
            </dd>
        </dl>
        {% EVENT avathar_bbguild_acp_config_players_after %}
        <dl>
            <dt><label for="bbguild_hide_inactive">{{ lang('HIDE_INACTIVE') }}:</label><br />{{ lang('HIDE_INACTIVE_NOTE') }}</dt>
            <dd>
                <input type="checkbox" name="bbguild_hide_inactive" id="bbguild_hide_inactive" value="1"{% if HIDE_INACTIVE %} checked="checked"{% endif %} />
            </dd>
        </dl>
    </fieldset>
    <fieldset>
        <legend>{{ lang('NEWSBLOCKSETTING') }}</legend>
        <dl>
            <dt><label for="bbguild_user_nlimit">{{ lang('NEWSNUMBER') }}</label><br /><span>{{ lang('NEWSNUMBER_EXPLAIN') }}</span></dt>
            <dd>
                <input type="text" name="bbguild_user_nlimit" id="bbguild_user_nlimit" size="20" maxlength="30" value="{{ USER_NLIMIT }}" class="input" />{{ FV_DEFAULT_NLIMIT }}
            </dd>
        </dl>
    </fieldset>
    {% if S_BP_SHOW %}
    <fieldset>
        <legend>{{ lang('BOSSBLOCKSETTING') }}</legend>
        <dl>
            <dt><label for="show_bosspblock">{{ lang('SHOWBOSSBLOCK') }}</label><br />{{ lang('SHOWBOSSBLOCKNOTE') }}</dt>
            <dd>
                <input type="checkbox" name="show_bosspblock" id="show_bosspblock" value="1"{% if SHOW_BOSS %} checked="checked"{% endif %} />
            </dd>
        </dl>
    </fieldset>
    {% endif %}
    <fieldset>
        <legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
        {{ S_FORM_TOKEN }}
        {{ S_HIDDEN_FIELDS }}
        <input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" /> <input type="reset" name="reset" value="{{ lang('RESET') }}" class="button1" />
    </fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}
