{% INCLUDE 'overall_header.html' %}
<h1>{{ lang('TITLE') }}</h1>
<p>{{ lang('EXPLAIN') }}</p>
<style>
  fieldset dt
  {
    width: 25%;
  }

  fieldset dd
  {
    margin-left: 25%;
  }
</style>
{% if loops.guild_row|length %}
<form method="post" action="{{ U_GUILDLIST }}" id="listguilddefault">

<fieldset style="background-color: #EEEEEE">
<legend>{{ lang('DEFAULT_GUILD') }}</legend>
	<dl>
	<dt>
		{{ lang('DEFAULT_GUILD') }}
	</dt>
	<dd>
		<select name="defaultguild" class="input" id="defaultguild">
	      {% for defaultguild_row in loops.defaultguild_row %}
	         <option value="{{ defaultguild_row.VALUE }}"{{ defaultguild_row.SELECTED }}>{{ defaultguild_row.OPTION }}</option>
	      {% endfor %}
		</select>
		<input type="submit" name="upddefaultguild" value="{{ lang('CONFIRM') }}" class="button1" />
	</dd>
</dl>
</fieldset>

</form>
<form method="post" action="{{ U_GUILD }}" id="listguilds">

<fieldset class="tabulated">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <thead>
  <tr>
    <th style="text-align: left; width:5%">&nbsp;</th>
    <th style="text-align: left; width:20%; white-space: nowrap"><a href="{{ U_LIST_GUILD }}&amp;o={{ O_NAME }}">{{ lang('GUILD_NAME') }}</a></th>
    <th style="text-align: left; width:10%; white-space: nowrap">{{ lang('GAME') }}</a></th>
    <th style="text-align: left; width:20%; white-space: nowrap"><a href="{{ U_LIST_GUILD }}&amp;o={{ O_REALM }}">{{ lang('REALM_NAME') }}</a></th>
    <th style="text-align: left; width:10%;"><a href="{{ U_LIST_GUILD }}&amp;o={{ O_REGION }}">{{ lang('REGION') }}</a></th>
    <th style="text-align: left; width:10%; white-space: nowrap">{{ lang('PLAYERCOUNT') }}</th>
    <th style="text-align: left; width:15%;"><a href="{{ U_LIST_GUILD }}&amp;o={{ O_ROSTER }}">{{ lang('SHOWONROSTER') }}</a></th>
    <th style="text-align: center; width:5%;">{{ lang('ACTION') }}</th>
  </tr>
  </thead>
  <tfoot>
   <tr>
    <th colspan="8" class="footer">{{ GUILDPLAYERS_FOOTCOUNT }}</th>
    </tr>
  </tfoot>
  <tbody>
  {% for guild_row in loops.guild_row %}
  {% if guild_row.S_ROW_COUNT is even %}
  <tr class="row1">
  {% else %}
  <tr class="row2">
  {% endif %}
  {% if guild_row.ID  == 0 %}
  <tr class="highlight">
  {% endif %}
    <td>{{ guild_row.ID }}</td>
    <td><a href="{{ guild_row.U_VIEW_GUILD }}">{{ guild_row.NAME }}</a></td>
    <td>{{ guild_row.GAME }}</td>
    <td>{{ guild_row.REALM }}</td>
    <td>{{ guild_row.REGION }}</td>
    <td>{{ guild_row.PLAYERCOUNT }}</td>
	<td>{{ guild_row.SHOW_ROSTER }}</td>
	<td style="text-align: center;"><a href="{{ guild_row.U_VIEW_GUILD }}">{{ ICON_EDIT }}</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
</fieldset>
</form>
{% else %}
<div class="errorbox">
<h3>{{ lang('ERROR') }}</h3>
<p>{{ lang('ERROR_NOGUILD') }}</p>
</div>

{% endif %}


<form method="post" action="{{ U_ADDGUILD }}" id="addguildform">
<fieldset class="quick" style="float: {{ S_CONTENT_FLOW_BEGIN }};">
	<input class="button2" name="addguild" type="submit" value="{{ lang('ADD') }}" />
</fieldset>
</form>
{% INCLUDE 'overall_footer.html' %}
