{% INCLUDE 'overall_header.html' %}
<style>

    fieldset dt
    {
        width: 25%;
    }

    fieldset dd
    {
        margin-left: 25%;
    }

    .addgame
    {
        /*background-color: #FFF;*/
    }

    input.game_add {
        background-image: url(./images/add.png); /* 16px x 16px */
        background-color: transparent; /* make the button transparent */
        background-repeat: no-repeat;  /* make the background image appear only once */
        background-position: 0px 0px;  /* equivalent to 'top left' */
        border: none;           /* assuming we don't want any borders */
        cursor: pointer;        /* make the cursor like hovering over an <a> element */
        height: 16px;           /* make this the size of your image */
        padding-left: 16px;     /* make text start to the right of the image */
        vertical-align: middle; /* align the text vertically centered */
    }
</style>

<a name="maincontent"></a>

<h1>{{ lang('ACP_NEWGAME') }}</h1>
<br />
<p>{{ lang('ACP_NEWGAME_EXPLAIN') }} {{ lang('PREINSTALLED') }}</p>

{% if S_INSTALLED%}
<fieldset style="background-color: #EEEEEE">
    <legend>{{ lang('DEFAULT_GAME') }}</legend>
    <dl>
        <dt>
            {{ lang('DEFAULT_GAME') }}
        </dt>
        <dd>
            <form id="acp_listgames" method="post" action="{{ U_ACTION }}">
                <select name="defaultgame" class="input" id="defaultgame">
                    {% for defaultgame_row in loops.defaultgame_row %}
                    <option value="{{ defaultgame_row.VALUE }}"{{ defaultgame_row.SELECTED }}>{{ defaultgame_row.OPTION }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="upddefaultgame" value="{{ lang('CONFIRM') }}" class="button1" />
            </form>
        </dd>
    </dl>
</fieldset>
{% endif %}

<fieldset style="background-color: #EEEEEE">
    <legend>{{ lang('ADD_GAME') }}</legend>
    {% if CANINSTALL == 1 %}
    <form id="acp_listgames" method="post" action="{{ U_ACTION }}">
        <dl>
            <dt><label for="ngame_id">{{ lang('ADD_PRECONFIGGAME') }}:</label></dt>
            <dd>
                <select id="ngame_id" name="ngame_id" class="input" >
                    {% for gamelistrow in loops.gamelistrow %}
                    <option value="{{ gamelistrow.VALUE }}"{{ gamelistrow.SELECTED }}>{{ gamelistrow.OPTION }}</option>
                    {% endfor %}
                </select>
                &nbsp;
                <input type="submit" name="addgame1" value="{{ lang('ADD') }}" class="button1"/>
                {{ S_FORM_TOKEN }}
            </dd>
        </dl>

        <dl>
            <dt>
                <label for="region_id">{{ lang('REGION') }}:</label></dt>
            <dd>
                <select id="region_id" name="region_id" class="input">
                    {% for region_row in loops.region_row %}
                    <option value="{{ region_row.VALUE }}"{{ region_row.SELECTED }}>{{ region_row.OPTION }}</option>
                    {% endfor %}
                </select>
            </dd>
        </dl>


    </form>
    {% endif %}
    <form id="acp_listgames" method="post" action="{{ U_ACTION }}">

        <dl>
            <dt><label for="ngame_id">{{ lang('ADD_CUSTOMGAME') }}:</label></dt>
            <dd>
                <input type="text" name="ngame_id" size="10" maxlength="10" value="" class="addgame" />
                <input type="text" name="ngame_name" size="40" maxlength="255" value="" class="addgame" />
                <input type="submit" name="addgame2" value="{{ lang('ADD') }}" class="button1"/>
                {{ S_FORM_TOKEN }}
            </dd>
        </dl>


    </form>
</fieldset>

{% if loops.gamerow|length %}
<fieldset style="width:80%">
    <legend>{{ lang('LIST_GAMES') }}</legend>

    <table width="100%" border="0" cellspacing="1" cellpadding="2">
        <thead>
        <tr>
            <th style="text-align: center; width:5%"><a href="{{ U_LIST_GAME }}&amp;o={{ O_ID }}">{{ lang('ID') }}</a></th>
            <th style="text-align: left; width:15%; white-space: nowrap"><a href="{{ U_LIST_GAME }}&amp;o={{ O_GAMEID }}">{{ lang('GAME_ID') }}</a></th>
            <th style="text-align: left; width:50%; white-space: nowrap"><a href="{{ U_LIST_GAME }}&amp;o={{ O_GAMENAME }}">{{ lang('GAME') }}</a></th>
            <th style="text-align: center; width:10%; white-space: nowrap">{{ lang('STATUS') }}</th>
            <th style="text-align: center; width:10%;">{{ lang('ACTION') }}</th>
        </tr>
        </thead>

        <tbody>
        {% for gamerow in loops.gamerow %}
        {% if gamerow.S_ROW_COUNT is even %}
        <tr class="row1">
            {% else %}
        <tr class="row2">
            {% endif %}
            <td style="text-align: center; width:10%; white-space: nowrap">{{ gamerow.ID }}</td>
            <td><a href="{{ gamerow.U_VIEW_GAME }}">{{ gamerow.GAME_ID }}</a></td>
            <td><a href="{{ gamerow.U_VIEW_GAME }}">{{ gamerow.NAME }}</a></td>
            <td style="text-align: center; width:10%; white-space: nowrap">{{ gamerow.STATUS }}</td>
            <td style="text-align: center;"><a href="{{ gamerow.U_VIEW_GAME }}">{{ ICON_EDIT }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</fieldset>


{% else %}

<div class="errorbox">
    <h3>{{ lang('ERROR') }}</h3>
    <p>{{ lang('ERROR_NOGAMES') }}</p>
</div>

{% endif %}

<script type="text/javascript">
    //<![CDATA[
    function check_form()
    {
        if (document.getElementById('game_name').value.length < 2)
        {
            alert('{{ lang('FV_REQUIRED_GAME_NAME')|escape('js') }}');
            return false;
        }
        if (document.getElementById('game_id').value.length < 2)
        {
            alert('{{ lang('FV_REQUIRED_GAME_ID')|escape('js') }}');
            return false;
        }
        return true;
    }
    //]]>
</script>
{% INCLUDE 'overall_footer.html' %}

