{% INCLUDE 'overall_header.html' %}
{% if ! S_LIST %}
<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>
{% endif %}

<h1>{{ lang('TITLE') }}</h1>
<p>{{ lang('EXPLAIN') }}</p>

{% if S_LIST %}
<form id="list" method="post" action="{{ U_ACTION }}">

    {% if loops.logs_row|length %}
     <fieldset class="tabulated">
        {% if VIEWLOGS_PAGINATION %}
        <div class="pagination">
                <a href="#" onclick="jumpto(); return false;" title="{{ lang('JUMP_TO_PAGE') }}">{{ S_ON_PAGE }}</a> &bull;
                <span>{{ VIEWLOGS_PAGINATION }}</span>
        </div>
        {% endif %}

        <table cellspacing="1">
            <thead>
              <tr>
                <th style="text-align: left, width:5%, white-space: nowrap">{{ lang('ID') }}</th>
                <th style="text-align: left, width:5%, white-space: nowrap" class="rowhead">{{ lang('VIEW_ACTION') }}</th>
                <th style="text-align: left, width:15%, white-space: nowrap" >{{ lang('DATE') }}</th>
                <th style="text-align: left, width:20%, white-space: nowrap">{{ lang('TYPE') }}</th>
                <th style="text-align: left, width:15%, white-space: nowrap">{{ lang('USER') }}</th>
                <th style="text-align: left, width:10%, white-space: nowrap">{{ lang('IP_ADDRESS') }}</th>
                <th style="text-align: left, width:5%, white-space: nowrap">{{ lang('RESULT') }}</th>
                <th>{{ lang('MARK') }}</th>
              </tr>
            </thead>
            <tbody>
          {% for logs_row in loops.logs_row %}
          {% if logs_row.S_ROW_COUNT is even %}<tr class="row1">{% else %}<tr class="row2">{% endif %}
            <td>{{ logs_row.ID }}</td>
            <td>
                <a href="{{ logs_row.U_VIEW_LOG }}"><img src="{{ logs_row.IMGPATH }}" width="16" height="16" alt="View" /></a>
            </td>
            <td>{{ logs_row.DATE }}</td>
            <td>
            {% if logs_row.VERBOSE %}
            <span>{{ logs_row.ACTION }}</span>
            {% else %}
            <span><a href="{{ U_LOGS_SEARCH }}&amp;o={{ CURRENT_ORDER }}&amp;search={{ logs_row.ENCODED_TYPE }}">{{ logs_row.ACTION }}</a></span>
            {% endif %}
            </td>
            <td>{{ logs_row.USER }}</td>
            <td><a href="{{ U_LOGS_SEARCH }}&amp;o={{ CURRENT_ORDER }}&amp;search={{ logs_row.ENCODED_IP }}">{{ logs_row.IP }}</a></td>
            <td class="{{ logs_row.C_RESULT }}">{{ logs_row.RESULT }}</td>
            <td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{{ logs_row.ID }}" /></td>

          </tr>
          {% endfor %}
          <tr>
            <th colspan="8" class="footer">{{ VIEWLOGS_FOOTCOUNT }}</th>
          </tr>
          </tbody>
        </table>

        {% if VIEWLOGS_PAGINATION %}
        <div class="pagination">
            <a href="#" onclick="jumpto(); return false;" title="{{ lang('JUMP_TO_PAGE') }}">{{ S_ON_PAGE }}</a> &bull; <span>{{ VIEWLOGS_PAGINATION }}</span>
        </div>
        {% endif %}

        <fieldset class="quick" style="float: {{ S_CONTENT_FLOW_END }};">
            {{ S_FORM_TOKEN }}
            <input class="button2" type="submit" name="delmarked" value="{{ lang('DELETE_MARKED') }}" /><br />
            <p class="small"><a href="#" onclick="marklist('list', 'mark', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('list', 'mark', false); return false;">{{ lang('UNMARK_ALL') }}</a></p>
        </fieldset>
    </fieldset>
    {% else %}

    <div class="warningbox">
    <h3>{{ lang('WARNING') }}</h3>
    <p>{{ lang('INFO_NOLOGS') }}</p>
    </div>
    {% endif %}
</form>
{% else %}


<fieldset>
    <legend>{{ lang('VIEWLOGS_TITLE') }}</legend>

    <dl>
        <dt>
            {{ lang('DATE') }}
        </dt>
        <dd>
            {{ LOG_DATE }}
        </dd>
    </dl>
    <dl>
        <dt>
            {{ lang('USERNAME') }}
        </dt>
        <dd>
            {{ LOG_USERNAME }}
        </dd>
    </dl>
    <dl>
        <dt>
            {{ lang('IP_ADDRESS') }}
        </dt>
        <dd>
            {{ LOG_IP_ADDRESS }}
        </dd>
    </dl>
    <dl>
        <dt>
            {{ lang('SESSION_ID') }}
        </dt>
        <dd>
            {{ LOG_SESSION_ID }}
        </dd>
    </dl>
    <dl>
        <dt>
            {{ lang('RESULT') }}
        </dt>
        <dd>
            {{ LOG_RESULT }}
        </dd>
    </dl>
    </fieldset>
    <fieldset>
    <legend>{{ LOG_ACTION }}</legend>
      {% for logaction_row in loops.logaction_row %}
    <dl>
        <dt>
            {{ logaction_row.KEY }}
        </dt>
        <dd>
            {{ logaction_row.VALUE }}
        </dd>
    </dl>
      {% endfor %}

</fieldset>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
