# ignore Mac invisibles
.DS_Store
# ignore eclipse directories
.project
.settings
.cache
docs/epgp.xlsx

README.md

.idea/.name

.idea/.name

.idea/bbDKP.iml

*.iml

.idea/workspace.xml

.idea/workspace.xml
