<div class="forabg">
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <ul class="topiclist" style="padding: 4px">
            <li class="header">
                <dl>
                    <dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px;">
                        {L_LASTLOOT}
                    </dt>
                </dl>
            </li>
        </ul>
        <!-- IF  .itemit -->
        <ul class="topiclist forums" style="padding: 4px">
            <!-- BEGIN itemit -->
            <li style="list-style:none"><strong>{itemit.ITEMI1}</strong></li>
            <!-- END itemit -->
        </ul>
        <!-- ENDIF -->
        <span class="corners-bottom"><span></span></span>
    </div>
</div>