<div class="forabg">
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <div class="bbdkpblock">
        <ul class="topiclist" style="padding: 4px">
            <li class="header">
                <dl>
                    <dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px;">
                        {L_LATESTMEMBERS}
                    </dt>
                </dl>
            </li>
        </ul>
        <ul class="topiclist forums" style="padding: 4px">
            <li style="list-style:none" >
                <table class="tablebg" cellspacing="1" width="100%">
                    <tr>
                        <td class="row3" align="left" nowrap="nowrap"><span class="gensmall"><strong>{L_USERNAME}</strong></span></td>
                        <td class="row3" align="right" nowrap="nowrap"><span class="gensmall"><strong>{L_JOINED}</strong></span></td>
                    </tr>
                    <!-- BEGIN latest_members -->
                    <!-- IF latest_members.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
                    <td class="gensmall" align="left" valign="middle"><img src="images/bbdkp/portal/member.gif" /> <strong><a href="{latest_members.U_USERNAME}"><span<!-- IF latest_members.USERNAME_COLOR -->{latest_members.USERNAME_COLOR}<!-- ENDIF -->>{latest_members.USERNAME}</span></a></strong><br /></td>
                    <td class="gensmall" align="right" nowrap="nowrap" valign="middle">{latest_members.JOINED}</td>
                </tr>
                    <!-- END latest_members -->
                </table>
            </li>
        </ul>
            </div>
        <span class="corners-bottom"><span></span></span>
    </div>
</div>

