<!-- INCLUDE overall_header.html -->
<!-- INCLUDE dkp/dkpmenu.html -->
<!--
	Bossprogress Subsilver2
	Integrated by bbDKP
	http://code.google.com/p/bbdkp/
	$Id$
-->

<table width="100%" class="tablebg" border="0" cellspacing="0" cellpadding="2" style="border-bottom: none">
<tr>
<th>
   <h1 style ="text-align:left; color:#dfc065">{L_BOSSPROGRESS}</h1>
</th>
</tr>
</table>
<br />
<div style="text-align:center">
<table  class="tablebg" style="width:800px; margin-left:auto;margin-right:auto;" border="0" cellspacing="0"  >

<!-- IF S_STYLE == 0 -->
<colgroup  span="4">
<col width="20%"></col>
<col width="30%"></col>
<col width="30%"></col>
<col width="20%"></col>
</colgroup>
<!-- ENDIF -->
<!-- IF S_STYLE == 1 -->
<colgroup  span="4">
<col width="50%"></col>
<col width="20%"></col>
<col width="20%"></col>
<col width="10%"></col>
</colgroup>
<!-- ENDIF -->
<!-- IF S_STYLE == 2 -->
<colgroup  span="3">
<col width="33%"></col>
<col width="33%"></col>
<col width="33%"></col>
</colgroup>
<!-- ENDIF -->

<!-- BEGIN zone -->
<tbody>
<tr class="row1">
<td  colspan="4">
<div class="progresspage">
	<dl>
		<dd style="text-align:center; background: url({zone.ZONEBACKIMG})">
			<div style="width:{zone.ZONECOMPLETE}%; background: url({zone.ZONEPROGRESSIMG});">
			</div>
		</dd>
	</dl>
</div>

</td>
</tr>

<!-- IF S_STYLE == 2 -->
<tr>
<td colspan="1" class="row2" style="text-align:center;">
<div class="progresspage">
	<dl style="width:197px; height:20px">
		<dd style="width:197px; height:20px">
			<div style="width:{zone.ZONECOMPLETE}%; height:18px"><strong></strong> 
			</div>
		</dd>
	</dl>
</div>
</td>
<td colspan="2" class="row2" style="text-align:center;">
	<strong>{zone.ZONENAME}</strong> -- {zone.ZONESTATS}
</td>
</tr>
<!-- ELSE -->
<tr>
	<td style="text-align:center" colspan="4" class="row2">
	<span><strong>{zone.ZONENAME}</strong> -- {zone.ZONESTATS}</span></td>
</tr>
<!-- ENDIF -->


<!-- IF S_STYLE == 0 -->

<!--  
************************
  raidprogress default 
************************
-->


<!-- BEGIN boss -->
<!-- IF boss.S_ROW_COUNT is even -->
<tr class="row1" >
	<td style="text-align:center">
		<a href="{boss.BOSSLINK}"><img src="{zone.boss.BOSSIMG}" height="70" width="70" alt="{zone.boss.BOSSIMGALT}" /></a>
	</td>
	<td style="text-align:left">
		<h4><a href="{boss.BOSSLINK}"><strong>{boss.BOSSNAME}</strong></a></h4>
		<!-- IF zone.boss.BOSSCOUNT > 0 -->		
		<img src="{T_IMAGES_PATH}bossprogress/rp/1.png" alt="" /><br />
		<!-- ELSE -->
		<img src="{T_IMAGES_PATH}bossprogress/rp/0.png" alt="" />
		<!-- ENDIF -->
		{zone.boss.FIRSTKILL}<br />
		{zone.boss.LASTKILL}<br />
		{zone.boss.BOSSCOUNTSTR}<br />
	</td>
	<!-- IF boss.S_LAST_ROW -->
	<td></td><td></td></tr>
	<!-- ENDIF -->
<!-- ELSE -->
	<td style="text-align:right">
		<h4><a href="{boss.BOSSLINK}"><strong>{boss.BOSSNAME}</strong></a></h4>	
		<!-- IF zone.boss.BOSSCOUNT > 0 -->
		<img src="{T_IMAGES_PATH}bossprogress/rp/1.png" alt="" /><br />
		<!-- ELSE -->
		<img src="{T_IMAGES_PATH}bossprogress/rp/0.png" alt="" />
		<!-- ENDIF -->
		{zone.boss.FIRSTKILL}<br />
		{zone.boss.LASTKILL}<br />
		{zone.boss.BOSSCOUNTSTR}<br />
	</td>
	<td style="text-align:center">
		<a href="{boss.BOSSLINK}"><img src="{zone.boss.BOSSIMG}" height="70" width="70" alt="{zone.boss.BOSSIMGALT}" /></a>
	</td>
	</tr>
<!-- ENDIF -->
<!-- END boss -->
</tbody>
<!-- ENDIF -->

<!-- IF S_STYLE == 1 -->
<!--  
************************
  raidprogress simple 
************************
-->

<!-- BEGIN boss -->
<tr class="row1" >
	<td style="text-align:left"> Name: <a href="{boss.BOSSLINK}"><strong>{boss.BOSSNAME}</strong></a></td>
	<td> {zone.boss.FIRSTKILL} </td>
	<td> {zone.boss.LASTKILL} </td>
	<td> {zone.boss.BOSSCOUNTSTR} </td>
	</tr>
<!-- END boss -->
</tbody>
<!-- ENDIF -->

<!-- IF S_STYLE == 2 -->

<!--  
************************
  raidprogress 3/row 
************************
-->

<!-- BEGIN boss -->
<!-- IF boss.S_ROW_COUNT % 3 == 0 -->
	<tr class="row1" >
<!-- ENDIF -->
	<td style="text-align:left">
	<!-- IF zone.boss.BOSSCOUNT > 0 -->
		<img src="{T_IMAGES_PATH}bossprogress/rp/1.png" alt="" />
		<a href="{boss.BOSSLINK}"><strong>{boss.BOSSNAME} : {zone.boss.BOSSCOUNTSTR}</strong></a>				
		{boss.LASTKILL}
	<!-- ELSE -->
		<img src="{T_IMAGES_PATH}bossprogress/rp/0.png"  alt="" />
		<a href="{boss.BOSSLINK}"><strong>{boss.BOSSNAME}</strong></a>	
	<!-- ENDIF -->	
	</td>
<!-- IF boss.S_ROW_COUNT % 3 == 0 -->
	<!-- IF boss.S_LAST_ROW -->
	<td></td><td></td></tr>
	<!-- ENDIF -->
<!-- ELSEIF boss.S_ROW_COUNT % 3 == 1 -->
	<!-- IF boss.S_LAST_ROW -->
	<td></td></tr>
	<!-- ENDIF -->
<!-- ELSEIF boss.S_ROW_COUNT % 3 == 2 -->
	</tr>
<!-- ENDIF -->
<!-- END boss -->
</tbody>
<!-- ENDIF -->

<!-- END zone -->
</table>
</div>



<!-- INCLUDE overall_footer.html -->