<!--
		Integrated by bbDKP
		http://code.google.com/p/bbdkp/
		$Id$
//-->
<div>
<table class="tablebg" cellpadding="0" cellspacing="1" width="100%">
<tr class="dkpmenu" >		
<td class="cat" align="center">
	<a class="dkpmenu" href="viewnews.php">{L_MENU_NEWS}</a>
    &nbsp; &nbsp;<a class="dkpmenu" href="{U_ROSTER}">{L_MENU_ROSTER}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_LISTMEMBERS}">{L_MENU_STANDINGS}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_LISTRAIDS}">{L_MENU_RAIDS}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_LISTEVENTS}">{L_MENU_EVENTS}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_LISTITEMS}">{L_MENU_ITEMVAL}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_LISTITEMHIST}">Item History</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_STATS}">{L_MENU_STATS}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_BP}">{L_MENU_BOSS}</a>
	<!-- IF U_ACP -->&nbsp; &nbsp;<a class="dkpmenu" href="{U_DKP_ACP}">{L_MENU_ADMIN_PANEL}</a> <!-- ENDIF -->
</td>	  
</tr>
</table>
</div>
