<!-- INCLUDE overall_header.html -->
<!-- INCLUDE dkp/dkpmenu.html -->
<!--
		Prosilver
		Integrated by bbDKP
		http://code.google.com/p/bbdkp/
		$Id$
//-->
<form method="post" action="{U_LIST_RAIDS}">

<table class="tablebg" width="100%" border="0" cellspacing="0" cellpadding="2" style="border-bottom: none">
<colgroup  span="2">
<col width="20%"></col>
<col width="80%"></col>
</colgroup>
<tr>
<th style="text-align:left; white-space:nowrap;"><h1 style ="color:#dfc065;">{L_RAIDS}</h1></th>
<th style="color:white; text-align:left; width:56; white-space:nowrap;">{L_POOL}:
      <select name="pool" class="input" onchange="javascript:form.submit();">
        <!-- BEGIN pool_row -->
        <option value="{pool_row.VALUE}" {pool_row.SELECTED}{pool_row.DISABLED}>{pool_row.OPTION}</option>
        <!-- END pool_row -->
      </select>
 </th>
</tr>
</table>
</form> 
<br />

<!-- IF RAID_PAGINATION -->
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">
    <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> 
    <span>{RAID_PAGINATION}<br /><br /></span>
    </td>
  </tr>
</table>
<!-- ENDIF -->

<table class="tablebg" width="100%" border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
    <th style="text-align:left; width:5%;">{L_RAID}</th>
    <th style="text-align:center; width:5%;"><a href="{O_DATE}">{L_DATE}</a></th>
    <th style="text-align:left; width:15%;" ><a href="{O_NAME}">{L_EVENT}</a></th>
    <th style="text-align:center; width:5%;">{L_ATTENDEES}</th> 
    <th style="text-align:left; width:15%;"><a href="{O_NOTE}">{L_NOTE}</a></th>
    
    <th style="text-align:right;" width="11%" nowrap="nowrap"><a href="{U_VIEW_EVENT}o={O_VALUE}">{L_RAIDVALUE}</a></th>    
    <!-- IF S_SHOWTIME -->
    <th style="text-align:right;" width="11%" nowrap="nowrap">{L_TIMEVALUE}</th>
    <!-- ENDIF -->
    <!-- IF S_SHOWZS -->
    <th style="text-align:right;" width="11%" nowrap="nowrap">{L_ZSVALUE}</th>
    <!-- ENDIF -->
    <!-- IF S_SHOWDECAY -->
    <th style="text-align:right;" width="11%" nowrap="nowrap">{L_DECAY}</th>
    <!-- ENDIF -->
    <th style="text-align:right;" width="11%" nowrap="nowrap">{L_TOTAL}</th>
</tr>
</thead>
<!-- BEGIN raids_row -->
<tr class="<!-- IF raids.S_ROW_COUNT is even -->row1<!-- ELSE -->row2<!-- ENDIF -->">
	
	<td style="text-align:left; width:5%;"><a href="{raids_row.U_VIEW_RAID}"><img src="adm/images/glyphs/view.gif" width="16" height="16" alt="View" /></a> </td>
    <td style="text-align:center; width:5%;"><a href="{raids_row.U_VIEW_RAID}">{raids_row.DATE}</a></td> 
    <td style="text-align:left; width:15%;"><a href="{raids_row.U_VIEW_EVENT}">{raids_row.NAME}</a></td>
    <td style="text-align:center;width:5%; ">{raids_row.ATTENDEES}</td> 
    <td style="text-align:left; width:15%;"><a href="{raids_row.U_VIEW_RAID}">{raids_row.NOTE}</a></td>
    
    <td style="text-align:right;" width="11%" ><span class="positive">{raids_row.RAIDVALUE}</span></td>
    <!-- IF S_SHOWTIME -->
    <td style="text-align:right;" width="11%" ><span class="positive">{raids_row.TIMEVALUE}</span></td>
    <!-- ENDIF -->
    <!-- IF S_SHOWZS -->
    <td style="text-align:right;" width="11%" ><span class="positive">{raids_row.ZSVALUE}</span></td>
    <!-- ENDIF -->
    <!-- IF S_SHOWDECAY -->
    <td style="text-align:right;" width="11%" ><span class="negative">{raids_row.DECAYVALUE}</span></td>
    <!-- ENDIF -->
    <td style="text-align:right;" width="11%" ><span class="positive">{raids_row.TOTAL}</span></td>    
    
</tr>
  <!-- END raids_row -->
<tfoot>
<tr>
	<th  style="text-align: left; white-space: nowrap; color:white;" colspan="0">{LISTRAIDS_FOOTCOUNT}</th>
</tr>
</tfoot>
</table>

<hr />

<!-- IF RAID_PAGINATION -->  
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">
    <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> 
    <span>{RAID_PAGINATION}<br /><br /></span>
    </td>
  </tr>
</table>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->
