<!-- INCLUDE ucp_header.html -->

<form id="characters" method="post" action="{U_ACTION}">

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2" valign="middle">{DKPCHAR_TITLE}</th>
</tr>
<!-- IF ERROR -->
<tr>
	<td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
</tr>
</table>
<!-- ELSE -->

<!-- IF S_SHOW -->

<!-- IF  .members_row -->


<table class="tablebg" width="100%" border="0" cellspacing="0" cellpadding="2">
	<!-- BEGIN members_row -->
	<tr class="row3">
		<td width="15" nowrap="nowrap" align="center"><strong>{members_row.COUNT}</strong></td>
		<td width="20%" nowrap="nowrap" style="text-align:center;" ><strong><h4> <span style="color:{members_row.COLORCODE}">{members_row.NAME}</span></h4></strong></td>
		<td width="20%" nowrap="nowrap" style="text-align:center;">
		<!-- IF members_row.S_RACE_IMAGE_EXISTS --><img src="{members_row.RACE_IMAGE}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
		<!-- IF members_row.S_CLASS_IMAGE_EXISTS --><img src="{members_row.CLASS_IMAGE}" alt="{members_row.CLASS}" /><!-- ELSE -->&nbsp;<!-- ENDIF -->&nbsp;</span>
		</td>
		<td width="20" nowrap="nowrap"><strong>{L_LEVEL} {members_row.LEVEL}</strong></td>
		<td></td>
		<!-- IF S_SHOWEPGP --> 
			<td></td>
		<!-- ENDIF -->	
	</tr>

	<!-- BEGIN dkp_row -->
		<!-- IF members_row.S_ROW_COUNT is even -->
		<tr class="row1">
			<!-- ELSE -->
		<tr class="row2">
		<!-- ENDIF -->
		<td width="20" nowrap="nowrap"><a href="{members_row.dkp_row.U_VIEW_MEMBER}"> {members_row.dkp_row.DKPSYS}</td>
		<td width="20" nowrap="nowrap">{L_EARNED} : {members_row.dkp_row.EARNED}</td>
		<td width="20" nowrap="nowrap">{L_SPENT} : {members_row.dkp_row.SPENT}</td>
		<td width="20" nowrap="nowrap">{L_ADJUSTMENT} : {members_row.dkp_row.ADJUSTMENT}</td>
		<td width="20" nowrap="nowrap">{L_CURRENT}  : {members_row.dkp_row.CURRENT}</td>
		<!-- IF S_SHOWEPGP --> 
		<td width="20" nowrap="nowrap">{L_PR} : {members_row.dkp_row.PR}</td>
		<!-- ENDIF -->
	</tr>
	<!-- END dkp_row -->
	
	<!-- END members_row -->

</table>

<!-- ELSE -->
	<p class="error">{L_NO_CHARACTERS}</p><p><br /></p>
<!-- ENDIF -->

<!-- IF S_SHOW_BUTTONS -->
<table class="tablebg" width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr class="row1">
		<td>{L_CHARACTER_EXPLAIN}</td>
		<td>
			  <select id="dkpmember" name="dkpmember">{S_DKPMEMBER_OPTIONS}</select>
		</td>
	</tr>
	<tr class="cat">
		<td colspan="2" align="center">
		<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" />{S_FORM_TOKEN}</td>
	</tr>
<!-- ENDIF -->
</table>



<!-- ENDIF --> 

<!-- ENDIF -->
</form>
									

<!-- INCLUDE ucp_footer.html -->
