<!-- INCLUDE overall_header.html -->
<!-- INCLUDE dkp/dkpmenu.html -->
<!--
		Integrated by bbDKP
		http://code.google.com/p/bbdkp/
		$Id$
//-->
<table width="100%" class="tablebg" cellpadding="0" cellspacing="1" >
   <tr>
      <th class="row1"><h2><font color="#dfc065">{NAME} : {POOL} {CURRENT} {L_DKP}</font></h2></th>
   </tr>
</table>

<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <td class="row1" width="20%" nowrap="nowrap"><strong>{L_EARNED}</strong>: <span class="positive">{EARNED}</span></td>
    <td class="row2" width="20%" nowrap="nowrap"><strong>{L_SPENT}</strong>: <span class="negative">{SPENT}</span></td>
    <td class="row1" width="20%" nowrap="nowrap"><strong>{L_ADJUSTMENT}</strong>: <span class="{C_ADJUSTMENT}">{ADJUSTMENT}</span></td>
    <td class="row2" width="40%" nowrap="nowrap"><strong>{L_CURRENT}</strong>: <span class="{C_CURRENT}">{CURRENT}</span></td>
  </tr>
  <tr>
    <td class="row2" width="20%" nowrap="nowrap"><strong>{RAIDS_X1_DAYS}</strong>: <span>{C_RAIDS_X1_DAYS}%</span></td>
    <td class="row1" width="20%" nowrap="nowrap"><strong>{RAIDS_X2_DAYS}</strong>: <span>{C_RAIDS_X2_DAYS}%</span></td>
    <td class="row2" width="20%" nowrap="nowrap"><strong>{RAIDS_X3_DAYS}</strong>: <span>{C_RAIDS_X3_DAYS}%</span></td>
    <td class="row1" width="40%" nowrap="nowrap"><strong>{RAIDS_LIFETIME}</strong>: <span>{C_RAIDS_LIFETIME}%</span></td>
  </tr>
</table>

<!-- **************************** Raids ******************************** -->

<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center" style = "color:#dfc065" colspan="5">{L_RAID_ATTENDANCE_HISTORY}</th>
  </tr>
  <tr>
    <th align="left" width="70" nowrap="nowrap">{L_DATE}</th>
    <th align="left" width="35%">{L_NAME}</th>
    <th align="left" width="65%">{L_NOTE}</th>
    <th align="left" width="60" nowrap="nowrap">{L_EARNED}</th>
    <th align="left" width="70" nowrap="nowrap">{L_CURRENT}</th>
  </tr>
  <!-- BEGIN raids_row -->
    <!-- IF raids_row.S_ROW_COUNT is even --><tr width="900" class="row1"><!-- ELSE --><tr width="800" class="row2"><!-- ENDIF -->   
    <td width="70" nowrap="nowrap">{raids_row.DATE}</td>
    <td width="35%"><a href="{raids_row.U_VIEW_RAID}">{raids_row.NAME}</a></td>
    <td width="65%">{raids_row.NOTE}</td>
    <td width="60" nowrap="nowrap" class="positive">{raids_row.EARNED}</td>
    <td width="70" nowrap="nowrap" class="positive">{raids_row.CURRENT_EARNED}</td>
  </tr>
  <!-- END raids_row -->
  <tr>
    <th colspan="5" class="footer">{RAID_FOOTCOUNT}</th>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">{RAID_PAGINATION}</td>
  </tr>
</table>

<!-- IF ITEMS --><br />
<!-- **************************** Items ******************************** -->
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center" colspan="5" style = "color:#dfc065" >{L_ITEM_PURCHASE_HISTORY}</th>
  </tr>
  <tr>
    <th align="left" width="70" nowrap="nowrap">{L_DATE}</th>
    <th align="left" width="50%">{L_NAME}</th>
    <th align="left" width="50%">{L_RAID}</th>
    <th align="left" width="60" nowrap="nowrap">{L_SPENT}</th>
    <th align="left" width="70" nowrap="nowrap">{L_CURRENT}</th>
  </tr>
  <!-- BEGIN items_row -->
  <!-- IF items_row.S_ROW_COUNT is even --><tr width="900" class="row1"><!-- ELSE --><tr width="800" class="row2"><!-- ENDIF -->   

    <td width="70" nowrap="nowrap">{items_row.DATE}</td>
    <td width="50%"><a href="{items_row.U_VIEW_ITEM}">{items_row.NAME}</a></td>
    <td width="50%"><a href="{items_row.U_VIEW_RAID}">{items_row.RAID}</a></td>
    <td width="60" nowrap="nowrap" class="negative">{items_row.SPENT}</td>
    <td width="70" nowrap="nowrap" class="negative">{items_row.CURRENT_SPENT}</td>
  </tr>
  <!-- END items_row -->
  <tr>
    <th colspan="5" class="footer">{ITEM_FOOTCOUNT}</th>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">{ITEM_PAGINATION}</td>
  </tr>
</table>


  <!-- ENDIF -->
  
<!-- **************************** Adjustments ******************************** -->  
<!-- IF S_COMP -->

<!-- IF ADJUSTMENT -->
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center" colspan="3" style = "color:#dfc065">{L_INDIVIDUAL_ADJUSTMENT_HISTORY}</th>
  </tr>
  <tr>
    <th align="left" width="70" nowrap="nowrap">{L_DATE}</th>
    <th align="left" width="100%">{L_REASON}</th>
    <th align="left" width="90" nowrap="nowrap">{L_ADJUSTMENT}</th>
  </tr>
  <!-- BEGIN adjustments_row -->
    <!-- IF adjustments_row.S_ROW_COUNT is even --><tr width="800" class="row1"><!-- ELSE --><tr width="800" class="row2"><!-- ENDIF -->   

    <td width="70" nowrap="nowrap">{adjustments_row.DATE}</td>
    <td width="100%">{adjustments_row.REASON}</td>
    <td width="90" nowrap="nowrap" class="{adjustments_row.C_INDIVIDUAL_ADJUSTMENT}">{adjustments_row.INDIVIDUAL_ADJUSTMENT}</td>
  </tr>
  <!-- END adjustments_row -->
  <tr>
    <th colspan="3" class="footer">{ADJUSTMENT_FOOTCOUNT}</th>
  </tr>
</table>
  <!-- ENDIF -->
  <!-- ELSE -->
  <!-- ENDIF -->
  
  <!-- **************************** Attendance ******************************** -->
  
<br />

<a name="byevent" />
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center" colspan="2" style = "color:#dfc065">{L_ATTENDANCE_BY_EVENT}</th>
  </tr>
  <tr>
    <th align="left" width="200"><a href="{U_VIEW_MEMBER}o={O_EVENT}#byevent">{L_EVENT}</a></th>
    <th align="left" width="100%"><a href="{U_VIEW_MEMBER}o={O_PERCENT}#byevent">{L_PERCENT}</a></th>
  </tr>
  <!-- BEGIN event_row -->
  <tr>
    <td width="200" class="row2" nowrap="nowrap"><a href="{event_row.U_VIEW_EVENT}" class="small">{event_row.EVENT}</a></td>
    <td width="900" class="row1">{event_row.BAR}</td>
  </tr>
  <!-- END event_row -->
  <tr>
    <th colspan="2">&nbsp;</th>
  </tr>
</table>
<br /><br />
<!-- INCLUDE overall_footer.html -->
