<!-- INCLUDE overall_header.html -->
<!-- INCLUDE dkp/dkpmenu.html -->
<!--
		Integrated by bbDKP
		http://code.google.com/p/bbdkp/
		$Id$
//-->

<table class="tablebg" width="100%" class="tablebg" cellpadding="0" cellspacing="1" >
<tr>
      <th style="text-align:left; white-space:nowrap;"><h1><font color="#dfc065">{L_NEWS}</font></h1></th>
</tr>
</table>
<br />
<table class="tablebg" width="100%" border="0" cellspacing="1" cellpadding="2">
<thead>
<!-- BEGIN date_row -->
<tr>
  <th align="left">{date_row.DATE}</th>
</tr>
<!-- BEGIN news_row -->
</thead>
<tbody>
<tr>

<!-- IF date_row.news_row.S_ROW_COUNT is even -->
<td class="row1">
<!-- ELSE -->
<td class="row2">
<!-- ENDIF -->
<b style="font-size:13px">{date_row.news_row.HEADLINE}</b> 
<span class="small">(submitted by {date_row.news_row.AUTHOR} at {date_row.news_row.TIME})</span><br /><br />
{date_row.news_row.MESSAGE}
</td>
</tr>
<!-- END news_row -->
<!-- END date_row -->
</tbody>
<tfoot>
<tr>
   <th class="footer">&nbsp;</th>
</tr>
</tfoot>
</table>

<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">{NEWS_PAGINATION}</td>
  </tr>
</table>
<!-- INCLUDE overall_footer.html -->
