<div style="float: left; width:49%; white-space:nowrap;">
<h2 style="white-space:nowrap;">{L_MENU_ITEMVAL}</h2>
</div>

<form method="post" action="{F_LISTITEM}">
<div style="float: right; width:49%; white-space:nowrap; text-align: right;">
<br/>
<div style="text-align:right; white-space:nowrap;" >{L_POOL}:
<select name="pool" class="input" onchange="javascript:form.submit();">
<!-- BEGIN pool_row -->
<option value="{pool_row.VALUE}"{pool_row.SELECTED}{pool_row.DISABLED}>{pool_row.OPTION}</option>
<!-- END pool_row -->
</select>
</div>
</div>
</form>
<hr />

<!-- IF ITEM_PAGINATION -->
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
		<span>{ITEM_PAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->
<div class="forumbg forumbg-table">
<div class="inner">
<span class="corners-top"><span></span></span>
<table class="table1" width="100%" cellspacing="0">
<thead>
  <tr style="color:white;">
    <th style="text-align:left; width:30%"><a href="{O_ITEMNAME}"><img src="adm/images/glyphs/view.gif" width="16" height="16" alt="View" /></a> &nbsp;<a href="{O_ITEMNAME}">{L_ITEM}</a></th>
    <th style="text-align:left; width:5%" ><a href="{O_DATE}">{L_DATE}</a></th>
    <th style="text-align:left; width:15%"><a href="{O_RAID}">{L_RAID}</a></th>
    <th style="text-align:right; width:7%; "><a href="{O_DROPCOUNT}">&nbsp;#&nbsp;</a></th>
    <th style="text-align:right; width:7%; ">{L_ITEMVALUE}</th>
    <!-- IF S_SHOWDECAY -->
    <th style="text-align:right; width:7%; ">{L_ITEMDECAY}</th>
    <!-- ENDIF -->
    <th style="text-align:right; width:7%; "><a href="{O_VALUE}">{L_ITEMTOTAL}</a></th>


  </tr>
  </thead>
  <tfoot>
  	<tr style="color:white;">
    	<th style="text-align:left; white-space: nowrap; width:35%" colspan="3">
    	{LISTITEMS_FOOTCOUNT}
    	</th>
    	<th></th>
    	<th style="text-align:right; width:10%">{TOTAL_ITEMVALUE}</th>
	    <!-- IF S_SHOWDECAY -->
	    <th style="text-align:right; width:10%">{TOTAL_ITEMDECAY}</th>
	    <!-- ENDIF -->
	    <th style="text-align:right; width:15%">{TOTAL_ITEMTOTAL}</th>
  </tr>
  </tfoot>
  <tbody>
  <!-- BEGIN items_row -->
  <tr <!-- IF items_row.S_ROW_COUNT is even -->class="bg1"<!-- ELSE -->class="bg2"<!-- ENDIF -->>
    <td style="text-align:left; width:30%;"><a href="{items_row.U_VIEW_ITEM}"><img src="adm/images/glyphs/view.gif" width="16" height="16" alt="View" /></a> &nbsp;<strong><a href="{items_row.U_VIEW_ITEM}">{items_row.ITEMNAME}</a></strong></td>
	<td style="text-align:left; width:5%;"><a href="{items_row.U_VIEW_RAID}">{items_row.DATE}</a></td>
    <td style="text-align:left; width:30%; white-space: nowrap;"><a style="color:{items_row.EVENT_COLOR}" href="{items_row.U_VIEW_RAID}">{items_row.RAID}</a></td>
    <td style="text-align:right; width:7%"><span class="positive" >{items_row.DROPCOUNT}</span></td>
    <td style="text-align:right; width:7%"><span class="negative">{items_row.ITEMVALUE}</span></td>
    <!-- IF S_SHOWDECAY -->
    <td style="text-align:right; width:7%"><span class="positive" >{items_row.DECAYVALUE}</span></td>
    <!-- ENDIF -->
    <td style="text-align:right; width:7%"><strong><span class="negative" >{items_row.TOTAL}</span></strong></td>

  </tr>
  <!-- END items_row -->
  </tbody>

</table>
<span class="corners-bottom"><span></span></span>
</div>
</div>
<!-- IF ITEM_PAGINATION -->
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
		<span>{ITEM_PAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->