<!--  profile sidebar -->
<script type="text/javascript">
//<![CDATA[
function check_nav()
{
    return true;
}
//]]>
</script>

<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<ul class="topiclist" style="padding: 4px">
<li class="header">
<dl>
<dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px;">
<h4>{GUILD_NAME}</h4>
</dt>
</dl>
</li>
</ul>

<img src="{EMBLEM}" alt="{GUILD_NAME}" />
<ul class="portalmenu" style="padding: 5px">
	<ul>

	    <li style="list-style:none"><a href="{U_NEWS}"><strong>{L_MENU_NEWS}</strong></a></li>
	    <li style="list-style:none"><a href="{U_ROSTER}"><strong>{L_MENU_ROSTER}</strong></a></li>
	    <li style="list-style:none"><a href="{U_LISTMEMBERS}"><strong>{L_MENU_STANDINGS}</strong></a></li>
		<li style="list-style:none"><a href="{U_STATS}"><strong>{L_MENU_STATS}</strong></a></li>
		<li style="list-style:none"><a href="{U_LISTEVENTS}"><strong>{L_MENU_EVENTS}</strong></a></li>
		<li style="list-style:none"><a href="{U_LISTRAIDS}"><strong>{L_MENU_RAIDS}</strong></a></li>
		<li style="list-style:none"><a href="{U_LOOTHIST}"><strong>{L_MENU_ITEMHIST}</strong></a></li>
		<li style="list-style:none"><a href="{U_LOOTDB}"><strong>{L_MENU_ITEMVAL}</strong></a></li>
		</ul>
		<form method="post" action="{F_NAVURL}" id="setguild">
		<select name="guild_id" id="guild_id" class="input" onchange="this.form.submit();">
	      <!-- BEGIN guild_row -->
	       <option value="{guild_row.VALUE}"{guild_row.SELECTED}>{guild_row.OPTION}</option>
	      <!-- END guild_row -->
		</select>
		</form>
</ul>

<span class="corners-bottom"><span></span></span>
</div>
</div>
<br />
<input type="hidden" name="hidden_guild_id" value="{GUILD_ID}" />
<input type="hidden" name="hidden_show" value="{SHOWALL}" />
