<!-- ********************** epgp overview for player ************************** -->
<h2>{L_EPGP}</h2>
<div style="width:50%" class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_EP}</strong> : </h4></td>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="positive">{EPNET} {POINTNAME}</span></h4></td>
  </tr>
  <tr>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_GP}</strong> : </h4></td>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="negative">{GPNET} {POINTNAME}</span></h4></td>
	</tr>
  <tr>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_PR}</strong> : </h4></td>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="{positive}">{PRNET} {POINTNAME}</span></h4></td>
    </tr>
</table>
<span class="corners-bottom"><span></span></span>
</div>
</div>

<!-- *******  attendance *************** -->

<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <td style="width:20%; white-space:nowrap; text-align:center;" class="rowbg2"><strong>{RAIDS_X1_DAYS}</strong>: {C_RAIDS_X1_DAYS}%</td>
    <td style="width:20%; white-space:nowrap; text-align:center;" class="rowbg1"><strong>{RAIDS_X2_DAYS}</strong>: {C_RAIDS_X2_DAYS}%</td>
    <td style="width:20%; white-space:nowrap; text-align:center;" class="rowbg2"><strong>{RAIDS_X3_DAYS}</strong>: {C_RAIDS_X3_DAYS}%</td>
    <td style="width:40%; white-space:nowrap; text-align:center;" class="rowbg1"><strong>{RAIDS_LIFETIME}</strong>: {C_RAIDS_LIFETIME}%</td>
</tr>
</table>
<span class="corners-bottom"><span></span></span>
</div>
</div>


