/* Custom CSS for bbGuild */

/* the bbguild page
--------------------------------------------- */
#bbguildwrap
{
    display: table;
    width: 100%;
}

/* fixed width left pane */
#bbguildleftside
{
    display: table-cell;
    vertical-align: top;
    width: 145px;
}

/* middle pane */
#bbguildmiddle
{
    display: table-cell;
    vertical-align: top;
    padding-left: 3px;
}

/* right float pane */
#bbguildrightside
{
    display: table-cell;
    vertical-align: top;
    width: 180px;
    padding-left: 3px;
    float: left;
}


/* the left menu
--------------------------------------------- */
.portalmenu ul
{
    list-style-type: none;
    margin: 0 0 8px;
    padding: 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    list-style-image: none;
    list-style-position: outside;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: center;
}

.portalmenu ul li {
    background-position: 0 2px;
    background-repeat: no-repeat;
    line-height: 14px;
    padding-left: 20px;
    text-align: left;
    background-image: url("./images/menu.png");
}

.portalmenu a {
    font-size: 105%;
    font-weight: bold;
    display: block;
    margin-bottom: 0px;
    padding: 4px 0px 0px 1px;
    text-decoration: none;
}

.portalmenu a:hover {
    color: #D31141;
}

.bbguildheader {
    color: #71401f;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 1.1em;
    white-space: nowrap;
}
