<div class="profile-section-header">
    <div class="profile-section">
        <div class="achievement-points-anchor">
            <h3 class="category ">{L_ACHIEVEMENTS}</h3>
        </div>
    </div>
</div>

<div class="profile-section">
    <div id="cat-summary" class="container" style="">
        <h3 class="category">Progress Overview</h3>
        <div class="achievements-total">
            <h3 class="category">Recently Earned</h3>
            <div class="achievements-recent profile-box-full">
            </div>
        </div>
    </div>
</div>
