<div class="profile-section">
    <div class="achievement-points-anchor">
        <h3 class="category ">{L_ACHIEVEMENTS}</h3>
    </div>
    <div class="profile-section">
        <div id="cat-summary" class="container" style="">
            <h3 class="category">Progress Overview</h3>
            <div class="achievements-total">
                <div class="profile-box-full">
                    <div class="achievements-total-completed">
                        <div class="desc"> Total Completed </div>
                        <div class="profile-progress border-4">
                            <div class="bar border-4 hover" style="width: 84%"></div>
                            <div class="bar-contents">
                                <strong> 224 / 264 (84%) </strong>
                            </div>
                        </div>
                    </div>

                    <div class="achievements-categories-total">
                        <div class="entry">
                            <div class="entry-inner">
                                <strong class="desc">General</strong>
                                <div class="active-category">
                                    <div class="profile-progress border-4">
                                        <div class="bar border-4 hover" style="width: 86%"></div>
                                        <div class="bar-contents">	26 / 30 (86%) </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="entry">
                            <div class="entry-inner">
                                <strong class="desc">General</strong>
                                <div class="active-category">
                                    <div class="profile-progress border-4">
                                        <div class="bar border-4 hover" style="width: 86%"></div>
                                        <div class="bar-contents">	26 / 30 (86%) </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="entry">
                            <div class="entry-inner">
                                <strong class="desc">General</strong>
                                <div class="active-category">
                                    <div class="profile-progress border-4">
                                        <div class="bar border-4 hover" style="width: 86%"></div>
                                        <div class="bar-contents">	26 / 30 (86%) </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="entry">
                            <div class="entry-inner">
                                <strong class="desc">General</strong>
                                <div class="active-category">
                                    <div class="profile-progress border-4">
                                        <div class="bar border-4 hover" style="width: 86%"></div>
                                        <div class="bar-contents">	26 / 30 (86%) </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="entry">
                            <div class="entry-inner">
                                <strong class="desc">General</strong>
                                <div class="active-category">
                                    <div class="profile-progress border-4">
                                        <div class="bar border-4 hover" style="width: 86%"></div>
                                        <div class="bar-contents">	26 / 30 (86%) </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="entry">
                            <div class="entry-inner">
                                <strong class="desc">General</strong>
                                <div class="active-category">
                                    <div class="profile-progress border-4">
                                        <div class="bar border-4 hover" style="width: 86%"></div>
                                        <div class="bar-contents">	26 / 30 (86%) </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="entry">
                            <div class="entry-inner">
                                <strong class="desc">General</strong>
                                <div class="active-category">
                                    <div class="profile-progress border-4">
                                        <div class="bar border-4 hover" style="width: 86%"></div>
                                        <div class="bar-contents">	26 / 30 (86%) </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="clear"></span>
                    </div>
                 </div>
            </div>

            <h3 class="category">Recently Earned</h3>
            <div class="achievements-recent profile-box-full">

                <ul>
                    <li>
                        <a class=" clear-after" href="achievement#15088:a5420" onclick="window.location.hash = '15088:a5420'; dm.openEntry(false)">
<span class="float-right">
<span class="points">10</span>
<span class="date">09/04/2016</span>
</span>
<span class="icon">
<span class="icon-frame frame-18 " style="background-image: url("http://media.blizzard.com/wow/icons/18/achievement_guildperk_cashflow_rank2.jpg");"> </span>
                            </span>
<span class="info">
<strong class="title">It All Really Adds Up</strong>
<span class="description">Spend 100,000 gold on guildmember repairs.</span>
</span>
                        </a>
                    </li>



                    <li class="last">
                        <a class=" clear-after" href="achievement#15080:a6701" onclick="window.location.hash = '15080:a6701'; dm.openEntry(false)">
<span class="float-right">
<span class="points">10</span>
<span class="date">23/03/2016</span>
</span>
<span class="icon">
<span class="icon-frame frame-18 " style="background-image: url("http://media.blizzard.com/wow/icons/18/inv_misc_food_vendor_poundedricecake_1.jpg");"> </span>
                            </span>
<span class="info">
<strong class="title">Get Some Chopsticks</strong>
<span class="description">Cook 7,500 Mists of Pandaria cooking recipes.</span>
</span>
                        </a>
                    </li>
                                </ul>



            </div>
        </div>
    </div>
</div>
