<!--  
 @package bbDKP
 @version $Id: bossprogress.html 1288 2010-05-25 17:28:18Z Sajaki9 $
 @author Sajaki
 @credit http://www.schillmania.com/projects/dialog2 for css3 counded corners technique
 @credit jquery Tools for Tooltips
 @credit http://t.wits.sg for progressbar
 prosilver version 1.1.2.2
 -->
 
<script type="text/javascript"> 

$(document).ready( function() 
{
	<!-- BEGIN zone -->  
	$("#zone{zone.ZONEID}").tooltip({ position: "top center", effect: 'fade', opacity: 0.95});  
	$("#progressbar{zone.COMPLETED}").progressBar(
	{	showText : false,
		width  : 100,
		height : 10,
		boxImage : '{T_IMAGES_PATH}progressbar/progressbar.gif',	// boxImage : image around the progress bar
		barImage :
		{
			5:  '{T_IMAGES_PATH}progressbar/progressbg_black.gif',
			20:  '{T_IMAGES_PATH}progressbar/progressbg_red.gif',
			40:  '{T_IMAGES_PATH}progressbar/progressbg_orange.gif',
			60:  '{T_IMAGES_PATH}progressbar/progressbg_yellow.gif',
			100: '{T_IMAGES_PATH}progressbar/progressbg_green.gif'
		}
	})
	<!-- END zone -->});
</script>	
<style>

.bbtooltip {
	 display: none;
	 position:relative;
	 margin:0px auto;
	 min-width:200px;
	 max-width:200px; 
	 color:#fff;
	 z-index:1;
	 margin-left:10px; /* default, width of left corner */
	 margin-bottom:0.5em; /* spacing under dialog */	
	font-size: 11px;
}

.bbtooltip .bbinner,
.bbtooltip .t,
.bbtooltip .b,
.bbtooltip .b div {
 background:transparent url({T_IMAGES_PATH}tooltip/tooltip.png) no-repeat top right;
}
	
.bbtooltip .bbinner {
 position:relative;
 zoom:1;
 padding:0px 10px 0px 0px;
}

.bbtooltip .t {
 /* top+left vertical slice */
 position:absolute;
 left:0px;
 top:0px;
 width:10px; /* top slice width */
 margin-left:-10px;
 height:100%;
 background-position:top left;
}

.bbtooltip .b {
 /* bottom slice */
 position:relative;
 width:100%;
}

.bbtooltip .b,
.bbtooltip .b div {
 height:30px; /* height of bottom cap/shade */
 font-size:1px;
}

.bbtooltip .b {
 background-position:bottom right;
}

.bbtooltip .b div {
 position:relative;
 width:10px; /* bottom corner width */
 margin-left:-210px;
 background-position:bottom left;
}

.bbtooltip .hd,
.bbtooltip .bd,
.bbtooltip .ft {
 position:relative;
}

.bbtooltip .wrapper {
 /* extra content protector - preventing vertical overflow (past background) */
 position:static;
 max-height:1000px;
 overflow:auto; 
}

.bbtooltip h1,
.bbtooltip p {
 margin:0px; /* margins will blow out backgrounds, leaving whitespace. */
 padding:0.5em 0px 0.5em 0px;
}

.bbtooltip h1 {
 padding-bottom:0px;
}

a.bossprogress,a.bossprogress:link,a.bossprogress:visited,a.bossprogress:active {
	text-decoration: none; 
	 color: #FFD100; /* tooltip boss link color */
	white-space: nowrap;
}



</style>
 	<div class="panel">
    <div class="inner">
    <span class="corners-top"><span></span></span>    
    <h3 style="text-align:center">{L_BOSSPROGRESS}</h3>
    <table width="100%" cellpadding="2" cellspacing="0" border="0" >
          <colgroup span="2" >
          <col width="75%"></col>
          <col width="25%"></col>
          </colgroup>
    <!-- BEGIN zone -->
 	<tr>
    <td align="center" class="{zone.CSSCLASS}">
    <span>
    <a id="zone{zone.ZONEID}" ><strong>{zone.ZONENAME}</strong></a>
    <div class="bbtooltip">
    	 <!-- top/right PNG -->
	    <div class="bbinner">

	    <div class="t"></div>
	     
				<br />
				<h4>{zone.ZONENAME}</h4>
				<!-- BEGIN boss -->
			    <a class="bossprogress" href="{zone.boss.BOSSURL}" >{zone.boss.BOSSNAME}</a>&nbsp;<img src="{T_IMAGES_PATH}/bossprogress/{zone.boss.KILLED}.gif" alt="{zone.boss.KILLED}"></img><br />
			    <!-- END boss -->
			    <br />
	    </div>
	    
     <!-- bottom PNG -->
     <div class="b"><div></div></div> 
   </div>
   </span>
   </td>
    <td align="center" class="{zone.CSSCLASS}"><span><strong>({zone.BOSSKILLS}/{zone.BOSSCOUNT})</strong></span></td>
    </tr>
    
    <!-- IF S_PROGRESSBAR == 1 -->
    <tr>
    <td align="center" colspan="2">
	    <span id="progressbar{zone.COMPLETED}" class="progressBar">{zone.COMPLETED}</span>
    </td>
	</tr>
    <!-- ENDIF -->
    
    <!-- END zone -->
	
    </table>
    <span class="corners-bottom"><span></span></span>
    </div>
    </div>