<!--  
 @package bbDKP
 @version $Id: bossprogress.html 1288 2010-05-25 17:28:18Z Sajaki9 $
 @author Sajaki
 @credit http://www.schillmania.com/projects/dialog2 for css3 counded corners technique
 @credit jquery Tools for Tooltips
 @credit http://t.wits.sg for progressbar
 prosilver version 1.2
 -->
 
<script type="text/javascript"> 

$(document).ready( function() 
{
	<!-- BEGIN zone -->  
	$("#zone{zone.ZONEID}").tooltip({ position: "top center", effect: 'fade', opacity: 0.95});  
	<!-- IF S_SHOWPROGRESSBAR -->
		$("#progressbar{zone.ZONEID}").progressBar(
		{	showText : false,
			width  : 100,
			height : 10,
			boxImage : '{T_IMAGES_PATH}progressbar/progressbar.gif',	// boxImage : image around the progress bar
			barImage :
			{
				5:  '{T_IMAGES_PATH}progressbar/progressbg_black.gif',
				20:  '{T_IMAGES_PATH}progressbar/progressbg_red.gif',
				40:  '{T_IMAGES_PATH}progressbar/progressbg_orange.gif',
				60:  '{T_IMAGES_PATH}progressbar/progressbg_yellow.gif',
				100: '{T_IMAGES_PATH}progressbar/progressbg_green.gif'
			}
		}) 
	<!-- ENDIF -->
	<!-- END zone -->});
</script>
<br/>
 	<div class="panel">
    <div class="inner">
    <span class="corners-top"><span></span></span>    
    <h3 style="text-align:center">{L_BOSSPROGRESS}</h3>
    <table width="100%" cellpadding="2" cellspacing="0" border="0" >
          <colgroup span="2" >
          <col width="75%"></col>
          <col width="25%"></col>
          </colgroup>
    <!-- BEGIN zone -->
 	<tr>
    <td align="center" class="{zone.CSSCLASS}">
    <div>
    <a id="zone{zone.ZONEID}" ><strong>{zone.ZONENAME}</strong></a>
    <div class="bbtooltip">
    	 <!-- top/right PNG -->
	    <div class="bbinner">
	    <div class="t"></div>
				<br />
				<h4>{zone.ZONENAME}</h4>
				<!-- BEGIN boss -->
			    <a class="bossprogress" href="{zone.boss.BOSSURL}" >{zone.boss.BOSSNAME}</a>&nbsp;<img src="{T_IMAGES_PATH}/bossprogress/rp/{zone.boss.KILLED}.png" alt="{zone.boss.KILLED}" /><br />
			    <!-- END boss -->
			    <br />
	    </div>
	    
     <!-- bottom PNG -->
     <div class="b"><div></div></div> 
   </div>
   </div>
   </td>
    <td align="center" class="{zone.CSSCLASS}"><span><strong>({zone.BOSSKILLS}/{zone.BOSSCOUNT})</strong></span></td>
    </tr>
    
    <!-- IF S_SHOWPROGRESSBAR -->
    <tr>
    <td align="center" colspan="2">
	      <span id="progressbar{zone.ZONEID}" class="progressbar">{zone.COMPLETED}</span>
    </td>
	</tr>
    <!-- ENDIF -->
    
    <!-- END zone -->
	
    </table>
    <span class="corners-bottom"><span></span></span>
    </div>
    </div>