<!-- linksblock -->
<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
	<h3 style="text-align:center">{L_MENU_LINKS}</h3>
	
	<div class="portalmenu">
	
	<table width="200" border="0" cellspacing="0" cellpadding="0">
	<tr class="bg1">
	<td>
	<ul>
	    <li><a href="{L_LINK1}">{L_LINK1T}</a></li>
	    <li><a href="{L_LINK2}">{L_LINK2T}</a></li>
		<li><a href="{L_LINK3}">{L_LINK3T}</a></li>
		<li><a href="{L_LINK4}">{L_LINK4T}</a></li>
		<li><a href="{L_LINK5}">{L_LINK5T}</a></li>
		<li><a href="{L_LINK6}">{L_LINK6T}</a></li>
		<li><a href="{L_LINK7}">{L_LINK7T}</a></li>
		<li><a href="{L_LINK8}">{L_LINK8T}</a></li>
	</ul>
	</td>
	</tr>
	</table>
	</div>
<span class="corners-bottom"><span></span></span>
</div>
</div>
<!-- end links -->

