<!--  begin loot block  -->
<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
	<h3 style="text-align:center">{L_MENU}</h3>
	<div class="portalmenu">
	<table>
	<tr>
	<td>
			<ul>
			<li><a href="{U_INDEX}">{L_INDEX}</a></li>
			<li><a href="{U_SEARCH}">{L_SEARCH}</a></li>
			<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED -->
			<li><a href="{U_REGISTER}">{L_REGISTER}</a></li>
			<!-- ENDIF -->
			<!-- IF not S_IS_BOT and S_DISPLAY_MEMBERLIST -->
			<li><a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a></li>
			<!-- ENDIF -->
			<!-- IF U_TEAM -->
			<li><a href="{U_TEAM}">{L_THE_TEAM}</a></li>
			<!-- ENDIF -->
		</ul>
	</td>
	<td>
			<ul>
			<li><a href="{U_FAQ}">{L_FAQ}</a></li>
			<li><a href="{U_BBFAQ}">{L_BBCODE_GUIDE}</a></li>
			<li><a href="{U_TERMS}">{L_TERMS_USE}</a></li>
			<li><a href="{U_PRIV}">{L_PRIVACY}</a></li>		
		</ul>
	</td>
	</tr>
	</table>
	<!-- IF S_USER_LOGGED_IN and not S_IS_BOT -->
	<hr class="dashed" />
	<table>
	<tr>
	<td>
	<ul>
		    <li><a href="{U_VIEWNEWS}">{L_MENU_NEWS}</a></li>
		    <li><a href="{U_ROSTER}">{L_MENU_ROSTER}</a></li>
			<li><a href="{U_LISTEVENTS}">{L_MENU_EVENTS}</a></li>
			<li><a href="{U_LISTITEMS}">{L_MENU_ITEMVAL}</a></li>
			<li><a href="{U_STATS}">{L_MENU_STATS}</a></li>
		</ul>
	</td>
	<td>
	<ul>    
			<li><a href="{U_LISTRAIDS}">{L_MENU_RAIDS}</a></li>
		    <li><a href="{U_LISTMEMBERS}">{L_MENU_STANDINGS}</a></li>
			<li><a href="{U_LISTITEMHIST}">{L_MENU_ITEMHIST}</a></li>
			<li><a href="{U_BP}">{L_MENU_BOSS}</a></li>
		  <!-- IF U_ACP --><li><a class="portalmenu" href="{U_DKP_ACP}">{L_MENU_ADMIN_PANEL}</a></li><!-- ENDIF -->
		</ul>
	</td>
	</tr>
	</table>
	<!-- ENDIF -->	
	</div>
<span class="corners-bottom"><span></span></span>
</div>
</div>
<!--  end loot block  -->