<!-- begin recruit  -->
<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>	  
<h3 style="text-align:center">{L_RECRUITMENT_BLOCK}</h3>

<table width="100%">
<!-- BEGIN status -->
<tr>
<td class="row1" align="center">{status.MESSAGE}</td>
</tr>
<!-- END status -->
</table>
<table width="100%" cellpadding="2" cellspacing="1" border="0" class="forumline">
<tr>

<th>
{L_CLASS}
</th>

<th>

</th>
<th>
{L_TANK}
</th>
<th>
{L_DPS}
</th>
<th>
{L_HEAL}
</th>
</tr>
<!-- BEGIN rec -->
    <tr>
    <td style="width:2%"  class="row1">
	    <span class="genmed">
		<img src="{ROOT_PATH}images/class_images/{rec.IMAGENAME}.png" alt="{rec.CLASS}"></img></span>
	</td>
    <td class="row1" align="left"><span style="color:{rec.CLASSCOLOR}"><strong>{rec.CLASS}</strong></span></td>
    <td class="row1" align="right"><span ><a style="font-weight:bold; color:{rec.TANKCOLOR};" href="{rec.TANKFORUM}">{rec.TANKTEXT}</a></span></td>
    <td class="row1" align="right"><span ><a style="font-weight:bold; color:{rec.DPSCOLOR};" href="{rec.DPSFORUM}">{rec.DPSTEXT}</a></span></td>
    <td class="row1" align="right"><span ><a style="font-weight:bold; color:{rec.HEALCOLOR};" href="{rec.HEALFORUM}">{rec.HEALTEXT}</a></span></td>
    </tr>
<!-- END rec -->
</table>
<span class="corners-bottom"><span></span></span>
</div>
</div>
<!--  end recruit  -->