<div class="forabg">
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <div class="bbdkpblock">
            <ul class="topiclist" style="padding: 4px">
                <li class="header">
                    <dl>
                        <dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px;">
                            {L_RECRUITMENT_BLOCK}
                        </dt>
                    </dl>
                </li>
            </ul>

            <ul class="topiclist forums" style="padding: 4px">
                <li style="list-style:none" >

                    <!-- BEGIN guild -->
                    <div>

                        <div>
                            <div style="width: 50%; float: left;">
                                <span><img style="width:60%; height:60%" src="{guild.EMBLEM}" alt="{guild.GUILD_NAME}" /></span>
                            </div>
                            <div style="width: 40%; float: left; text-align:left;">
                                <h4>{guild.NAME}</h4>
                            </div>
                        </div>
                        <div style="width: 90%; clear: both; moz-box-shadow: inset 0 0 30px #000f; -webkit-box-shadow: inset 0 0 30px #000f; box-shadow: inset 0 0 30px #000f; margin:auto;">

                            <!-- IF guild.S_CLOSED -->
                            <p style="text-align:center; text-shadow: 1px 1px;">{L_RECRUIT_CLOSED}</p>
                            <!-- ELSE -->
                            <p style="text-align:center; text-shadow: 1px 1px;">{L_RECRUIT_MESSAGE}</p>

                            <table width="100%" cellpadding="2" cellspacing="1" border="0" class="forumline">
                                <tr>
                                    <th style="text-align:center;"></th>
                                    <th style="text-align:center;"><img src="{ROOT_PATH}/images/bbdkp/recruitblock/looking_icon.gif" alt="{MESSAGE}" title="{MESSAGE}"  /></th>
                                </tr>

                                <!-- BEGIN rec -->
                                <script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready( function()
{
	jQuery("a.tool{guild.rec.CLASSID}").tooltip({
		 position:'top center',
		 relative:true,
		 effect: 'fade',
		 onShow: function() {
			 var $trigger = this.getTrigger();
			 this.getTip().css({
		           'margin-top' : $trigger.css('margin-top'),
		           'margin-left' : $trigger.css('margin-left')
		     });
			 $trigger.fadeTo("slow", 0.55);
		 },
		 onHide: function() {this.getTrigger().fadeTo(1,1);}
	}).dynamic(
		{
				bottom:
				 { direction: 'up', bounce: true }
		});
}
);
</script>
                                <tr style="text-align:center;">
                                    <td class="row1"><span class="genmed"><img src="{guild.rec.CLASS_IMAGE}" alt="" title="{L_NEEDED} {guild.rec.POSITIONS} {guild.rec.ROLENAME}: {guild.rec.NOTE}" /> </span></td>
                                    <td class="row1" align="center">
    <span style="color:{guild.rec.COLOR}"><strong><a class="tool{guild.rec.CLASSID}"  href="{guild.rec.FORUM}">
        <img src="{guild.rec.ROLEICON}" alt="{guild.rec.ROLENAME}" title="{guild.rec.ROLENAME}" /></a>
        <div class="bbtooltip">
            <div class="bbinner">
                <div class="t"></div>
                <div style="text-align: left">
                    <br/><img src="{guild.rec.CLASS_IMAGE}" alt="" title="{guild.rec.CLASS}" />
                    <span style="color:{guild.rec.CLASSCOLOR}">
                        <strong>{guild.rec.CLASS}</strong></span><br/>{L_NEEDED} {guild.rec.POSITIONS} {guild.rec.ROLENAME}. {guild.rec.NOTE}
                </div>
            </div>
            <div class="b"><div></div></div>
        </div>
    </strong></span>
                                    </td>


                                </tr>
                                <!-- END rec -->
                            </table>
                            <!-- ENDIF -->
                        </div>
                    </div>
                    <!-- END guild -->
                </li>
            </ul>

        </div>
        <span class="corners-bottom"><span></span></span>
    </div>
</div>