<!--
		Integrated by bbDKP
		http://code.google.com/p/bbdkp/
		$Id$
//-->
<div class="forabg">
<span class="corners-top"><span></span></span>
	<ul class="dkpmenu">
	<li> 			
    <a class="dkpmenu" href="{U_VIEWNEWS}">{MENU_NEWS}</a>
    &nbsp; &nbsp;<a class="dkpmenu" href="{U_ROSTER}">{L_MENU_ROSTER}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_LISTMEMBERS}">{L_MENU_STANDINGS}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_LISTRAIDS}">{L_MENU_RAIDS}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_LISTEVENTS}">{L_MENU_EVENTS}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_LISTITEMS}">{L_MENU_ITEMVAL}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_LISTITEMHIST}">{L_MENU_ITEMHIST}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_STATS}">{L_MENU_STATS}</a>
	&nbsp; &nbsp;<a class="dkpmenu" href="{U_BP}">{L_MENU_BOSS}</a>
  <!-- IF U_ACP -->&nbsp; &nbsp; <a class="dkpmenu" href="{U_DKP_ACP}">{L_MENU_ADMIN_PANEL}</a> <!-- ENDIF -->
  </li>
  </ul>	
<span class="corners-bottom"><span></span></span>
</div>

