<!-- INCLUDE overall_header.html -->

<div>

<!-- left bbDKP sidebar -->
<div style="float: left; width: 15%; margin:0.5%">

<!-- INCLUDE dkp/module/profile-sidebar.html -->

</div>

<div style="float: left; width: 83%; margin:0.5%">

<!-- IF S_DISPLAY_STANDINGS -->
	<!-- INCLUDE dkp/module/standings.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_VIEWMEMBER -->
	<form method="post" action="{F_MEMBERS}">
	<div style="float: left; width:50%; white-space:nowrap;">
		<h2 style="white-space:nowrap;">
		<!-- IF S_RACE_IMAGE_EXISTS --><img src="{RACE_IMAGE}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
		<!-- IF S_CLASS_IMAGE_EXISTS --><img src="{CLASS_IMAGE}" alt="{CLASS}" /><!-- ELSE -->&nbsp;<!-- ENDIF -->&nbsp;
		<span style="color:{COLORCODE}"><strong>{NAME}</strong></span>
		</h2>
	</div>
	<div style="color:white; text-align:right; float:right; width:50%; white-space:nowrap;">
	<br/>
	{L_POOL}:
	<select name="pool" class="input" onchange="javascript:form.submit();">
		<!-- BEGIN pool_row -->
		<option value="{pool_row.VALUE}"{pool_row.SELECTED}{pool_row.DISABLED}>{pool_row.OPTION}</option>
		<!-- END pool_row -->
	</select>
	</div>
	<hr/>
	</form>
	<!-- IF S_SHOWEPGP -->
		<!-- INCLUDE dkp/module/viewmember_epgp.html -->
	<!-- ELSE -->
		<!-- INCLUDE dkp/module/viewmember.html -->
	<!-- ENDIF -->

<!-- ENDIF -->
<!-- IF S_DISPLAY_STATS -->
	<!-- INCLUDE dkp/module/stats.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_LISTEVENTS -->
	<!-- INCLUDE dkp/module/listevents.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_VIEWEVENT -->
	<!-- INCLUDE dkp/module/viewevent.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_RAIDS -->
	<!-- INCLUDE dkp/module/listraids.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_VIEWRAIDS -->
	<!-- INCLUDE dkp/module/viewraid.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_LOOTHISTORY -->
	<!-- INCLUDE dkp/module/loothistory.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_LOOTDB -->
	<!-- INCLUDE dkp/module/lootdb.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_VIEWITEM -->
	<!-- INCLUDE dkp/module/viewitem.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_ROSTERGRID -->
	<!-- INCLUDE dkp/module/rostergrid.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_ROSTERLISTING -->
	<!-- INCLUDE dkp/module/rosterlisting.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_NEWS -->
	<!-- INCLUDE dkp/module/news.html -->
<!-- ENDIF -->

<!-- [+] Bossprogress -->

<!-- [-] Bossprogress -->

<!-- [+] Raidplanner -->

<!-- [-] Raidplanner -->

<!-- [+] Apply -->

<!-- [-] Apply -->

</div>

<!-- right bbDKP sidebar -->
<div style="float: left; width: 0%; margin:0.5%">

</div>
<div style="clear:both;"></div>
</div>
<!-- INCLUDE overall_footer.html -->
