<!-- INCLUDE overall_header.html -->
<!-- INCLUDE dkp/dkpmenu.html -->
<!--
		Integrated by bbDKP
		http://code.google.com/p/bbdkp/
		$Id$
//-->

<form method="post" action="{F_MEMBERS}">
<div class="forabg" >
<span class="corners-top"><span></span></span>

<table width="30%" border="0" cellspacing="1" cellpadding="2" style="border-bottom: none">
	<colgroup span="12" valign= "middle">
	<col width="50%"></col>
	<col width="25%"></col>
	<col width="25%"></col>
	</colgroup>

<tr>
<td><h2 style="color:#dfc065">{L_LISTMEMBERS_TITLE}</h2> </td>
  <td style="color:white; text-align:left; width:56 white-space:nowrap;" >{L_POOL}:
      <select name="pool" class="input" onchange="javascript:form.submit();">
        <!-- BEGIN pool_row -->
        <option value="{pool_row.VALUE}"{pool_row.SELECTED}{pool_row.DISABLED}>{pool_row.OPTION}</option>
        <!-- END pool_row -->
      </select>
  </td>
  <td style="color:white; text-align:left; width:56 white-space:nowrap;">{L_FILTER}:
      <select name="filter" class="input" onchange="javascript:form.submit();">
        <!-- BEGIN filter_row -->
        <option value="{filter_row.VALUE}"{filter_row.SELECTED}{filter_row.DISABLED}>{filter_row.OPTION}</option>
        <!-- END filter_row -->
      </select>
 </td>
</tr>
</table>

<span class="corners-bottom"><span></span></span>
</div>
</form>

<!-- IF S_SHOWLEAD -->
<!-- INCLUDE dkp/leaderboard.html -->
<!-- ENDIF -->

<form method="post" action="{F_MEMBERS}">
<div class="forabg" >
   <span class="corners-top"><span></span></span>
	<ul class="topiclist">
	<li class="header">
	<table width="100%" >
		<colgroup span="12" valign= "middle">
		<col width="3%"></col>
		<col width="3%"></col>
        <col width="20%"></col>
        <col width="5%"></col>
		<col width="6%"></col>
		<col width="6%"></col>
		<col width="8%"></col>
		<col width="6%"></col>
		<col width="6%"></col>
		<col width="6%"></col>
		<col width="6%"></col>
		<col width="6%"></col>
		</colgroup>

  <tr>
    <th></th>
    <th></th>
    <th><a href="{O_NAME}">{L_NAME}</a></th>
    <th><a href="{O_POOL}">{L_POOL}</a></th>
    <th style="text-align: center;"><a href="{O_RANK}">{L_RANK}</a></th>
    <th style="text-align: center;"><a href="{O_LEVEL}">{L_LEVEL}</a></th>
    <th style="text-align: center;"><a href="{O_CLASS}">{L_CLASS}</a></th>
    <th style="text-align: right;"><a href="{O_EARNED}">{L_EARNED}</a></th>
    <th style="text-align: right;"><a href="{O_SPENT}">{L_SPENT}</a></th>
    <th style="text-align: right;"><a href="{O_ADJUSTMENT}">{L_ADJUSTMENT}</a></th>
    <th style="text-align: right;"><a href="{O_CURRENT}">{L_CURRENT}</a></th>
    <th style="text-align: right;"><a href="{O_LASTRAID}">{L_LASTRAID}</a></th>
    <th style="text-align: right;"><a href="{O_RAIDS_P1_DAYS}">{RAIDS_P1_DAYS}</a></th>
    <th style="text-align: right;"><a href="{O_RAIDS_P2_DAYS}">{RAIDS_P2_DAYS}</a></th>
    
  </tr>

</table>
</li>
</ul>
    <span class="corners-bottom"><span></span></span>
</div>

<div class="forabg" >
<span class="corners-top"><span></span></span>

<div>
<table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">


				<colgroup span="12">
				<col width="3%"></col>
				<col width="3%"></col>
				<col width="20%"></col>
				<col width="5%"></col>
				<col width="6%"></col>
				<col width="6%"></col>
				<col width="8%"></col>
				<col width="6%"></col>
				<col width="6%"></col>
				<col width="6%"></col>
				<col width="6%"></col>
				<col width="6%"></col>
				</colgroup>


  <!-- BEGIN members_row -->
  <!-- IF members_row.COUNT is even -->
  <tr class="row bg1">
  <!-- ELSE -->
  <tr class="row bg2">
  <!-- ENDIF -->
    <td><input type="checkbox" name="compare_ids[]" value="{members_row.ID}" /></td>
    <td>{members_row.COUNT}</td>
    <td class="{members_row.CSSCLASS}"><a href="{members_row.U_VIEW_MEMBER}"><strong>{members_row.NAME}</strong></a></td>
    <td style="text-align: center;">{members_row.MEMBER_DKPPOOL}</td>
    <td style="text-align: center;"><!-- IF members_row.RANK_HIDE == '1' --><em><!-- ENDIF --><a href="{members_row.RANK_SEARCH}">{members_row.RANK_NAME}</a><!-- IF members_row.RANK_HIDE == '1' --></em><!-- ENDIF --></td>
    <td style="text-align: center;">{members_row.LEVEL}</td>
    <td style="white-space: nowrap;"><span class="{members_row.CSSCLASS}">{members_row.CLASS}</span></td>
    <td style="font-size :8pt; color: green; text-align: right;">{members_row.EARNED}</td>
    <td style="font-size :8pt; color: red; text-align: right;" >{members_row.SPENT}</td>
	<td style="font-size :8pt; color: {members_row.DKPCOLOUR1}; text-align: right;">{members_row.ADJUSTMENT}</td>
    <td style="font-size :8pt; color: {members_row.DKPCOLOUR2}; text-align: right;">{members_row.CURRENT}</td>    
    <td style="font-size :8pt; text-align: right;">{members_row.LASTRAID}</td>
    <td style="text-align: right;">{members_row.RAIDS_P1_DAYS}%</td>
    <td style="text-align: right;">{members_row.RAIDS_P2_DAYS}%</td>

  </tr>
  <!-- END members_row -->	
</table>
</div>

<span class="corners-bottom"><span></span></span>
</div>

<div class="forabg" >
   <span class="corners-top"><span></span></span>
	<ul class="topiclist">
	<li class="header">

<table width="100%">
				<colgroup span="1">
				<col width="100%"></col>
				</colgroup>
<tr>
<td align="center" style="color:white; nowrap;">{FOOTCOUNT}</td>
</tr>

</table>
</li>
</ul>
<span class="corners-bottom"><span></span></span>
</div>

<p>
<input type="hidden" name="getdksysname" value="{F_DKPSYS_NAME}" />
<input type="hidden" name="getdksysid" value="{F_DKPSYS_ID}" />

</p>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
  		<td style="text-align: center;">
  		<input type="submit" name="compare" value="{L_COMPARE_MEMBERS}" class="liteoption" />
		</td>
	</tr>
	</table>

</form>


<!-- INCLUDE overall_footer.html -->
