<!-- INCLUDE overall_header.html -->
<table class="portalbody" cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody>
<tr>	

<td valign="top" class="portalleft">
<br style="clear:both" />
</td>

<td valign="top" class="portalcenter">
<br style="clear:both" />
<!-- INCLUDE dkp/block/news.html -->

<!-- INCLUDE dkp/block/whoisonlineblock.html -->

</td>

<td valign="top" class="portalright">
<br style="clear:both" />
<!-- IF not S_USER_LOGGED_IN -->
<!-- INCLUDE dkp/block/loginblock.html -->
<!-- ENDIF -->

<!-- IF S_USER_LOGGED_IN -->
<!-- INCLUDE dkp/block/userblock.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_LOOT -->
<!-- INCLUDE dkp/block/lastloot.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_RECRUIT -->
<!-- INCLUDE dkp/block/recruitment.html -->
<!-- ENDIF -->

<!-- IF S_BPSHOW -->
<!-- INCLUDE dkp/block/bossprogress.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_MAINMENU -->
<!-- INCLUDE dkp/block/mainmenu.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_LINKS -->
<!-- INCLUDE dkp/block/links.html -->		
<!-- ENDIF -->

</td>

</tr>
</tbody>
</table>
<!-- INCLUDE overall_footer.html -->