<!-- INCLUDE overall_header.html -->
<script type="text/javascript" src="{T_TEMPLATE_PATH}/dkp/js/jquery-ui-1.8.4.custom.min.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/dkp/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/dkp/js/jquery.progressbar.js"></script>
<div id="bbdkpwrap">
    <div id="bbdkpleftside">
        <!-- IF S_DISPLAY_MAINMENU -->
        <!-- INCLUDE dkp/block/mainmenu.html -->
        <!-- ENDIF -->
        <!-- IF S_DISPLAY_LINKS -->
        <!-- INCLUDE dkp/block/links.html -->
        <!-- ENDIF -->
    </div>
    <div  id="bbdkpmiddle">
        <!-- IF S_DISPLAY_WELCOME -->
        <!-- INCLUDE dkp/block/welcomeblock.html -->
        <!-- ENDIF -->

        <!-- INCLUDE dkp/block/news.html -->

        <!-- IF S_DISPLAY_WHOISONLINE && S_DISPLAY_WHOISONLINE_BOTTOM -->
        <!-- INCLUDE dkp/block/whoisonlineblock.html -->
        <!-- ENDIF -->
    </div>

    <div id="bbdkprightside">
        <!-- IF not S_USER_LOGGED_IN -->
        <!-- INCLUDE dkp/block/loginblock.html -->
        <!-- ENDIF -->

        <!-- IF S_USER_LOGGED_IN -->
        <!-- INCLUDE dkp/block/userblock.html -->
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_WHOISONLINE && S_DISPLAY_WHOISONLINE_SIDE -->
        <!-- INCLUDE dkp/block/online.html -->
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_RT -->
        <!-- INCLUDE dkp/block/recent.html -->
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_RECRUIT -->
        <!-- INCLUDE dkp/block/recruitment.html -->
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_NEWMEMBERS -->
        <!-- INCLUDE dkp/block/newmembers.html -->
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_LOOT -->
        <!-- INCLUDE dkp/block/lastloot.html -->
        <!-- ENDIF -->
    </div>
</div>
<!-- INCLUDE overall_footer.html -->
