<!-- INCLUDE ucp_header.html -->

<h2>{DKPCHAR_TITLE}</h2>

<form id="characters" method="post" action="{U_ACTION}">
<div class="panel">
<div class="inner"><span class="corners-top"><span></span></span>
<h3>{DKPCHAR_TITLE}</h3>
<fieldset><!-- IF ERROR -->
<p class="error">{ERROR}</p>
<!-- ENDIF -->
</fieldset>

<!-- IF S_SHOW -->
<dl>
	<!-- IF  .members_row -->
	<dt><label for="dkpmember">{L_CHARACTER}</label>
	</dt>
	<dd>
	
	<div class="panel">
	<div class="inner">
	<span class="corners-top"><span></span></span>

	<table  class="table1" width="100%" border="0" cellspacing="0" cellpadding="2">
		<thead>		
		<!-- BEGIN members_row -->
		<tr>
			<th width="15%" nowrap="nowrap" style="text-align:center;"><strong>{members_row.COUNT}</strong></th>
			<th width="20%" nowrap="nowrap" style="text-align:center;" ><strong><h4><span style="color:{members_row.COLORCODE}">{members_row.NAME}</span></h4></strong></th>
			<th width="20%" nowrap="nowrap" style="text-align:center;">
			<!-- IF members_row.S_RACE_IMAGE_EXISTS --><img src="{members_row.RACE_IMAGE}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
			<!-- IF members_row.S_CLASS_IMAGE_EXISTS --><img src="{members_row.CLASS_IMAGE}" alt="{members_row.CLASS}" /><!-- ELSE -->&nbsp;<!-- ENDIF -->&nbsp;</span>
			</th>
			
			<th width="20%" nowrap="nowrap" style="text-align:center;"><strong> {L_LEVEL} {members_row.LEVEL}</strong></th>
			<!-- IF S_SHOWEPGP --> 
				<th></th>
			<!-- ENDIF -->	
		</tr>
		</thead>
		<tbody>

		<!-- BEGIN dkp_row -->
		<!-- IF dkp_row.S_ROW_COUNT is even -->
		<tr class="row bg1">
		<!-- ELSE -->
		<tr class="row bg2">
		<!-- ENDIF -->
			<td width="20" nowrap="nowrap"><a
				href="{members_row.dkp_row.U_VIEW_MEMBER}"> {members_row.dkp_row.DKPSYS}</td>
			<td width="20" nowrap="nowrap">{L_EARNED} : {members_row.dkp_row.EARNED}</td>
			<td width="20" nowrap="nowrap">{L_SPENT} : {members_row.dkp_row.SPENT}</td>
			<td width="20" nowrap="nowrap">{L_CURRENT} : {members_row.dkp_row.CURRENT}</td>
			<!-- IF S_SHOWEPGP --> 
			<td width="20" nowrap="nowrap">{L_PR} : {members_row.dkp_row.PR}</td>
			<!-- ENDIF -->
		</tr>
		<!-- END dkp_row -->
		<!-- END members_row -->


		</tbody>
	</table>
	
	<span class="corners-bottom"><span></span></span>
	</div>
	</div>

	<p><br /></p>
	</dd>

	<!-- ENDIF -->
</dl>
<!-- IF S_SHOW_BUTTONS -->
<hr />
<fieldset class="submit-buttons">
<dl>
	<dt><label for="dkpmember"></label>{L_CHARACTER_EXPLAIN}</dt>
	<dd><select id="dkpmember" name="dkpmember">
		{S_DKPMEMBER_OPTIONS}
	</select></dd>
</dl>

<input class="button2"
	type="reset" id="reset" name="reset" value="{L_RESET}" />&nbsp; <input
	class="button1" type="submit" id="submit" name="submit"
	value="{L_SUBMIT}" /> {S_FORM_TOKEN}
</fieldset>
<!-- ENDIF --> 

<!-- ELSE --> 
<p class="error">{L_NO_CHARACTERS} </p><p><br /></p>
<!-- ENDIF --> 

<span class="corners-bottom"><span></span></span></div>
</div>
</form>


<!-- INCLUDE ucp_footer.html -->
