<!-- INCLUDE overall_header.html -->
<script type="text/javascript" src="{T_TEMPLATE_PATH}/js/jquery-ui-1.8.4.custom.min.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/js/jquery.progressbar.js"></script>
<div id="bbguildwrap">
    <div id="bbguildleftside">
        <!-- IF S_DISPLAY_MAINMENU -->
        <!-- INCLUDE block/mainmenu.html -->
        <!-- ENDIF -->
        <!-- IF S_DISPLAY_LINKS -->
        <!-- INCLUDE block/links.html -->
        <!-- ENDIF -->
    </div>
    <div  id="bbguildmiddle">
        <!-- IF S_DISPLAY_WELCOME -->
        <!-- INCLUDE block/welcomeblock.html -->
        <!-- ENDIF -->

        <!-- INCLUDE block/news.html -->

        <!-- IF S_DISPLAY_WHOISONLINE && S_DISPLAY_WHOISONLINE_BOTTOM -->
        <!-- INCLUDE block/whoisonlineblock.html -->
        <!-- ENDIF -->
    </div>

    <div id="bbguildrightside">
        <!-- IF not S_USER_LOGGED_IN -->
        <!-- INCLUDE block/loginblock.html -->
        <!-- ENDIF -->

        <!-- IF S_USER_LOGGED_IN -->
        <!-- INCLUDE block/userblock.html -->
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_WHOISONLINE && S_DISPLAY_WHOISONLINE_SIDE -->
        <!-- INCLUDE block/online.html -->
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_RT -->
        <!-- INCLUDE block/recent.html -->
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_RECRUIT -->
        <!-- INCLUDE block/recruitment.html -->
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_NEWPLAYERS -->
        <!-- INCLUDE block/newplayers.html -->
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_LOOT -->
        <!-- INCLUDE block/lastloot.html -->
        <!-- ENDIF -->
    </div>
</div>
<!-- INCLUDE overall_footer.html -->
