<!-- INCLUDE overall_header.html -->

<div>

<!-- left bbDKP sidebar -->
<div style="float: left; width: 15%; margin:0.5%">

<!-- INCLUDE dkp/view/profile-sidebar.html -->

</div>

<div style="float: left; width: 83%; margin:0.5%">

<!-- IF S_DISPLAY_STANDINGS -->
	<!-- INCLUDE dkp/view/standings.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_VIEWMEMBER -->

	<!-- IF S_SHOWEPGP -->
		<!-- INCLUDE dkp/view/viewmember_epgp.html -->
	<!-- ELSE -->
		<!-- INCLUDE dkp/view/viewmember.html -->
	<!-- ENDIF -->

<!-- ENDIF -->
<!-- IF S_DISPLAY_STATS -->
	<!-- INCLUDE dkp/view/stats.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_LISTEVENTS -->
	<!-- INCLUDE dkp/view/listevents.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_VIEWEVENT -->
	<!-- INCLUDE dkp/view/viewevent.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_RAIDS -->
	<!-- INCLUDE dkp/view/listraids.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_VIEWRAIDS -->
	<!-- INCLUDE dkp/view/viewraid.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_LOOTHISTORY -->
	<!-- INCLUDE dkp/view/loothistory.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_LOOTDB -->
	<!-- INCLUDE dkp/view/lootdb.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_VIEWITEM -->
	<!-- INCLUDE dkp/view/viewitem.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_ROSTERGRID -->
	<!-- INCLUDE dkp/view/rostergrid.html -->
<!-- ENDIF -->
<!-- IF S_DISPLAY_ROSTERLISTING -->
	<!-- INCLUDE dkp/view/rosterlisting.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_NEWS -->
	<!-- INCLUDE dkp/view/news.html -->
<!-- ENDIF -->

<!-- [+] Bossprogress -->

<!-- [-] Bossprogress -->

<!-- [+] Raidplanner -->

<!-- [-] Raidplanner -->

<!-- [+] Apply -->

<!-- [-] Apply -->

</div>

<!-- right bbDKP sidebar -->
<div style="float: left; width: 0%; margin:0.5%">

</div>
<div style="clear:both;"></div>
</div>
<!-- INCLUDE overall_footer.html -->
