/* bbguild
------------*/
.positive {
	color: #00BB55;
}
.negative {
	color: #FF3344;
}

.highlight {
    background-color: #cccccc;
}

.warningbox {
	padding: 8px;
	margin: 10px 0;
	color: #000;
	text-align: center;
	background-color: #FFC901;
}

* html .warningbox { height: 1%; } /* Pixel shift fix for IE */

.warningbox h3 {
	color: #000;
	margin: 0 0 0.5em;
	font-size: 1.10em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
}

.warningbox p {
	color: #000;
	font-size: 0.85em;
	margin-bottom: 0;
}

.warningbox a:link, .warningbox a:active, .warningbox a:visited
{
	color: #DBD7D1;
	text-decoration: underline;
	font-weight: bold;
}

.warningbox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}



.ro {
	background-color: #FFFFFF;
}

.ro:hover {
	background-color: #EEEEEE;
}

div.search-box input {
    background-image: url("icon_search.gif");
    background-position: left 1px;
    background-repeat: no-repeat;
    color:#0F4987;
    padding-left: 17px;
    text-align: right;
    white-space: nowrap;
    margin: 0;
    line-height: 1;
	background-color: #FFFDDD;
    height: 18px;
    size:35;
    maxlength:255;
}


div#main h1 {
	color: lightslategrey;
}

h3, h4 {

	color: teal;
}

select
{
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid #7F7F7F;
	padding: 1px;
	background-color: #040d1a;
	font-size: 1em;
    border:1px solid #efefef;
    background:#f2f1ef;
    border-radius:0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	width: 200px;

}
