{#
 # Block wrapper definitions for portal modules.
 # Matches the Board3 _block_config.html pattern.
 #
 # Side blocks (right column): LR_BLOCK_H_L/H_R/F_L/F_R
 # Center blocks (top/center/bottom): C_BLOCK_H_L/H_R/F_L/F_R
 #}

{# --- Side block wrappers (right column) --- #}

{% DEFINE LR_BLOCK_H_L %}
<div class="forabg portal-side" id="portal-module-{{ definition.MODULE_ID }}">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
{% ENDDEFINE %}

{% DEFINE LR_BLOCK_H_R %}
					</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist portal-module-list">
			<li class="row">
				<div class="list-inner portal-module-content">
{% ENDDEFINE %}

{% DEFINE LR_BLOCK_F_L %}
				</div>
			</li>
		</ul>
{% ENDDEFINE %}

{% DEFINE LR_BLOCK_F_R %}
	</div>
</div>
{% ENDDEFINE %}

{# --- Center block wrappers (top, center, bottom columns) --- #}

{% DEFINE C_BLOCK_H_L %}
<div class="forabg portal-center-block" id="portal-module-{{ definition.MODULE_ID }}">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
{% ENDDEFINE %}

{% DEFINE C_BLOCK_H_R %}
					</dt>
				</dl>
			</li>
		</ul>
		<div class="panel bg1 portal-no-margin">
			<div class="inner">
				<div class="postbody portal-module-postbody">
					<div class="content portal-module-content">
{% ENDDEFINE %}

{% DEFINE C_BLOCK_F_L %}
					</div>
				</div>
			</div>
		</div>
{% ENDDEFINE %}

{% DEFINE C_BLOCK_F_R %}
	</div>
</div>
{% ENDDEFINE %}

{# --- Icon helper macro --- #}

{% DEFINE BLOCK_ICON %}
	{% if definition.FA_ENABLED %}
		<i class="fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;"></i>&nbsp;
	{% elseif definition.IMAGE_SRC %}
		<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" class="b3p-icon" />&nbsp;
	{% endif %}
{% ENDDEFINE %}
