/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body
{
	color: #EFC9A0;
}

h1 {
	color: #F9EFA2;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:1.5em;
	font-weight:normal;
}

h2 {
	color: #F9EFA2;
}

h3 {
	border-bottom-color: #262D3C;
	color: #764B00 !important;
}

hr {
	border-color: #EFC9A0;
	border-top-color: #262D3C;
}

hr.dashed {
	border-top-color: #262D3C;
}



/* Round cornered boxes and backgrounds
---------------------------------------- */

.navbar {
background-color: transparent;
	background-image: url("{T_THEME_PATH}/images/navigation.png");
	height: 40px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
}

.forabg {
	background-color: #1A0F08;
	background-image: url("{T_THEME_PATH}/images/bg_list.jpg");
}

.forumbg {
	background-color: #1A0F08;
	background-image: url("{T_THEME_PATH}/images/bg_list.jpg");
}

.panel {
	color: #EFC9A0;
}

.post:hover, .poll:hover, .post:active, .poll:active {
    box-shadow: 0 0 2px 2px #FFB019;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
}

.post:target .content {
	color: #FFFFCC;
}

.post:target h3 a {
	color: #FF9700;
}

.bg1
{
	background-color: #321E15;
	/*background-image: url("{T_THEME_PATH}/images/post_bg.jpg");
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
	-moz-border-image: url("{T_THEME_PATH}/images/post_bg.jpg") 0; 	*/
	z-index: 0;
	border:2px solid #250003;
	}

.bg2
{
	background-color: #21120B;
	/*background-image: url("{T_THEME_PATH}/images/post_bg.jpg");
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
	-moz-border-image: url("{T_THEME_PATH}/images/post_bg.jpg") 0;  */
	z-index: 0;
	border:2px solid #250003;
	}

.bg3
{
	background-color: #1A0F08;
	border:2px solid #250003;
}

.ucprowbg {
	background-color: #DFDFDF;
}

.fieldsbg {
	background-color: #E8E8E9;
}

span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-bottom-color: #EFC9A0;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #220033;
}

table.table1 tbody tr {
	border-color: #C4C5CA;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #131313;
	color: #EFC9A0;
}

table.table1 td {
	color: #EFC9A0;
}

table.table1 tbody td {
	border-top-color: #220033;
}

table.table1 tbody th {
	border-bottom-color: #1A0F08;
	color: #AAAAAA;
	background-color: #EFC9A0;
}

table.info tbody th {
	color: #1A0F08;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #eba233;
	font-weight:bold;
}

dl.details dd {
	color: #FF9700;
}

.sep {
	color: #6B797F;
}

/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #EFC9A0;
	background-color: #7C8489;
	border-color: #7C8489;
}

.pagination span a, .pagination span a:link, .pagination span a:visited {
	color: #727476;
	background-color: #EDEDED;
	border-color: #B9BABB;
}

.pagination span a:hover {
	border-color: #EFC9A0;
	background-color: #EFC9A0;
	color: #EFC9A0;
}

.pagination span a:active {
	color: #5C758C;
	background-color: #ECEDEE;
	border-color: #B4BAC0;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	background-image: url("{T_THEME_PATH}/images/icon_pages.png");
}

.row .pagination span a, li.pagination span a {
	background-color: #EFC9A0;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #EFC9A0;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #FF4040;
}

.reported {
	background-color: #FF4040;
}

li.reported:hover {
	background-color: #DDE0E4 !important;
}

.sticky, .announce {
	/* you can add a background for stickies and announcements*/
	/*blizzard colors*/
	color: #00B4F3;
}

div.rules {
	background-color: #001133;
	color: #33FF33;
}

p.rules {
	background-color: #43464a;
	background-image: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a:link	{ color: #FF9700; }
a:visited	{ color: #FF9700; }
a:hover	{ color: #EFC9A0; }
a:active	{ color: #FF9700; }

h2 a:link { color: #F9EFA2; }
h2 a:visited	{ color: #F9EFA2; }
h2 a:hover	{ color: #EFC9A0; }
h2 a:active	{ color: #F9EFA2; }


/* Links on gradient backgrounds */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #EFC9A0;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #EFC9A0;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #EFC9A0;

}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	color: #EFC9A0;
}

/* Links for forum/topic lists */
a.forumtitle {
	color: #FF9933;
}

/* a.forumtitle:visited { color: #FF9700; } */

a.forumtitle:hover {
	color: #EFC9A0;
}

a.forumtitle:active {
	color: #FF9700;
}

a.topictitle {
	color: #FFB100;
}

/* a.topictitle:visited { color: #2BD9FE } */

a.topictitle:hover {
	color: #EFC9A0;
    text-decoration: none;

}

a.topictitle:active {
	color: #EFC9A0;
}

/* Post body links */
.postlink {
	color: #EFC9A0;
	border-bottom-color: #EFC9A0;
}

.postlink:visited {
	color: #888D92;
	border-bottom-color: #5D8FBD;
}

.postlink:active {
	color: #EFC9A0;
}

.postlink:hover {
	background-color: #1A0F08;
	color: #EFC9A0;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
	color: #FF9700;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #EFC9A0;
}

.postprofile a:active {
	color: #105289;
}

/* Profile searchresults */
.search .postprofile a {
	color: #FF9700;
}

.search .postprofile a:hover {
	color: #EFC9A0;
}

/* Back to top of page */
a.top {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

a.top2 {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

/* Arrow links  */
a.up		{ background-image: url("{T_THEME_PATH}/images/arrow_up.png") }
a.down		{ background-image: url("{T_THEME_PATH}/images/arrow_down.png") }
a.left		{ background-image: url("{T_THEME_PATH}/images/arrow_left.png") }
a.right		{ background-image: url("{T_THEME_PATH}/images/arrow_right.png") }

a.up:hover {
	background-color: transparent;
}

a.left:hover {
	color: #EFC9A0;
}

a.right:hover {
	color: #EFC9A0;
}


/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #111111;
	border: 1px solid #1A0F08;
}

ul.topiclist li {
	color: #C48F01;
}

ul.topiclist dd {
	border-left-color: #1A0F08;
}



.rtl ul.topiclist dd {
	border-right-color: #EFC9A0;
	border-left-color: transparent;
}



ul.topiclist li.row dt a.subforum.read {
	background-image: url("{IMG_SUBFORUM_READ_SRC}");
}



ul.topiclist li.row dt a.subforum.unread {
	background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");
}



li.row {

	border-top-color:  #1A0F08;
	border-bottom-color: #1A0F08;
	border-right-color: #1A0F08;
	border-left-color: #1A0F08;
	background-color: transparent;
	background-image: url("{T_THEME_PATH}/images/content-bg.png");
}

li.row strong {
	color: #bbbbbb;
	background-color: transparent;
}

li.row:hover {
	background-color: #111;
	background-image: url("{T_THEME_PATH}/images/content-hover.png")
}

li.row:hover dd {
	border-left-color: #555555;
}

.rtl li.row:hover dd {
	border-right-color: #555555;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #C48F01;
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
	/*background-image: url("{T_THEME_PATH}/images/gradient.png");*/
	color: #AAAAAA;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #777;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #EFC9A0;

}

.content h2, .panel h2 {
	color: #EFC9A0;
	border-bottom-color:  #262D3C;
}

dl.faq dt {
	color: #EFC9A0;
}

.posthilit {
	background-color: #D2D9E0;
	color: #5F7187;
}

/* Post signature */
.signature {
	border-top-color: #555;
}

/* Post noticies */
.notice {
	border-top-color:  #262D3C;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #222;
	background-image: url("{T_THEME_PATH}/images/quote.png");
	border-color:#555;
}

.rtl blockquote {
	background-image: url("{T_THEME_PATH}/images/quote_rtl.png");
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#303030;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #AAAAAA;
}

/* Code block */
dl.codebox {
	background-color: #222;
	border-color: #555;
}

dl.codebox dt {
	border-bottom-color:  #555;
}

dl.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #EFC9A0; }
.syntaxcomment	{ color: #FC7003; }
.syntaxdefault	{ color: #222299; }
.syntaxhtml		{ color: #1A0F08; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #515E8C; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #222;
	border-color:  #555;
}

.pm-message .attachbox {
	background-color: #222;
}

.attachbox dd {
	border-top-color: #555;
}

.attachbox p {
	color: #777;
}

.attachbox p.stats {
	color: #777;
}

.attach-image img {
	border-color: #555;
}

/* Inline image thumbnails */

dl.file dd {
	color: #777;
}

dl.thumbnail img {
	border-color: #555;
	background-color: #222;
}

dl.thumbnail dd {
	color: #777;
}

dl.thumbnail dt a:hover {
	background-color: #CCCCCC;
}

dl.thumbnail dt a:hover img {
	border-color: #EFC9A0;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DFDFDF;
	color: #FF9700;
}

fieldset.polls dl.voted {
	color: #1A0F08;
}

fieldset.polls dd div {
	color: #EFC9A0;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #546679;
	border-bottom-color: #384452;
	border-right-color: #384452;
}

.rtl .pollbar1 {
	border-left-color: #384452;
}

.pollbar2 {
	background-color: #586E84;
	border-bottom-color: #455363;
	border-right-color: #455363;
}

.rtl .pollbar2 {
	border-left-color: #455363;
}

.pollbar3 {
	background-color: #5D768E;
	border-bottom-color: #546679;
	border-right-color: #546679;
}

.rtl .pollbar3 {
	border-left-color: #546679;
}

.pollbar4 {
	background-color: #617E99;
	border-bottom-color: #586E84;
	border-right-color: #586E84;
}

.rtl .pollbar4 {
	border-left-color: #586E84;
}

.pollbar5 {
	background-color: #6586A4;
	border-bottom-color: #5D768E;
	border-right-color: #5D768E;
}

.rtl .pollbar5 {
	border-left-color: #5D768E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #ebebeb;
	border-left-color: #555;
}

.rtl .postprofile {
	border-right-color: #EFC9A0;
	border-left-color: transparent;
}

.pm .postprofile {
	border-left-color: #EFC9A0;
}

.rtl .pm .postprofile {
	border-right-color: #EFC9A0;
	border-left-color: transparent;
}

.postprofile strong {
	color: #FF9700;
}

.online {
	background-image: url("{IMG_ICON_USER_ONLINE_SRC}");
	z-index: 1;
	background-position: 100% -27px;
	background-repeat: no-repeat;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

/* Big button images */
.reply-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_REPLY_SRC}"); }
.post-icon span		{ background-image: url("{IMG_BUTTON_TOPIC_NEW_SRC}"); }
.locked-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_LOCKED_SRC}"); }
.pmreply-icon span	{ background-image: url("{IMG_BUTTON_PM_REPLY_SRC}") ;}
.newpm-icon span 	{ background-image: url("{IMG_BUTTON_PM_NEW_SRC}") ;}
.forwardpm-icon span	{ background-image: url("{IMG_BUTTON_PM_FORWARD_SRC}") ;}

a.print {
	background-image: url("{T_THEME_PATH}/images/icon_print.png")!important;
	background-repeat: no-repeat !important;
}

a.sendemail {
	background-image: url("{T_THEME_PATH}/images/icon_sendemail.png")!important;
	background-repeat: no-repeat !important;
}

a.fontsize {
	background-image: url("{T_THEME_PATH}/images/icon_fontsize.png")!important;
	background-repeat: no-repeat !important;
}

/* Icon images
---------------------------------------- */
.sitehome						{ background-image: url("{T_THEME_PATH}/images/icon_home.png"); }
.icon-faq						{ background-image: url("{T_THEME_PATH}/images/icon_faq.png"); }
.icon-members					{ background-image: url("{T_THEME_PATH}/images/icon_members.png"); }
.icon-home						{ background-image: url("{T_THEME_PATH}/images/icon_home.png"); }
.icon-ucp						{ background-image: url("{T_THEME_PATH}/images/icon_ucp.png"); }
.icon-register					{ background-image: url("{T_THEME_PATH}/images/icon_register.png"); }
.icon-logout					{ background-image: url("{T_THEME_PATH}/images/icon_logout.png"); }
.icon-bookmark					{ background-image: url("{T_THEME_PATH}/images/icon_bookmark.png"); }
.icon-bump						{ background-image: url("{T_THEME_PATH}/images/icon_bump.png"); }
.icon-subscribe					{ background-image: url("{T_THEME_PATH}/images/icon_subscribe.png"); }
.icon-unsubscribe				{ background-image: url("{T_THEME_PATH}/images/icon_unsubscribe.png"); }
.icon-pages						{ background-image: url("{T_THEME_PATH}/images/icon_pages.png"); }
.icon-search					{ background-image: url("{T_THEME_PATH}/images/icon_search.png"); }
/* Profile & navigation icons */
.email-icon, .email-icon a		{ background-image: url("{IMG_ICON_CONTACT_EMAIL_SRC}"); }
.aim-icon, .aim-icon a			{ background-image: url("{IMG_ICON_CONTACT_AIM_SRC}"); }
.yahoo-icon, .yahoo-icon a		{ background-image: url("{IMG_ICON_CONTACT_YAHOO_SRC}"); }
.web-icon, .web-icon a			{ background-image: url("{IMG_ICON_CONTACT_WWW_SRC}"); }
.msnm-icon, .msnm-icon a			{ background-image: url("{IMG_ICON_CONTACT_MSNM_SRC}"); }
.icq-icon, .icq-icon a			{ background-image: url("{IMG_ICON_CONTACT_ICQ_SRC}"); }
.jabber-icon, .jabber-icon a		{ background-image: url("{IMG_ICON_CONTACT_JABBER_SRC}"); }
.pm-icon, .pm-icon a				{ background-image: url("{IMG_ICON_CONTACT_PM_SRC}"); }
.quote-icon, .quote-icon a		{ background-image: url("{IMG_ICON_POST_QUOTE_SRC}"); }

/* Moderator icons */
.report-icon, .report-icon a		{ background-image: url("{IMG_ICON_POST_REPORT_SRC}"); }
.edit-icon, .edit-icon a			{ background-image: url("{IMG_ICON_POST_EDIT_SRC}"); }
.delete-icon, .delete-icon a		{ background-image: url("{IMG_ICON_POST_DELETE_SRC}"); }
.info-icon, .info-icon a			{ background-image: url("{IMG_ICON_POST_INFO_SRC}"); }
.warn-icon, .warn-icon a			{ background-image: url("{IMG_ICON_USER_WARN_SRC}"); } /* Need updated warn icon */

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: #131313;
}

#cp-main .panel li.row {
	border-bottom-color: #131313;
	border-top-color: #131313;
}

ul.cplist {
	border-top-color: #131313;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	color: #EFC9A0;
}

#cp-main table.table1 thead th {
	color: #EFC9A0;
	border-bottom-color: #131313;
}

#cp-main .pm-message {
	border-color: #131313;
	background-color: #EFC9A0;
}

/* CP tabbed menu
----------------------------------------*/
#tabs a {
	background-image: url("{T_THEME_PATH}/images/bg_tabs1.png");
}

#tabs a span {
	background-image: url("{T_THEME_PATH}/images/bg_tabs2.png");
}

#tabs a:hover span {
	color: #EFC9A0;
}

#tabs .activetab a {
	border-bottom-color: #131313;
}

#tabs .activetab a span {
	color: #EFC9A0;
}

#tabs .activetab a:hover span {
	color: #EFC9A0;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs li {
	background-color: #1A0F08;
}

#minitabs li.activetab {
	background-color: #1A0F08;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #1B1B1B;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #EFC9A0;
	background-color: #1A0F08;
	background-image: url("{T_THEME_PATH}/images/bg_menu.png");
}

.rtl #navigation a {
	background-image: url("{T_THEME_PATH}/images/bg_menu_rtl.png");
	background-position: 0 100%;
}

#navigation a:hover {
	background-image: none;
	background-color: #1A0F08;
	color: #EFC9A0;
}

#navigation #active-subsection a {
	color: #EFC9A0;
	background-color: #131313;
	background-image: none;
}

#navigation #active-subsection a:hover {
	color: #555555;
}

/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	color: #EFC9A0;
}

#cp-main .panel {
	background-color: #2B1507;
}

#cp-main .pm {
	background-color: #2B1507;
}

#cp-menu span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left2.png");
}

#cp-menu span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.png");
}

#cp-menu span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left2.png");
}

#cp-menu span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.png");
}

/* Topicreview */
#topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

#topicreview span.corners-top span, #cp-menu .panel #topicreview span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

#topicreview span.corners-bottom, #cp-menu .panel #topicreview span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

#topicreview span.corners-bottom span, #cp-menu .panel #topicreview span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

/* Friends list */
.cp-mini {
	background-color: #2B1507;
}

dl.mini dt {
	color: #535456;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #1A0F08 !important;
}

/* PM panel adjustments */
.pm-panel-header,
#cp-main .pm-message-nav {
	border-bottom-color: #A4B3BF;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #5F7187;
	border-right-color: #5F7187;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #E9162F;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #B4B6B7;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #888D92;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #1A0F08;
}

/* Avatar gallery */
#gallery label {
	background-color: #EFC9A0;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #1A0F08;
	color: #EFC9A0;
}

label {
	color: #EFC9A0;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #CCCCCC;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #F1EBD7;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #1A0F08;
	color: #EFC9A0;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #1A0F08;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #F1EBD7;
	border-color: #000;
	color: #E6BE2E;
}

.inputbox:hover {
	border-color: #E33E02;
}

.inputbox:focus {
	border-color: #E33E02;
	color: #E6BE2E;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #F1EBD7;
	background-color: #FAFAFA;
	background-image: url("{T_THEME_PATH}/images/bg_button.png");
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	color: #1A0F08;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #5F7187;
	color: #5F7187;
}

input.search {
	background-image: url("{T_THEME_PATH}/images/icon_textbox_search.png");
}

input.disabled {
	color: #FF9700;
}
