<div class="wow-recent" id="onlineblock">
<h2 class="open">{L_WHO_IS_ONLINE}</h2>
<div class="bbdkpblock">
<ul class="topiclist forums" style="padding: 4px">
	<li>
	<!-- IF IN_FORUMS --><p>{TOTAL_USERS_ONLINE_SITEWIDE}<!-- ELSE --><p>{TOTAL_USERS_ONLINE}<!-- ENDIF -->.
	{RECORD_USERS}</p>
	<p>{LOGGED_IN_USER_LIST} <em>{L_ONLINE_EXPLAIN}</em></p>
	<!-- IF U_VIEWONLINE -->&raquo;&nbsp;<a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ENDIF -->
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF -->
	</li>
</ul>
</div>
</div>
