<div class="forabg">
<div class="inner">
<span class="corners-inner-top"><span></span></span>

<ul class="topiclist" style="padding: 4px">
<li class="header">
<dl>
<dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px;">
{L_WELCOME}
</dt>
</dl>
</li>
</ul>

<div class="panel bg1">
<div class="inner">
<span class="corners-top" style="background-image:none !important "><span style="background-image:none !important "></span></span>

 <div class="postbody" style="width:100%;">
    <div class="content" style="min-height: 1em;">
    {WELCOME_MESSAGE}
    </div>
 </div>

<span class="corners-bottom"  style="background-image:none !important"><span style="background-image:none !important "></span></span>
</div>
</div>

<span class="corners-bottom"><span></span></span>
</div>
</div>