<!--  begin whoisonlineblock  -->

<div class="index-extra" id="online">
	<h2 class="open"><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h2>
	<div class="block">
		<p style="margin: 0 5px 0 5px;">{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
		<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
		<!-- IF U_VIEWONLINE --><a class="online-pagelink" href="{U_VIEWONLINE}"><img src="{T_IMAGESET_PATH}/images/icons/icon_pagelink.gif" alt="{L_WHO_IS_ONLINE}" title="{L_WHO_IS_ONLINE}" /></a><!-- ENDIF -->
	</div>
</div>

<!--  end whoisonlineblock  -->