/* Custom CSS for bbGuild */
.bbguildouter
{
    background:  rgb(255, 255, 255) transparent;
}

#bbguildwelcome
{
    width: 100%;
    color: #c09a67;
    margin: 0 auto;
    position: relative;
    min-height: 600px;
    clear: both;
    background-color: rgb(255, 255, 255) transparent;
}

.roster {
     padding-top: 15px;
     margin-left: 5px;
     min-height: 807px;
     padding-bottom: 40px;
}

.category, .subheader-3 {
    font-size: 22px;
    font-weight: normal;
    letter-spacing: -0.05em;
    border-bottom: 0px !important;
}

/* profile sidebar */
.profile-sidebar-anchor {
    float: left;
    height: 0;
    position: relative;
    width: 0;
}

.profile-sidebar-outer {
    left: 0;
    position: relative;
    top: 0;
}

.profile-sidebar-inner {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.profile-sidebar-inner {
   /* background: rgba(0, 0, 0, 0) url("./images/sidebar-bg.jpg") no-repeat scroll 0 0;*/
    height: 684px;
    width: 230px;
}

.profile-wrapper-alliance {
    background-image: url("./images/sidebar-bg-alliance.png");
}
.profile-wrapper-horde {
    background-image: url("./images/sidebar-bg-horde.png");
}
.profile-wrapper-other {
    /* need to find other watermark */
}

.profile-info-anchor, .profile-info {
    width: 700px;
}

.profile-info-anchor {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0;
    height: 218px;
    position: relative;
    z-index: 1;
}

.profile-guild-info-anchor .guild-tabard {
    left: 720px;
    top: 20px;
}

/* other pages tabard */
.profile-sidebar-tabard {
    height: 250px;
    position: relative;
    width: 230px;
}

.profile-sidebar-tabard .guild-tabard {
    left: 7px;
    overflow: hidden;
    top: 0;
}

.guild-tabard {
    height: 200px;
    position: absolute;
    width: 200px;
}

.profile-sidebar-tabard .tabard-overlay {
    background: rgba(0, 0, 0, 0);
    height: 289px;
    left: -22px;
    position: absolute;
    top: 1px;
    width: 269px;
}

.profile-info {
    left: 25px;
    letter-spacing: -0.05em;
    line-height: normal;
    position: absolute;
    top: 45px;
}

.profile-info-anchor, .profile-info {
    width: 700px;
}

.profile-guild-info .name {
    float: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 760px;
}

.profile-info .name {
    color: #000000;
    float: left;
    font-size: 36px;
    font-weight: bold;
    left: -3px;
    letter-spacing: -0.05em;
    line-height: 1.1em;
    position: relative;
    font-family: Arial,Verdana,sans-serif;
}

.profile-info .name a {
    color: #000000;
    outline: medium none;
    text-decoration: none;
}


.profile-info .under-name {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 14px;
}

.profile-info .comma {
    color: #cccccc;
}


.profile-wrapper-alliance .realm, .profile-wrapper-alliance .realm a {
    color: #0078ff;
}

.profile-wrapper-horde .realm, .profile-wrapper-horde .realm a {
    color: #b30000;
}

.profile-info .realm {
    border-bottom: 0 none;
}

.profile-info .achievements {
    margin-top: 20px;
}

.profile-info .achievements a {
    background: rgba(0, 0, 0, 0) url("./images/achievements.gif") no-repeat scroll left 7px;
    color: white;
    font-family: "Arial Black",Arial,sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    padding-left: 11px;
}

ul.profile-sidebar-menu {
    position: absolute;
    list-style-type: none;
}

ul.profile-sidebar-menu {
    background: rgba(0, 0, 0, 0);
    font-size: 13px;
    margin: 14px 0 0 25px;
    padding-bottom: 1px;
    width: 196px;
}

ul.profile-sidebar-menu li {
    background: rgba(0, 0, 0, 0);
    padding-top: 1px;
    white-space: nowrap;
}
ul.profile-sidebar-menu a {
    display: block;
    padding-left: 3px;
}

ul.profile-sidebar-menu a .arrow {
    display: block;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.profile-guild-menu {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0;
    height: 100px;
    position: relative;
    z-index: 1;
}

.profile-guild-chooser {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0;
    height: 30px;
    position: relative;
    z-index: 1;
    padding: 20px 5px 20px 20px;
}

.profile-section {
    /*background: rgba(0, 0, 0, 0) url("./images/section-bg.png") no-repeat scroll 0 0;*/
    min-height: 400px;
    padding: 15px;
}


.profile-section-sub {
    min-height: 400px;
    margin-left: -150px;
}

.profile-contents {
    margin-left: 170px;
    min-height: 807px;
    padding-bottom: 40px;
}

/* welcome page */

.welcome-top {
    padding-top: 200px;
    margin: 0 0 8px;
    overflow: auto;
    position: relative;
}

.welcome-col1 {
    display: inline-block;
    margin: 0 4px 0 0;
    min-height: 250px;
    vertical-align: top;
    width: calc(60% - 8px);
}

.welcome-col2 {
    display: inline-block;
    margin: 0 0 0 4px;
    min-height: 250px;
    vertical-align: top;
    width: calc(40% - 7px);
}


.bbguild-activity-feed li {
    background-position: 5px 50%;
    background-repeat: no-repeat;
    border-top: 1px solid #371b0d;
    padding: 13px 0 13px 29px;
    position: relative;
}

.color-q4, .color-q4 a {
    color: #c600ff !important;
}

.color-blizz, .color-blizz a {
    color: #ffb100;
}


ul#bbguild-activity-feed {
    list-style-type: none;
}

ul#bbguild-activity-feed li {
    background-position: 5px 50%;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    padding-left: 29px;
    padding-right: 0;
    padding-top: 5px;
    position: relative;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 12px;
}


ul#bbguild-activity-feed li dl dd  {
    padding-right: 4px;
    display: inline;
}
ul#bbguild-activity-feed li dl dt {
    color: #71401f;
    display: inline;
    font-size: 11px;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    table.table1.bbguild thead {
        display: none;
    }
}


/* achievement page
--------------------------------------------- */
.profile-section-header {
    padding: 11px 15px 0;
}

.profile-section {
    /*background-image: url("./images/section-bg-tabs.png");*/
}
.achievements-total {
    clear: both;
    margin-bottom: 30px;
}

.achievements-total .profile-box-full {
    padding-bottom: 5px;
}
.profile-box-full {
    background: rgba(0, 0, 0, 0) url("./images/profilebox-borderfade.png") no-repeat scroll 0 0;
    margin-top: 6px;
    padding: 20px 30px;
}

.achievements-total-completed {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px 15px 15px;
}

#cat-summary .desc {
    display: block;
}

.achievements-total .desc {
    font-weight: normal;
    padding-bottom: 4px;
}

.achievements-total-completed .desc {
    color: #fef092;
    font-weight: bold;
    padding-bottom: 6px;
}

.achievements-total-completed .profile-progress, .achievements-total-completed .profile-progress .bar {
    height: 26px;
}
.achievements-total-completed .profile-progress {
    margin-bottom: 0;
}
.achievements-total .profile-progress, .achievements-total .profile-progress .bar {
    height: 23px;
}
.achievements-total .profile-progress {
    margin: 0 auto 20px;
}
.profile-progress {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    clear: both;
    height: 22px;
    margin: 0;
    text-align: center;
}
.profile-progress {
    clear: both;
    height: 22px;
    margin: 0;
    text-align: center;
}
.profile-progress {
    background-color: #542b19;
    color: white;
    height: 22px;
    margin: 5px auto 10px;
    position: relative;
    text-align: center;
    width: 100%;
}
.border-4 {
    border-radius: 4px;
}
/*----------*/
.achievements-total-completed .profile-progress, .achievements-total-completed .profile-progress .bar {
    height: 26px;
}
.achievements-total .profile-progress, .achievements-total .profile-progress .bar {
    height: 23px;
}
.profile-progress .bar {
    height: 26px;
    position: absolute;
}
.profile-progress .bar {
    background: rgba(0, 0, 0, 0) url("./images/bg-progressbar-fill.gif") repeat-x scroll left -40px;
    display: block;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

/*----------*/
.profile-progress .bar-contents {
    text-shadow: 1px 1px 1px black;
}
.achievements-total-completed .bar-contents {
    line-height: 25px;
}
.achievements-total .bar-contents {
    font-size: 12px;
    font-weight: normal;
    line-height: 23px;
}
.profile-progress .bar-contents {
    line-height: 25px;
}
.profile-progress .bar-contents {
    font-size: 12px;
    left: 0;
    line-height: 22px;
    position: relative;
    text-shadow: 1px 1px 1px #000;
    top: 0;
    z-index: 5;
}

/*----------------*/
#cat-summary .entry {
    color: #c09a67;
    float: left;
    padding-left: 0;
    width: 33.3333%;
}

#cat-summary .entry-inner {
    margin-right: 15px;
    padding: 5px;
}

#cat-summary .desc {
    display: block;
}
.achievements-total .desc {
    font-weight: normal;
    padding-bottom: 4px;
}

.achievements-categories-total .active-category {
    cursor: pointer;
}

ul#bbguild-achievement-feed {
    list-style-type: none;
}

.achievements-recent li {
    border-bottom: 1px solid #331509;
}

