<div class="forabg" style="width:90%; font-size:0.8em">
    <div class="inner">
        <span class="corners-inner-top"><span></span></span>

        <ul class="topiclist" style="padding: 4px">
            <li class="header">
                <dl>
                    <dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px;">
                        <img width="16px" height="14px" alt="" src="{T_THEME_PATH}/images/icon_subscribe.gif" />&nbsp;{L_MEMBERS}
                    </dt>
                </dl>
            </li>
        </ul>

        <table class="bbdkpstats" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th style=" width:20%;"><a href="{O_NAME}">{L_NAME}</a></th>
                <!-- IF S_SHOWEPGP -->
                <th style=" width:20%; text-align:center;" ><a href="{O_PR}">{L_PR}</a></th>
                <!-- ELSE -->
                <th style=" width:20%; text-align:center;" ><a href="{O_CURRENT}">{L_CURRENT}</a></th>
                <!-- ENDIF -->
                <th style=" width:20%; text-align:center;" ><a href="{O_RAIDCOUNT}">#</a></th>
                <th colspan="2" style=" width:40%; text-align:center;" ><a href="{O_ITEMCOUNT}">{L_LOOTS}</a></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th align="left" style="color:white; font-weight:bold; width:40%;" colspan="6"></th>
            </tr>
            </tfoot>
            <tbody>
            <tr class= "bg3">
                <td align="left" style="font-weight:bold; text-align:center;width:40%;" colspan="2">&nbsp;</td>
                <td align="left" style="font-weight:bold; text-align:center;width:20%;">{TOTAL_RAIDS}</td>
                <td align="left" style="font-weight:bold; text-align:center;width:20%;">{TOTAL_DROPS}</td>
                <td align="left" style="font-weight:bold; text-align:center;width:20%;"></td>
            </tr>

            <!-- BEGIN stats_row -->
            <!-- IF stats_row.S_ROW_COUNT is odd -->
            <tr class= "bg1">
                <!-- ELSE -->
            <tr class= "bg2">
                <!-- ENDIF -->
                <td><a style="color:{stats_row.COLORCODE}" href="{stats_row.U_VIEW_MEMBER}">{stats_row.NAME}</a></td>

                <!-- IF S_SHOWEPGP -->
                <td style="font-size :1.1em; text-align: center;">{stats_row.PR}</td>
                <!-- ELSE -->
                <td style="font-size :1.1em; text-align: center;"><span class="{stats_row.C_CURRENT}">{stats_row.CURRENT}</span></td>
                <!-- ENDIF -->
                <td style="font-size :1.1em; text-align: center;">{stats_row.ATTENDED_COUNT}</td>
                <td style="font-size :1.1em; text-align: center;">{stats_row.ITEM_COUNT}</td>
                <td style="font-size :1.1em; text-align: center;">{stats_row.MEMBER_DROP_PCT}</td>
            </tr>
            <!-- END stats_row -->
            </tbody>
        </table>
        <span class="corners-bottom"><span></span></span>
    </div>
</div>