
<div class="forabg" style="width:35%; float:left;">
<div class="inner">
<span class="corners-inner-top"><span></span></span>

<!-- IF DKPPAGINATION -->
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
		<span>{DKPPAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->

<table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
    <th style=" width:20%;"><a href="{O_NAME}">{L_NAME}</a></th>
    <!-- IF S_SHOWEPGP -->
    <th style=" width:20%; text-align:center;" ><a href="{O_PR}">{L_PR}</a></th>
    <!-- ELSE -->
    <th style=" width:20%; text-align:center;" ><a href="{O_CURRENT}">{L_CURRENT}</a></th>
	<!-- ENDIF -->
    <th style=" width:20%; text-align:center;" ><a href="{O_RAIDCOUNT}">{L_RAIDCOUNT}</a></th>
    <th colspan="2" style=" width:40%; text-align:center;" ><a href="{O_ITEMCOUNT}">{L_LOOTS}</a></th>
</tr>
</thead>
<tfoot>
<tr>
<th align="left" style="color:white; font-weight:bold; width:40%;" colspan="3">{STATS_FOOTCOUNT}</th>
<th align="left" style="color:white; font-weight:bold; width:20%;">{TOTAL_RAIDS}</th>
<th align="left" style="color:white; font-weight:bold; width:40%;" colspan="2">{TOTAL_DROPS}</th>
</tr>
</tfoot>
<tbody>
<!-- BEGIN stats_row -->
    <!-- IF stats_row.S_ROW_COUNT is odd -->
    <tr class= "bg1">
    <!-- ELSE -->
    <tr class= "bg2">
    <!-- ENDIF -->
    <td><a style="color:{stats_row.COLORCODE}" href="{stats_row.U_VIEW_MEMBER}"><strong>{stats_row.NAME}</strong></a></td>

    <!-- IF S_SHOWEPGP -->
    <td style="font-size :8pt; text-align: center;"><strong>{stats_row.PR}</strong></td>
    <!-- ELSE -->
    <td style="font-size :8pt; text-align: center;"><span class="{stats_row.C_CURRENT}"><strong>{stats_row.CURRENT}</strong></span></td>
    <!-- ENDIF -->
    <td style="font-size :8pt; text-align: center;">{stats_row.ATTENDED_COUNT}</td>
    <td style="font-size :8pt; text-align: center;">{stats_row.ITEM_COUNT}</td>
	<td style="font-size :8pt; text-align: center;">{stats_row.MEMBER_DROP_PCT}</td>


  </tr>
<!-- END stats_row -->
</tbody>
</table>

<!-- IF DKPPAGINATION -->
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
		<span>{DKPPAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->

<span class="corners-inner-bottom"><span></span></span>
</div>
</div>

<div style="width:60%; float:left;">
<div id="memberstats" class="graph"></div>
<script type="text/javascript">
//<![CDATA[

jQuery(function () {
	 var plotarea = jQuery("#memberstats");
	plotarea.css("height", "350px");
	plotarea.css("width", "100%");

	var memberdkp = [<!-- BEGIN stats_row -->[{stats_row.COUNT},<!-- IF S_SHOWEPGP -->{stats_row.PR}<!-- ELSE -->{stats_row.CURRENT}<!-- ENDIF -->]<!-- IF ! stats_row.S_LAST_ROW -->,<!-- ENDIF --><!-- END stats_row -->];
	var attendance = [<!-- BEGIN stats_row -->[{stats_row.COUNT},{stats_row.ATTENDED_COUNT}]<!-- IF ! stats_row.S_LAST_ROW -->,<!-- ENDIF --><!-- END stats_row -->];
	var members = [<!-- BEGIN stats_row -->[{stats_row.COUNT},"{stats_row.NAME}"]<!-- IF ! stats_row.S_LAST_ROW -->, <!-- ENDIF --> <!-- END stats_row -->];
	var dkpoptions = {
			series: {
				lines: { show: true },
				points: { show: true }
			},
			grid: {
				series: members,
	    		hoverable: true
			},
			xaxis: {
				ticks:  [],
				autoscaleMargin: 0.05},
			colors: ["#6666FF", "#AAFF66", "#FF3366"],
			yaxes: [{ position: 'left'},
                    { position: 'right'}]
			};

	//tooltip function
    function showTooltip(x, y, contents, areAbsoluteXY) {
        var rootElt = 'body';

        jQuery('<div id="tooltip" class="tooltip-with-bg"><hr />' + contents + '<hr /></div>').css( {
            position: 'absolute',
            display: 'none',
            'z-index':'1010',
            top: y,
            left: x
        }).prependTo(rootElt).show();
    }


	var plot = jQuery.plot( plotarea , [
           {
               data: memberdkp,
               bars: { show: true,
               		   barWidth: 1,
               		   fill: 0.30 },
               yaxis:1

           },
           {
               data: attendance,
               lines: { show: true, fill: false,  },
               points: { show: true } ,
               yaxis:2
           }],
		dkpoptions );

	//add tooltip event
    jQuery("#memberstats").bind("plothover", function (event, pos, item) {
        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;

                //suppression précédent tooltip
                jQuery('.tooltip-with-bg').remove();

                var x = item.datapoint[0];

                //All the bars concerning a same x value must display a tooltip with this value and not the shifted value
                if(item.series.bars.order){
                    for(var i=0; i < item.series.data.length; i++)
                        {
                        if(item.series.data[i][3] == item.datapoint[0])
                            x = item.series.data[i][0];
                    }
                }

                var y = item.datapoint[1];
                var members = [<!-- BEGIN stats_row -->[{stats_row.COUNT},"{stats_row.NAME}"]<!-- IF ! stats_row.S_LAST_ROW -->, <!-- ENDIF --> <!-- END stats_row -->];
				var contents = members[x-1][1] + " :" + y;

                showTooltip(item.pageX+5, item.pageY+5, contents);

            }
        }
        else {
            jQuery('.tooltip-with-bg').remove();
            previousPoint = null;
        }

    });



});
//]]>
</script>
</div>

