<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<ul class="topiclist" style="padding: 4px">
<li class="header">
	<h2 class="bbdkpheader" style="white-space:nowrap;">
			<!-- IF S_RACE_IMAGE_EXISTS --><img src="{RACE_IMAGE}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
			<!-- IF S_CLASS_IMAGE_EXISTS --><img src="{CLASS_IMAGE}" alt="{CLASS}" /><!-- ELSE -->&nbsp;<!-- ENDIF -->&nbsp;
		<span style="color:{COLORCODE}"><strong>{NAME}</strong></span>
	</h2>
</li>
</ul>

<div class="navbar" style="clear:both;">
<span class="corners-top"><span></span></span>
<form method="post" action="{F_MEMBERS}">
	<div style="color:white; text-align:left; float:left; width:50%; white-space:nowrap;">
	{L_POOL}:
	<select name="pool" class="input" onchange="javascript:form.submit();">
		<!-- BEGIN pool_row -->
		<option value="{pool_row.VALUE}"{pool_row.SELECTED}{pool_row.DISABLED}>{pool_row.OPTION}</option>
		<!-- END pool_row -->
	</select>
	</div>
</form>
<span class="corners-bottom"><span></span></span>
</div>
<hr />


<div style="width:50%" class="panel">
<div class="inner"><span class="corners-top"><span></span></span>
{POOLISSET}
<table width="100%" border="0" cellspacing="1" cellpadding="2">
   <tr class="bg2">
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg2"><h4><strong>{L_CURRENT}</strong> : </h4></td>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg2"><h4><span class="{C_NETCURRENT}">{NETCURRENT} {POINTNAME}</span></h4></td>
  </tr>
</table>
<span class="corners-bottom"><span></span></span>
</div>
</div>

<div style="width:50%" class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
<table width="100%" border="0" cellspacing="1" cellpadding="2">

    <tr>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_RAIDVALUE}</strong> : </h4></td>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="positive">{RAIDVAL} {POINTNAME}</span></h4></td>
	</tr>

	<!-- IF S_SHOWTIME && TIMEBONUS != 0 -->
    <tr>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_TIME_BONUS}</strong> : </h4></td>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="positive">{TIMEBONUS} {POINTNAME}</span></h4></td>
    </tr>
    <!-- ENDIF -->
    <!-- IF S_SHOWZS && ZEROSUM != 0 -->
    <tr>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_ZEROSUM}</strong> : </h4></td>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="positive">{ZEROSUM} {POINTNAME}</span></h4></td>
    </tr>
	<!-- ENDIF -->
    <!-- IF S_SHOWDECAY && RAIDDECAY != 0 -->
    <tr>
    	<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><em>{L_RAIDDECAY}</em> : </td>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><em><span class="negative">-{RAIDDECAY} {POINTNAME}</span></em></td>
    </tr>
    <!-- ENDIF -->
    <!-- IF (S_SHOWDECAY || S_SHOWTIME || S_SHOWZS) && ((RAIDDECAY != 0) || (TIMEBONUS != 0) || (ZEROSUM != 0))  -->
    <tr class="bg2">
    	<td style="width:50%; white-space:nowrap; text-align:center;" class="bg2"><h4><strong>{L_EARNED}</strong> : </h4></td>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg2"><h4><span class="positive">{EARNED_NET} {POINTNAME}</span></h4>
	    </td>
    </tr>
    <!-- ENDIF -->

	<!-- IF SPENT > 0 -->
    <tr>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1">&nbsp;</td>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1">&nbsp;</td>
	</tr>
    <tr>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_SPENT}</strong> : </h4></td>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="negative">{SPENT} {POINTNAME}</span></h4></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_SHOWDECAY && ITEMDECAY != 0  -->
	<tr>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><em>{L_ITEMDECAY}</em> : </td>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><em><span class="positive">{ITEMDECAY} {POINTNAME}</span></em></td>
	</tr>
	<tr class="bg2">
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg2"><h4><strong>{L_TOTAL} {L_SPENT}</strong> : </h4></td>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg2"><h4><span class="negative">{ITEMNET} {POINTNAME}</span></h4></td>
	</tr>
	<!-- ENDIF -->

	<!-- IF ADJUSTMENT != 0 -->
	<tr>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1">&nbsp;</td>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1">&nbsp;</td>
	</tr>
	<tr>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_ADJUSTMENT}</strong> : </h4></td>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="{C_ADJUSTMENT}">{ADJUSTMENT} {POINTNAME}</span></h4></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_SHOWDECAY && ADJDECAY != 0   -->
	<tr>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><em>{L_ADJDECAY}</em> : </td>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><em><span class="positive">{ADJDECAY} {POINTNAME}</span></em></td>
	</tr>
    <tr class="bg2">
    	<td style="width:50%; white-space:nowrap; text-align:center;" class="bg2"><h4><strong>{L_ADJNET}</strong> : </h4></td>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg2"><h4><span class="{C_ADJUSTMENT}">{TOTAL_DECAY} {POINTNAME}</span></h4></td>
    </tr>
	<!-- ENDIF -->

</table>

<span class="corners-bottom"><span></span></span>
</div>
</div>

<!-- *******  attendance *************** -->

<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>

    <td style="width:20%; white-space:nowrap; text-align:center;" class="rowbg2"><strong>{RAIDS_X1_DAYS}</strong>: {C_RAIDS_X1_DAYS}%</td>
    <td style="width:20%; white-space:nowrap; text-align:center;" class="rowbg1"><strong>{RAIDS_X2_DAYS}</strong>: {C_RAIDS_X2_DAYS}%</td>
    <td style="width:20%; white-space:nowrap; text-align:center;" class="rowbg2"><strong>{RAIDS_X3_DAYS}</strong>: {C_RAIDS_X3_DAYS}%</td>
    <td style="width:40%; white-space:nowrap; text-align:center;" class="rowbg1"><strong>{RAIDS_LIFETIME}</strong>: {C_RAIDS_LIFETIME}%</td>
</tr>
</table>
<span class="corners-bottom"><span></span></span>
</div>
</div>


<!-- ******* Attended Raids *************** -->
<br/>
<h3>{L_RAID_ATTENDANCE_HISTORY}</h3>

<!-- IF .raids_row -->

<div class="forumbg forumbg-table">
<div class="inner">
<span class="corners-top"><span></span></span>
<!-- IF RAID_PAGINATION -->
<div class="pagination">
	<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
	<span>{RAID_PAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->
<table class="table1" cellspacing="1">
  <thead>
   <tr>
    <th style="text-align:left; width:8%;">{L_DATE}</th>
    <th style="text-align:left; width:25%;">{L_NAME}</th>
    <th style="text-align:left; width:25%;" >{L_NOTE}</th>
   <th class="name" style="text-align:right;">{L_RAIDVALUE}</th>
   <!-- IF S_SHOWTIME --><th class="name" style="text-align:right;">{L_TIME_BONUS}</th><!-- ENDIF -->
   <!-- IF S_SHOWZS --> <th class="name" style="text-align:right;">{L_ZSVALUE}</th><!-- ENDIF -->
   <!-- IF S_SHOWDECAY --> <th class="name" style="text-align:right;">{L_RAIDDECAY}</th><!-- ENDIF -->
    <th style="text-align:right;"><!-- IF S_EPGP -->{L_EP}<!-- ELSE -->{L_EARNED}<!-- ENDIF --></th>
    <th style="text-align:right;">{L_CURRENT}</th>
  </tr>
</thead>
 <tfoot>
 <tr>
	<th colspan=0;  style="text-align: left; white-space: nowrap; color:white;">{RAID_FOOTCOUNT}</th>
 </tr>
 </tfoot>
<tbody>
  <!-- BEGIN raids_row -->
    <tr class="bg1">
    <td style="width:10%;">{raids_row.DATE}</td>
    <td style="width:25%;"><img src="adm/images/glyphs/view.gif" width="16" height="16" alt="View" />&nbsp;<a href="{raids_row.U_VIEW_RAID}">{raids_row.NAME}</a></td>
    <td style="text-align:left; width:20%;" >{raids_row.NOTE}</td>
    <td style="text-align:right;">{raids_row.RAIDVAL}</td>
    <!-- IF S_SHOWTIME --><td style="text-align:right;">{raids_row.TIMEBONUS}</td><!-- ENDIF -->
    <!-- IF S_SHOWZS --><td style="text-align:right;">{raids_row.ZSBONUS}</td><!-- ENDIF -->
    <!-- IF S_SHOWDECAY --><td style="text-align:right;"><span class="negative">{raids_row.RAIDDECAY}</span></td><!-- ENDIF -->
    <td style="text-align:right;" ><span class="positive">{raids_row.EARNED}</span></td>
    <td style="text-align:right;" ><span class="positive">{raids_row.CURRENT_EARNED}</span></td>
  </tr>
  <!-- END raids_row -->
  </tbody>
  </table>

<!-- IF RAID_PAGINATION -->
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
		<span>{RAID_PAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->

<span class="corners-bottom"><span></span></span>
</div>
</div>
<!-- ELSE -->
<p class= "error">{L_NO_RAIDS}</p>


<!-- ENDIF -->


<!-- ******* Adjustments *************** -->
<br/>
<h3>{L_ADJUSTMENT_HISTORY}</h3>

<!-- IF .adjustments_row -->

<div class="forumbg forumbg-table">
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <!-- IF ADJUSTMENTS_PAGINATION -->
        <div class="pagination">
            <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
            <span>{ADJUSTMENTS_PAGINATION}<br /><br /></span>
        </div>
        <!-- ENDIF -->
        <table class="table1" cellspacing="1">
            <thead>
            <tr>
                <th style="text-align:left; width:8%;">{L_DATE}</th>
                <th style="text-align:left; width:45%;" >{L_NOTE}</th>
                <th class="name" style="text-align:right;">{L_ADJUSTMENT}</th>
                <!-- IF S_SHOWDECAY --> <th class="name" style="text-align:right;">{L_DECAY}</th><!-- ENDIF -->
                <th class="name" style="text-align:right;">{L_NETADJUSTMENT}</th>
                <th style="text-align:right;">{L_CURRENT}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th colspan=4; style="text-align: left; white-space: nowrap; color:white;">{L_TOTAL_ADJUSTMENTS}: {LISTADJ_FOOTCOUNT}</th>
            </tr>
            </tfoot>
            <tbody>
            <!-- BEGIN adjustments_row -->
            <tr class="bg1">
                <td style="width:10%;">{adjustments_row.DATE}</td>
                <td style="text-align:left; width:45%;" >{adjustments_row.REASON}</td>
                <td style="text-align:right;" ><span class="{adjustments_row.COLOR}">{adjustments_row.ADJUSTMENT}</span></td>
                <td style="text-align:right;" ><span class="{adjustments_row.COLOR}">{adjustments_row.ADJ_DECAY}</span></td>
                <td style="text-align:right;" ><span class="{adjustments_row.COLOR}">{adjustments_row.CURRENT_ADJ}</span></td>
                <td style="text-align:right;" ><span class="{adjustments_row.COLORCURRENT}">{adjustments_row.CURRENT_ADJ}</span></td>
            </tr>
            <!-- END adjustments_row -->
            </tbody>
        </table>

        <!-- IF ADJUSTMENTS_PAGINATION -->
        <div class="pagination">
            <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
            <span>{ADJUSTMENTS_PAGINATION}<br /><br /></span>
        </div>
        <!-- ENDIF -->

        <span class="corners-bottom"><span></span></span>
    </div>
</div>
<!-- ELSE -->
<p class= "error">{L_NO_ADJUSTMENTS}</p>


<!-- ENDIF -->

<br/>
<h3>{L_ITEM_PURCHASE_HISTORY}</h3>
<!-- IF .items_row -->


<div class="forumbg forumbg-table">
<div class="inner">
<span class="corners-top"><span></span></span>
<!-- IF ITEM_PAGINATION -->
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
		<span>{ITEM_PAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->
<table class="table1" width="100%" border="0" cellspacing="1" cellpadding="0">
<thead>
   <tr>
    <th style="text-align:left; width:8%">{L_DATE}</th>
    <th style="text-align:left; width:25%">{L_RAID}</th>
    <th style="text-align:left; width:25%">{L_NAME}</th>
    <th style="text-align:right; ">{L_SPENT}</th>
    <th style="text-align:right; ">{L_DECAY}</th>
    <th style="text-align:right; ">{L_NETSPENT}</th>
    <th style="text-align:right; ">{L_CURRENT}</th>
    </tr>
</thead>
<tfoot>
<tr>
<th colspan=2; style="text-align:left; white-space: nowrap; color:white; ">{ITEM_FOOTCOUNT}</th>
</tr>
</tfoot>
<tbody>
<!-- BEGIN items_row -->
<tr class="row bg1">
    <td>{items_row.DATE}</td>
    <td><img src="adm/images/glyphs/view.gif" width="16" height="16" alt="View" />&nbsp;<a href="{items_row.U_VIEW_RAID}">{items_row.RAID}</a></td>
    <td><a href="{items_row.U_VIEW_ITEM}">{items_row.NAME}</a></td>
    <td style="text-align:right;"><span class="negative">{items_row.SPENT}</span></td>
    <td style="text-align:right;"><span class="negative">{items_row.DECAY}</span></td>
    <td style="text-align:right;"><span class="negative">{items_row.SPENT_NET}</span></td>
    <td style="text-align:right;"><span class="negative">{items_row.CURRENT_SPENT}</span></td>
</tr>
<!-- END items_row -->
</tbody>

</table>

<!-- IF ITEM_PAGINATION -->
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
		<span>{ITEM_PAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->
<span class="corners-bottom"><span></span></span>
</div>
</div>

<!-- ELSE -->
<p class= "error">{L_NO_LOOT}</p>

<!-- ENDIF -->

<br />
<span>{L_EVENTNOTE}</span>



<span class="corners-bottom"><span></span></span>
</div>
</div>
