<div class="portalblock">
	<div style="width:90%;margin:auto;display:block;text-align:center;">
	<h3 style="text-align:center">{L_UPCOMING_RAIDS}</h3>

        <ul class="topiclist forums"  style="padding: 4px">
            <li style="list-style:none" >
                <!-- IF .upcoming -->
                <!-- BEGIN upcoming -->
                <div style= "float: left; cursor:pointer;" onclick="location.href='{upcoming.EVENT_URL}'" title="{upcoming.EVENTNAME}">
                    <div style="float: left; margin: 0 5px; 0 0;">
                        <img src="{upcoming.IMAGE}" alt="{upcoming.EVENTNAME}" width="32px" height="32px"/>
                    </div>
                    <div style="float: left;">
                        <strong style="color:red;"><!-- IF upcoming.ALL_DAY -->{L_ALL_DAY} {upcoming.START_TIME}<!-- ELSE -->{upcoming.START_TIME}<!-- ENDIF --></strong><br/>
		                <span>
			               <!-- IF upcoming.EVENTNAME -->{upcoming.EVENTNAME}<!-- ENDIF -->
		                </span>
                    </div>

                </div>

                <!-- END upcoming -->
                <div style="clear: both;"></div>
                <!-- ELSE -->
                <br /><p class="error">{L_NO_RAIDS_SCHEDULED}</p><p><br /></p>
                <!-- ENDIF -->
            </li>
        </ul>
    </div>
</div>

