<div class="portalblock">
	<div style="width:90%;margin:auto;display:block;text-align:center;">
	<h3 style="text-align:center">{L_TOPSIGNUPS}</h3>

       <ul class="topiclist forums" style="padding: 4px">
            <li style="list-style:none" >
                <!-- BEGIN topsignups -->
                <div style="clear: left;">
                    <div style="float: left; margin: 0 5px; 0 0;"><!-- IF topsignups.S_RACE_IMAGE_EXISTS --><img src="{topsignups.RACE_IMAGE}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
                        <!-- IF topsignups.S_CLASS_IMAGE_EXISTS --><img src="{topsignups.CLASS_IMAGE}" alt="{topsignups.CLASS}" /><!-- ELSE -->&nbsp;<!-- ENDIF -->
                    </div>
                    <div style="float: left;">
                        <strong><span style="color:{topsignups.COLORCODE}">{topsignups.CHARNAME} : {topsignups.COUNTSIGNUPS} </span></strong>
                    </div>
                </div>

                <!-- END topsignups -->
                <div style="clear: both;"></div>
            </li>
       </ul>

	</div>
</div>