
<div class="block_menu">
<h3 class="block_menu">
<img src="{T_THEME_PATH}/images/dkp/<!-- IF S_USER_LOGGED_IN -->door_open.png<!-- ELSE -->door.png<!-- ENDIF -->" width="16" height="16" alt="" />
{L_LATESTMEMBERS}
</h3>
<div class="block_inner">


<ul class="topiclist forums" style="padding: 4px">
<li style="list-style:none" >
<table class="tablebg" cellspacing="1" width="100%">
<tr>
	<td class="row3" align="left" nowrap="nowrap"><span class="gensmall"><strong>{L_USERNAME}</strong></span></td>
	<td class="row3" align="right" nowrap="nowrap"><span class="gensmall"><strong>{L_JOINED}</strong></span></td>
</tr>
<!-- BEGIN latest_members -->
<!-- IF latest_members.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
	<td class="gensmall" align="left" valign="middle"><img src="images/bbdkp/portal/member.gif" /> <strong><a href="{latest_members.U_USERNAME}"><span<!-- IF latest_members.USERNAME_COLOR -->{latest_members.USERNAME_COLOR}<!-- ENDIF -->>{latest_members.USERNAME}</span></a></strong><br /></td>
	<td class="gensmall" align="right" nowrap="nowrap" valign="middle">{latest_members.JOINED}</td>
</tr>
<!-- END latest_members -->
</table>
</li>
</ul>

<br />
</div>
</div>

