
<br />

<h3>{L_LOOTDIST_CLASS}</h3>

<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>


<div class="forabg" style="width:50%; float:left;">
<div class="inner">

<span class="corners-inner-top"><span></span></span>
<table class="table1" width="100%" border="0" cellspacing="1" cellpadding="0">
<thead>
<tr>
<th style="color:white; font-size :9pt; text-align: left;">{L_CLASS}</th>
<th colspan="2" style="color:white; font-size :9pt; text-align: center;"># {L_MEMBERS}</th>

<th style="color:white; font-size :9pt; text-align: center;"># {L_LOOTS}</th>
<th style="color:white; font-size :9pt; text-align: center; text-align: center;">% {L_LOOTS}</th>
<th style="color:white; font-size :9pt; text-align: center;"></th>

</tr>
</thead>
<tfoot>

<tr>
<th style="color:white; font-size :9pt; text-align: left;"></th>
<th colspan="2" style="color:white; font-size :9pt; text-align: center;">{TOTAL_MEMBERS}</th>

<th style="color:white; font-size :9pt; text-align: center;">{TOTAL_DROPS}</th>
<th style="color:white; font-size :9pt; text-align: center; text-align: center;"></th>
<th style="color:white; font-size :9pt; text-align: center;">{CLASSPCTCUMUL}</th>

</tr>
</tfoot>
<tbody>
<!-- BEGIN class_row -->
   <!-- IF class_row.S_ROW_COUNT is even -->
   <tr class="bg1">
   <!-- ELSE -->
   <tr class="bg2">
   <!-- ENDIF -->
	  <td style="width:20%; white-space: nowrap;"><!-- IF class_row.S_CLASS_IMAGE_EXISTS --><img src="{class_row.CLASS_IMAGE}" alt="abc" /><!-- ELSE -->&nbsp;<!-- ENDIF -->
	  &nbsp;<a style="white-space: nowrap; color:{class_row.COLORCODE}" href="{class_row.U_LIST_MEMBERS}"><strong>{class_row.CLASS_NAME}</strong></a> </td>
	  <td style="width:7.5%; text-align:center;">{class_row.CLASS_COUNT}</td>
	  <td style="width:7.5%; text-align:center;">{class_row.CLASS_PCT}</td>
	  <td style="width:7.5%; text-align:center;">{class_row.LOOT_COUNT}</td>
	  <td style="width:7.5%; text-align:center;">{class_row.CLASS_DROP_PCT_STR}</td>
	  <td style="width:7.5%; text-align:center;"><span class= "{class_row.C_LOOT_FACTOR}">{class_row.LOOTOVERRUN}</span></td>
  </tr>

<!-- END class_row -->
</tbody>
</table>

<span class="corners-inner-bottom"><span></span></span>
</div>
</div>

<div class="panel" style="width:45%; float:left;">
<div class="inner">
<span class="corners-inner-top"><span></span></span>

<div>
<div class="inner">
<span class="corners-top"><span></span></span>
<h4>% {L_MEMBERS}</h4>
<div id="classdropgraphs" class="graph"></div>
<span class="corners-inner-bottom"><span></span></span>
</div>
</div>

<div>
<div class="inner">
<span class="corners-top"><span></span></span>
<h4>% {L_LOOTS}</h4>
<div id="classdropgraphs2" class="graph"></div>
<span class="corners-inner-bottom"><span></span></span>
</div>
</div>

<script type="text/javascript">
//<![CDATA[
jQuery(function () {
	var plotarea = jQuery("#classdropgraphs");
	plotarea.css("height", "200px");
	plotarea.css("width", "100%");
	var plotarea2 = jQuery("#classdropgraphs2");
	plotarea2.css("height", "200px");
	plotarea2.css("width", "100%");

	var classpct = [<!-- BEGIN class_row --> {label: "{class_row.CLASS_NAME}", data : {class_row.CLASS_PCT}, color:"{class_row.COLORCODE}" }, <!-- END class_row -->];
	var plot = jQuery.plot( plotarea ,
	classpct,
	{
		series: {
				pie: {
						show: true,
						combine: {
		                    color: '#999',
		                    threshold: 0.02
		                },
						radius: 100,
						label: {
		                    show: true,
		                    radius: 1,
		                    formatter: function(label, series){
		                        return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
		                    },
		                    background: {
			                    opacity: 0.5,
		                    	color: '#000' },
		                    threshold: 0.02

		                }
				}
		},
	 	legend: {
            show: false
        },
		grid: {
    		hoverable: true
		},
	});

	var classdroppct = [<!-- BEGIN class_row --> {label: "{class_row.CLASS_NAME}" , data : {class_row.CLASS_DROP_PCT}, color : "{class_row.COLORCODE}" } <!-- IF ! class_row.S_LAST_ROW -->, <!-- ENDIF --> <!-- END class_row -->];
	var plot = jQuery.plot( plotarea2 ,
	classdroppct,
	{
		series: {
				pie: {
						show: true,
						combine: {
		                    color: '#999',
		                    threshold: 0.05
		                },
						radius: 100,
						label: {
		                    show: true,
		                    radius: 1,
		                    formatter: function(label, series){
		                        return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
		                    },
		                    background: {
			                    opacity: 0.5,
		                    	color: '#000' },
		                    threshold: 0.02

		                }
				}
		},
	 	legend: {
            show: false
        },
		grid: {
    		hoverable: true
		},
	});

});
//]]>
</script>


<span class="corners--inner-bottom"><span></span></span>
</div>
</div>
