<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<ul class="topiclist" style="padding: 4px">
<li class="header">
<dl>
<dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px; display:inline;width:auto;text-align:center;">
<div style="float: left; width:49%; white-space:nowrap; text-align: left;">
<h4 class="bbdkpheader" style = "white-space:nowrap;"><span style="color:{COLORCODE}"><strong>{L_PURCHASE_HISTORY_FOR}</strong></span></h4>
</div>
</dt>
</dl>
</li>
</ul>

<hr />

<div class="forumbg forumbg-table">
<div class="inner">
<span class="corners-top"><span></span></span>

<table class="table1" width="100%" cellspacing="0">
<thead>
  <tr style="color:white;">
    <th style="text-align:left;" >{L_DATE}</th>
    <th style="text-align:left; white-space:nowrap; width:30%" >{L_BUYER}</th>
    <th style="text-align:left; white-space:nowrap; width:40%" >{L_RAID}</th>
    <th style="text-align:left; white-space:nowrap; width:10%" >{L_ITEMVALUE}</th>
    <th style="text-align:left; white-space:nowrap; width:10%" >{L_ITEMDECAY}</th>
    <th style="text-align:left; white-space:nowrap; width:10%" >{L_ITEMTOTAL}</th>
</tr>
</thead>
<tfoot>
 <tr style="color:white;">
    <th class="footer" colspan="4" style="text-align:left; width:30%" >{VIEWITEM_FOOTCOUNT}</th>
</tr>
</tfoot>
<tbody>
	  <!-- BEGIN items_row -->
	  <!-- IF items_row.S_ROW_COUNT is even -->
	  <tr style="width:900;" class="bg1">
	  <!-- ELSE -->
	  <tr style="width:900;" class="bg2">
	  <!-- ENDIF -->
	    <td>{items_row.DATE}</td>
		<td  style="text-align:left; white-space: nowrap; width:7%">
			<img src="{items_row.RACE_IMAGE}" alt="{items_row.RACE}" />
			<img src="{items_row.CLASS_IMAGE}" alt="{items_row.CLASS}" />
			<strong><a style="color:{items_row.CLASS_COLOR}" href="{items_row.U_VIEW_BUYER}">{items_row.BUYER}</a></strong></td>
	    <td style="text-align:left; width:20%; white-space: nowrap;">
	    <a style="color:{items_row.EVENT_COLOR}" href="{items_row.U_VIEW_RAID}">{items_row.RAID}</a></td>
	    <td><span class="negative" >{items_row.VALUE}</span></td>
	    <td><span class="positive" >{items_row.DECAY}</span></td>
	    <td><span class="negative" >{items_row.TOTAL}</span></td>
	  </tr>
	  <!-- END items_row -->
</tbody>
</table>

<span class="corners-bottom"><span></span></span>
</div>
</div>


<span class="corners-bottom"><span></span></span>
</div>
</div>