<div style="float: left; width:49%; white-space:nowrap;">
<h2 style ="white-space:nowrap;">{L_EVENTS}</h2>
</div>
<hr />


<!-- IF ! .dkpsys_row -->
<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<p class= "error">{L_NO_DATA}</p>
<span class="corners-bottom"><span></span></span>
</div>
</div>
<!-- ENDIF -->

<!-- BEGIN dkpsys_row -->

<h4>{dkpsys_row.NAME}</h4>
<div class="forumbg forumbg-table" style= "width:90%" >
<div class="inner">
<span class="corners-top"><span></span></span>
<table class="table1" width="90%" border="0" cellspacing="0" cellpadding="0">
<thead>
	<tr>
	<th style="text-align:left; width:10%">{L_EVENT_IMAGE}</th>
    <th style="width:30%; white-space:nowrap; text-align:left;"></th>
    <th style="width:10%; white-space:nowrap; text-align:left;">{L_RAIDCOUNT}</th>
    <th style="width:10%; white-space:nowrap; text-align:left;">{L_OLDEST}</th>
    <th style="width:10%; white-space:nowrap; text-align:left;">{L_NEWEST}</th>
    <th style="width:10%; white-space:nowrap; text-align:left;">{L_VALUE}</th>
  </tr>
</thead>
<tfoot>
<tr>
<th style="text-align: left; white-space: nowrap; color:white;" colspan="0">{dkpsys_row.EVENTCOUNT}</th>
</tr>
</tfoot>
	
<!-- BEGIN events_row -->
 <!-- IF dkpsys_row.events_row.S_ROW_COUNT is even -->
  <tr class="row bg1">
  <!-- ELSE -->
  <tr class="row bg2">
	<!-- ENDIF -->
    <td><!-- IF dkpsys_row.events_row.S_EVENT_IMAGE_EXISTS --><img width="32" height="32" src="{dkpsys_row.events_row.IMAGEPATH}" alt="{dkpsys_row.events_row.NAME}" /><!-- ENDIF --></td>
    <td><img src="{ROOT_PATH}/images/bbdkp/icons/view.gif" width="16" height="16" alt="View" /> 
    	<a style="color:{dkpsys_row.events_row.EVENTCOLOR}" href="{dkpsys_row.events_row.U_VIEW_EVENT}"> <strong>{dkpsys_row.events_row.NAME}</strong></a></td>
    <td>{dkpsys_row.events_row.RAIDCOUNT}</td>
    <td>{dkpsys_row.events_row.OLDEST}</td>
    <td>{dkpsys_row.events_row.NEWEST}</td>
    <td>{dkpsys_row.events_row.VALUE}</td>
 </tr>
<!-- END events_row -->
</table>
<span class="corners-bottom"><span></span></span>
</div>
</div>

<!-- IF EVENT_PAGINATION -->  
<div class="pagination">
	<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{dkpsys_row.S_ON_PAGE}</a><span>{dkpsys_row.EVENT_PAGINATION}<br /></span>
</div>
<!-- ENDIF -->
<br />
<!-- END dkpsys_row -->



