<!--[if lte IE 8]><script type="text/javascript" src="{T_TEMPLATE_PATH}/dkp/flot/excanvas.min.js"></script><![endif]-->
<script src="{T_TEMPLATE_PATH}/dkp/flot/jquery.flot.js" type="text/javascript"></script>
<script src="{T_TEMPLATE_PATH}/dkp/flot/jquery.flot.pie.min.js" type="text/javascript"></script>
<!-- Credits : the Stats page uses Flot from http://code.google.com/p/flot/ -->


<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<ul class="topiclist" style="padding: 4px">
<li class="header">

<h4 class="bbdkpheader"> <!-- IF S_EVENT_IMAGE_EXISTS --><img src="{IMAGEPATH}" alt="{EVENTNAME}" /><!-- ENDIF --> {L_RAID_ON}</h4>
</li>
</ul>

<div style="float: left; width: 100%;">

<h3>{L_RAID}</h3>
<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    {RAID_ADDED_BY}&nbsp;:&nbsp;{RAID_UPDATED_BY}
    </div>
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    {L_RAIDSTART}&nbsp;:&nbsp;<strong>{RAIDSTART}</strong>
    </div>
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    {L_RAIDEND}&nbsp;:&nbsp;<strong>{RAIDEND}</strong>
    </div>
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    {L_RAIDDURATION}&nbsp;:&nbsp;<strong>{DURATION}</strong>
    </div>
<span class="corners-bottom"><span></span></span>
</div>
</div>

<h3>{L_DKP}</h3>
<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>


    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    {L_RAIDVALUE}&nbsp;:&nbsp;<span class="positive">{RAIDVALUE}</span>
    </div>
     <!-- IF S_SHOWTIME -->
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    {L_TIME_BONUS}&nbsp;:&nbsp;<span class="positive">{TIMEVALUE}</span>
    </div>
    <!-- ENDIF -->

     <!-- IF S_SHOWZS -->
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    {L_ZEROSUM}&nbsp;:&nbsp;<span class="positive">{ZSVALUE}</span>
    </div>
    <!-- ENDIF -->

     <!-- IF S_SHOWDECAY -->
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    {L_RAIDDECAY}&nbsp;:&nbsp;<span class="negative">{RAIDDECAY}</span>
    </div>
    <!-- ENDIF -->

     <!-- IF S_SHOWEPGP -->
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    <strong>Net {L_EARNED} {L_EP}</strong>&nbsp;:&nbsp; <span class="positive">{TOTAL}</span>
    </div>
     <!-- ELSE -->
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    <h4><strong>{L_TOTAL} {L_EARNED} {L_DKP}</strong>&nbsp;:&nbsp; <span class="positive">{TOTAL}</span></h4>
    </div>
    <!-- ENDIF -->
<div style="clear: both;"></div>

    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    {L_SPENT}&nbsp;:&nbsp;<span class="negative">{ITEM_VALUE}</span>
    </div>

     <!-- IF S_SHOWDECAY -->
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    {L_ITEMDECAY}&nbsp;:&nbsp;<span class="positive">{ITEMDECAYVALUE}</span>
    </div>
    <!-- ENDIF -->

     <!-- IF S_SHOWEPGP -->
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    <strong>Net {L_SPENT} {L_GP}</strong>&nbsp;:&nbsp; <span class="negative">{ITEMTOTAL}</span>
    </div>
     <!-- ELSE -->
    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    <h4><strong>{L_TOTAL} {L_SPENT} {POINTNAME}</strong>&nbsp;:&nbsp; <span class="negative">{ITEMTOTAL}</span></h4>
    </div>
    <!-- ENDIF -->
	<div style="clear: both;"></div>

    <div style="width:25%; white-space:nowrap; text-align:center; float:left; margin-left: auto;" class="bg2">
    <h4>{L_TOTAL}&nbsp;:&nbsp;<span class="negative">{RAIDNET}</span></h4>
	</div>

<span class="corners-bottom"><span></span></span>
</div>
</div>

</div>

<h3>{L_NOTE}</h3>
<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
<strong>{L_NOTE} : </strong> {RAID_NOTE}
<span class="corners-bottom"><span></span></span>
</div>
</div>

<br />
<!-- INCLUDE dkp/module/viewraid_attendees.html -->
<br />
<!-- IF S_SHOWITEMPANE -->
	<!-- INCLUDE dkp/module/viewraid_loot.html -->
	<!-- INCLUDE dkp/module/viewraid_loot_classdist.html -->
<!-- ELSE -->
<br />
<h3>{L_ITEMS}</h3>
<p class= "error">{L_NO_LOOT}</p>
<!-- ENDIF -->

<span class="corners-bottom"><span></span></span>
</div>
</div>