<!-- ********************** epgp overview for player ************************** -->
<h2>{L_EPGP}</h2>
<div style="width:50%" class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_EP}</strong> : </h4></td>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="positive">{EPNET} {POINTNAME}</span></h4></td>
  </tr>
  <tr>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_GP}</strong> : </h4></td>
		<td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="negative">{GPNET} {POINTNAME}</span></h4></td>
	</tr>
  <tr>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><strong>{L_PR}</strong> : </h4></td>
	    <td style="width:50%; white-space:nowrap; text-align:center;" class="bg1"><h4><span class="{positive}">{PRNET} {POINTNAME}</span></h4></td>
    </tr>
</table>
<span class="corners-bottom"><span></span></span>
</div>
</div>

<!-- *******  attendance *************** -->

<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <td style="width:20%; white-space:nowrap; text-align:center;" class="rowbg2"><strong>{RAIDS_X1_DAYS}</strong>: {C_RAIDS_X1_DAYS}%</td>
    <td style="width:20%; white-space:nowrap; text-align:center;" class="rowbg1"><strong>{RAIDS_X2_DAYS}</strong>: {C_RAIDS_X2_DAYS}%</td>
    <td style="width:20%; white-space:nowrap; text-align:center;" class="rowbg2"><strong>{RAIDS_X3_DAYS}</strong>: {C_RAIDS_X3_DAYS}%</td>
    <td style="width:40%; white-space:nowrap; text-align:center;" class="rowbg1"><strong>{RAIDS_LIFETIME}</strong>: {C_RAIDS_LIFETIME}%</td>
</tr>
</table>
<span class="corners-bottom"><span></span></span>
</div>
</div>


<!-- ******* Attended Raids *************** -->
<!-- IF .raids_row -->
<h3>{L_EPLONG}</h3>

<div class="forumbg forumbg-table">
<div class="inner">
<span class="corners-top"><span></span></span>
<!-- IF RAID_PAGINATION -->  
<div class="pagination">
	<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> 
	<span>{RAID_PAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->
<table class="table1" cellspacing="1">
  <thead>
   <tr>
    <th style="text-align:left; width:10%;">{L_DATE}</th>
    <th style="text-align:left; width:25%;">{L_NAME}</th>
    <th style="text-align:left; width:15%;" >{L_NOTE}</th>
   <th class="name" style="text-align:right; width:10%;">{L_RAIDVALUE}</th>
   <!-- IF S_SHOWTIME --><th class="name" style="text-align:right; width:10%;">{L_TIME_BONUS}</th><!-- ENDIF -->
   <!-- IF S_SHOWZS --> <th class="name" style="text-align:right; width:10%;">{L_ZSVALUE}</th><!-- ENDIF -->
   <!-- IF S_SHOWDECAY --> <th class="name" style="text-align:right; width:10%;">{L_RAIDDECAY}</th><!-- ENDIF -->
    <th style="text-align:right; width:10%;">{L_EPNET}</th>
    <th style="text-align:right; width:10%;">{L_CURRENT}</th>
  </tr>
</thead>
 <tfoot>
 <tr>
	<th colspan=0;  style="text-align: left; white-space: nowrap; color:white;">{RAID_FOOTCOUNT}</th>
 </tr>
 </tfoot>
<tbody>
  <!-- BEGIN raids_row -->
    <tr class="bg1">
    <td>{raids_row.DATE}</td>
    <td><img src="adm/images/glyphs/view.gif" width="16" height="16" alt="View" />&nbsp;<a href="{raids_row.U_VIEW_RAID}">{raids_row.NAME}</a></td>
    <td style="text-align:left;" >{raids_row.NOTE}</td>
    <td style="text-align:right;">{raids_row.RAIDVAL}</td>
    <!-- IF S_SHOWTIME --><td style="text-align:right;">{raids_row.TIMEBONUS}</td><!-- ENDIF -->
    <!-- IF S_SHOWZS --><td style="text-align:right;">{raids_row.ZSBONUS}</td><!-- ENDIF -->
    <!-- IF S_SHOWDECAY --><td style="text-align:right;"><span class="negative">{raids_row.RAIDDECAY}</span></td><!-- ENDIF -->
    <td style="text-align:right;" ><span class="positive">{raids_row.EARNED}</span></td>
    <td style="text-align:right;" ><span class="positive">{raids_row.CURRENT_EARNED}</span></td>
  </tr>
  <!-- END raids_row -->
  </tbody>
  </table>
  
<!-- IF RAID_PAGINATION -->  
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> 
		<span>{RAID_PAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->

<span class="corners-bottom"><span></span></span>
</div>
</div>

<!-- ENDIF -->




<!-- IF .items_row -->

<h3>{L_GPLONG}</h3>

<div class="forumbg forumbg-table">
<div class="inner">
<span class="corners-top"><span></span></span>
<!-- IF ITEM_PAGINATION -->  
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
		<span>{ITEM_PAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->
<table class="table1" width="100%" border="0" cellspacing="1" cellpadding="0">
<thead>
   <tr>
    <th style="text-align:left; width:10%">{L_DATE}</th>
    <th style="text-align:left; width:25%">{L_RAID}</th>
    <th style="text-align:left; width:25%">{L_NAME}</th>
    <th style="text-align:right; width:10%">{L_GP}</th>
    <th style="text-align:right; width:10%">{L_DECAY}</th>
    <th style="text-align:right; width:10%">{L_GPNET}</th>
    <th style="text-align:right; width:10%">{L_CURRENT}</th>
    </tr>
</thead>
<tfoot>
<tr>
<th colspan=2; style="text-align:left; white-space: nowrap; color:white; ">{ITEM_FOOTCOUNT}</th>
</tr>
</tfoot>
<tbody>
<!-- BEGIN items_row -->
<tr class="row bg1">  
    <td>{items_row.DATE}</td>
    <td><img src="adm/images/glyphs/view.gif" width="16" height="16" alt="View" />&nbsp;<a href="{items_row.U_VIEW_RAID}">{items_row.RAID}</a></td>
    <td><a href="{items_row.U_VIEW_ITEM}">{items_row.NAME}</a></td>
    <td style="text-align:right;"><span class="negative">{items_row.SPENT}</span></td>
    <td style="text-align:right;"><span class="negative">{items_row.DECAY}</span></td>
    <td style="text-align:right;"><span class="negative">{items_row.SPENT_NET}</span></td>
    <td style="text-align:right;"><span class="negative">{items_row.CURRENT_SPENT}</span></td>
</tr>
<!-- END items_row -->
</tbody>

</table>

<!-- IF ITEM_PAGINATION -->  
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
		<span>{ITEM_PAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->
<span class="corners-bottom"><span></span></span>
</div>
</div>
<!-- ENDIF -->
<span>{L_EVENTNOTE}</span>
