<div class="membercontainer">
    <h4>{L_LEADERBOARDSTAT}</h4>
    <div id="memberstats" class="plot"></div>
</div>

<script type="text/javascript">
    //<![CDATA[
    jQuery(function ()
    {
        var memberdkp = [<!-- BEGIN stats_row -->[{stats_row.COUNT},<!-- IF S_SHOWEPGP -->{stats_row.PR}<!-- ELSE -->{stats_row.CURRENT}<!-- ENDIF -->]<!-- IF ! stats_row.S_LAST_ROW -->,<!-- ENDIF --><!-- END stats_row -->];
        var attendance = [<!-- BEGIN stats_row -->[{stats_row.COUNT},{stats_row.ATTENDED_COUNT}]<!-- IF ! stats_row.S_LAST_ROW -->,<!-- ENDIF --><!-- END stats_row -->];
        var members = [<!-- BEGIN stats_row -->[{stats_row.COUNT},"{stats_row.NAME}"]<!-- IF ! stats_row.S_LAST_ROW -->, <!-- ENDIF --> <!-- END stats_row -->];

        var plotarea = jQuery("#memberstats");
        plotarea.css("height", "350px");
        plotarea.css("width", "102%");

        var dkpoptions = {
            series: {
                lines: { show: true },
                points: { show: true }
            },
            grid: {
                series: members,
                hoverable: true
            },
            xaxis: {
                ticks:  [],
                autoscaleMargin: 0.05

                },
            colors: ["#6666FF", "#AAFF66", "#FF3366"],
            yaxes: [{ position: 'left',
                axisLabel: "{L_DKP} "
            },
                { position: 'right',
                    axisLabel: "{L_RAIDCOUNT} "
                }]
        };

    //tooltip function
    function showTooltip(x, y, contents, areAbsoluteXY) {
        var rootElt = 'body';

        jQuery('<div id="tooltip" class="tooltip-with-bg"><hr />' + contents + '<hr /></div>').css( {
            position: 'absolute',
            display: 'none',
            'z-index':'1010',
            top: y,
            left: x
        }).prependTo(rootElt).show();
    }

    jQuery.plot( "#memberstats" , [
                {
                    data: memberdkp,
                    bars: { show: true,
                        barWidth: 1,
                        fill: 0.30 },
                    yaxis: 1
                },
                {
                    data: attendance,
                    lines: { show: true, fill: false,  },
                    points: { show: true } ,
                    yaxis: 2
                }],
            dkpoptions );

    //add tooltip event
    jQuery("#memberstats").bind("plothover", function (event, pos, item) {
        if (item)
        {
            if (previousPoint != item.datapoint)
            {
                previousPoint = item.datapoint;
                //suppression précédent tooltip
                jQuery('.tooltip-with-bg').remove();
                var x = item.datapoint[0];
                //All the bars concerning a same x value must display a tooltip with this value and not the shifted value
                if(item.series.bars.order){
                    for(var i=0; i < item.series.data.length; i++)
                    {
                        if(item.series.data[i][3] == item.datapoint[0])
                            x = item.series.data[i][0];
                    }
                }
                var y = item.datapoint[1];
                var members = [<!-- BEGIN stats_row -->[{stats_row.COUNT},"{stats_row.NAME}"]<!-- IF ! stats_row.S_LAST_ROW -->, <!-- ENDIF --> <!-- END stats_row -->];
                var contents = members[x-1][1] + " :" + y;
                showTooltip(item.pageX+5, item.pageY+5, contents);
            }
        }
        else
        {
            jQuery('.tooltip-with-bg').remove();
            previousPoint = null;
        }
    });



    });
    //]]>
</script>

