<div class="forabg" style="width:95%;">
<div class="inner">
<span class="corners-inner-top"><span></span></span>
    <table id="choiceContainer" class="table1" width="90%" border="0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th colspan="4" style=" width:8%; "><a href="{U_STATS}&amp;o={O_MEMBER}">{L_NAME}</a></th>
            <th colspan="3" style=" width:23%;border-left:ridge"><a href="{U_STATS}&amp;o={O_LIF}">{L_ATTENDANCE_LIFETIME}</a></th>
            <th colspan="3" style=" width:23%;border-left:ridge"><a href="{U_STATS}&amp;o={O_90}">{RAIDS_X1_DAYS}</a></th>
            <th colspan="3" style=" width:23%;border-left:ridge"><a href="{U_STATS}&amp;o={O_60}">{RAIDS_X2_DAYS}</a></th>
            <th colspan="3" style=" width:23%;border-left:ridge"><a href="{U_STATS}&amp;o={O_30}">{RAIDS_X3_DAYS}</a></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th align="left" style="color:white; font-weight:bold;" colspan="15">{ATTEND_FOOTCOUNT}</th>
        </tr>
        </tfoot>
        <tbody>
        <tr class= "bg3">
            <td colspan="4" style=" width:8%;">{L_}</td>
            <td colspan="3" style=" width:23%;border-left:ridge">{L_IRCTLIFE} / {L_GRCTLIFE}</td>
            <td colspan="3" style=" width:23%;border-left:ridge">{L_IRCT90} / {L_GRCT90}</td>
            <td colspan="3" style=" width:23%;border-left:ridge">{L_IRCT60} / {L_GRCT60}</td>
            <td colspan="3" style=" width:23%;border-left:ridge">{L_IRCT30} / {L_GRCT30}</td>
        </tr>
        <!-- BEGIN attendance_row -->
        <!-- IF attendance_row.S_ROW_COUNT is odd -->
        <tr class= "bg1">
            <!-- ELSE -->
        <tr class= "bg2">
            <!-- ENDIF -->
            <td><input id="idmember{attendance_row.ID}" type="checkbox" checked="checked" name="member{attendance_row.ID}" /></td>
            <td><a style="color:{attendance_row.COLORCODE}" href="{attendance_row.U_VIEW_MEMBER}"><strong>{attendance_row.NAME}</strong></a></td>

            <td style="font-size :8pt; text-align: right;"><strong>{stats_row.FIRSTRAID}</strong></td>
            <td style="font-size :8pt; text-align: right;"><strong>{stats_row.LASTRAID}</strong></td>

            <td style="font-size :8pt; text-align: center;border-left:thin double #C0C0C0;">{attendance_row.IRCTLIFE}</td>
            <td style="font-size :8pt; text-align: center;">{attendance_row.GRCTLIFE}</td>
            <td style="font-size :8pt; text-align: center;">{attendance_row.ATTLIFESTR}</td>

            <td style="font-size :8pt; text-align: center;border-left:thin double #C0C0C0;">{attendance_row.IRCT90}</td>
            <td style="font-size :8pt; text-align: center; ">{attendance_row.GRCT90}</td>
            <td style="font-size :8pt; text-align: center;">{attendance_row.ATT90STR}</td>

            <td style="font-size :8pt; text-align: center;border-left:thin double #C0C0C0;">{attendance_row.IRCT60}</td>
            <td style="font-size :8pt; text-align: center;">{attendance_row.GRCT60}</td>
            <td style="font-size :8pt; text-align: center;">{attendance_row.ATT60STR}</td>

            <td style="font-size :8pt; text-align: center;border-left:thin double #C0C0C0;">{attendance_row.IRCT30}</td>
            <td style="font-size :8pt; text-align: center;">{attendance_row.GRCT30}</td>
            <td style="font-size :8pt; text-align: center;">{attendance_row.ATT30STR}</td>

        </tr>
        <!-- END attendance_row -->
        </tbody>

    </table>

<!-- IF ATTPAGINATION -->
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a>
		<span>{ATTPAGINATION}<br /><br /></span>
</div>
<!-- ENDIF -->
<span class="corners-inner-bottom"><span></span></span>
</div>
</div>

<div class="attendancecontainer">
    <h4>{L_ATT90}</h4>
    <div id="attendanceplot90" class="plot"></div>
    <h4>{L_ATT60}</h4>
    <div id="attendanceplot60" class="plot"></div>
    <h4>{L_ATT30}</h4>
    <div id="attendanceplot30" class="plot"></div>
    <h4>{L_ATTLIFE}</h4>
    <div id="attendanceplotlife" class="plot"></div>
</div>

<script type="text/javascript">
    /*
    * scatterplots for measuring raid attendance
     */
    jQuery(function() {
        var coreraider = 60;
        var raidsupport = 40;
        var social = 20;
        var coreraiderlbl = "{L_STATS_CORERAIDER}";
        var raidsupportlbl = "{L_STATS_RAIDER}";
        var sociallbl = "{L_STATS_SOCIAL}";
        var markings = [
            { color: '#EEEEEE', yaxis: { from: coreraider } },
            { color: '#CCCCCC', yaxis: { from: social , to: coreraider } },
            { color: '#AAAAAA', yaxis: { to: social }},
        ];

        var d2 = [[0.99, 0]];
        var series_90d = [[2, 100.00],[1, 50.00],[1, 50.00],[1, 50.00]];

        /* the labels for each datapoint */
        var series_attnames = [<!-- BEGIN attendance_row -->'{attendance_row.NAME}'<!-- IF ! attendance_row.S_LAST_ROW -->,<!-- ENDIF --><!-- END attendance_row -->];

        /* the 4 data series */
        var series_90d = [<!-- BEGIN attendance_row -->[{attendance_row.IRCT90}, {attendance_row.ATT90}]<!-- IF ! attendance_row.S_LAST_ROW -->,<!-- ENDIF --><!-- END attendance_row -->];
        var series_60d = [<!-- BEGIN attendance_row -->[{attendance_row.IRCT60}, {attendance_row.ATT60}]<!-- IF ! attendance_row.S_LAST_ROW -->,<!-- ENDIF --><!-- END attendance_row -->];
        var series_30d = [<!-- BEGIN attendance_row -->[{attendance_row.IRCT30}, {attendance_row.ATT30}]<!-- IF ! attendance_row.S_LAST_ROW -->,<!-- ENDIF --><!-- END attendance_row -->];
        var series_life = [<!-- BEGIN attendance_row -->[{attendance_row.IRCTLIFE}, {attendance_row.ATTLIFE}]<!-- IF ! attendance_row.S_LAST_ROW -->,<!-- ENDIF --><!-- END attendance_row -->];

        var att90options = {

            grid: {markings: markings},
            lines: {show: true, steps: false, fill: true },
            points: {show: true, fill: true,radius: 5, fillColor: "#058DC7"},
            xaxis: {
                tickSize: 1,
                tickLength: 1,
                tickDecimals: 0,
                axisLabel: "{L_IRCT90}",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
                axisLabelPadding: 5
            },
            yaxis: {
                min: 0 ,
                max: 101,
                axisLabel: "{L_ATT90} %",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
                axisLabelPadding: 5
            },

        };

        var att60options = {
            grid: { markings: markings},
            lines: { show: true, steps: false, fill: true },
            points: { show: true, fill: true, radius: 5, fillColor: "#058DC7" },
            color: "#058DC7",
            xaxis: {
                tickSize: 1,
                tickLength: 1,
                tickDecimals: 0,
                axisLabel: "{L_IRCT60}",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
                axisLabelPadding: 5
            },
            yaxis: {
                min: 0 ,
                max: 101,
                axisLabel: "{L_ATT60} %",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
                axisLabelPadding: 5
            },

        };

        var att30options = {
            grid: { markings: markings},
            lines: { show: true, steps: false, fill: true },
            points: { show: true, fill: true, radius: 5, fillColor: "#058DC7" },
            color: "#058DC7",
            xaxis: {
                tickSize: 1,
                tickLength: 1,
                tickDecimals: 0,
                axisLabel: "{L_IRCT30}",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
                axisLabelPadding: 5
            },
            yaxis: {
                min: 0 ,
                max: 101,
                axisLabel: "{L_ATT30} %",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
                axisLabelPadding: 5
            },

        };

        var attlifeoptions = {
            grid: { markings: markings},
            lines: { show: true, steps: false, fill: true },
            points: { show: true, fill: true, radius: 4, fillColor: "#058DC7" },
            color: "#058DC7",
            xaxis: {
                tickSize: 1,
                tickLength: 1,
                tickDecimals: 0,
                axisLabel: "{L_IRCTLIFE}",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
                axisLabelPadding: 5
            },
            yaxis: {
                min: 0 ,
                max: 101,
                axisLabel: "{L_ATTLIFE} %",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
                axisLabelPadding: 5
            }
        };

        var dataset90 = {
            data: series_90d,
            points: { show: true },
            showLabels: true,
            labels: series_attnames,
            labelPlacement: "alt",
            canvasRender: true,
            cColor: "#AD8200"
        };

        var dataset60 = {
            data: series_60d,
            points: { show: true },
            showLabels: true,
            labels: series_attnames,
            labelPlacement: "alt",
            canvasRender: true,
            cColor: "#AD8200"
        };

        var dataset30 = {
            data: series_30d,
            points: { show: true },
            showLabels: true,
            labels: series_attnames,
            labelPlacement: "alt",
            canvasRender: true,
            cColor: "#AD8200"
        };

        var datasetlife = {
            data: series_life,
            points: { show: true },
            showLabels: true,
            labels: series_attnames,
            labelPlacement: "alt",
            canvasRender: true,
            cColor: "#AD8200"
        };

        jQuery.plot("#attendanceplot90", [ d2, dataset90 ], att90options);
        jQuery.plot("#attendanceplot60", [ d2, dataset60 ], att60options);
        jQuery.plot("#attendanceplot30", [ d2, dataset30 ], att30options);
        jQuery.plot("#attendanceplotlife", [ d2, datasetlife ], attlifeoptions);

    });
</script>




