
<div style="clear: both;">
<h3>{L_ATTENDEES}</h3>
<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
<table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">

  <!-- BEGIN attendees_row -->
  <tr>
    <!-- IF S_COLUMN0 --><td style="width:{COLUMN_WIDTH}%; whitepace:nowrap;" class="bg2">{attendees_row.COLUMN0_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN1 --><td style="width:{COLUMN_WIDTH}%; whitepace:nowrap;" class="bg1">{attendees_row.COLUMN1_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN2 --><td style="width:{COLUMN_WIDTH}%; whitepace:nowrap;" class="bg2">{attendees_row.COLUMN2_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN3 --><td style="width:{COLUMN_WIDTH}%; whitepace:nowrap;" class="bg1">{attendees_row.COLUMN3_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN4 --><td style="width:{COLUMN_WIDTH}%; whitepace:nowrap;" class="bg2">{attendees_row.COLUMN4_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN5 --><td style="width:{COLUMN_WIDTH}%; whitepace:nowrap;" class="bg1">{attendees_row.COLUMN5_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN6 --><td style="width:{COLUMN_WIDTH}%; whitepace:nowrap;" class="bg2">{attendees_row.COLUMN6_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN7 --><td style="width:{COLUMN_WIDTH}%; whitepace:nowrap;" class="bg1">{attendees_row.COLUMN7_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN8 --><td style="width:{COLUMN_WIDTH}%; whitepace:nowrap;" class="bg2">{attendees_row.COLUMN8_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN9 --><td style="width:{COLUMN_WIDTH}%; whitepace:nowrap;" class="bg1">{attendees_row.COLUMN9_NAME}</td><!-- ENDIF -->
  </tr>
  <!-- END attendees_row -->

</table>
<span class="corners-bottom"><span></span></span>
</div>
</div>
</div>

<div class="forumbg forumbg-table">
<div class="inner">
<span class="corners-inner-top"><span></span></span>
<table class="table1" cellspacing="1">
<thead>
  <tr>
    <th style="text-align:left; white-space: nowrap; width:7%" >{L_RACE}/{L_CLASS}</th>
    <th style="text-align:left; width:25%"><a href="{F_RAID}&amp;o={O_NAME}">{L_NAME}</a></th>
    <th style="text-align:right; white-space: nowrap; width:15%"><a href="{F_RAID}&amp;o={O_RAIDVALUE}">{L_RAIDVALUE}</a></th>
    <!-- IF S_SHOWTIME -->
    <th style="text-align:right; white-space: nowrap; width:15%"><a href="{F_RAID}&amp;o={O_TIMEVALUE}">{L_TIME_BONUS}</a></th>
    <!-- ENDIF -->
    <!-- IF S_SHOWZS -->
    <th style="text-align:right; white-space: nowrap; width:15%"> <a href="{F_RAID}&amp;o={O_ZSVALUE}">{L_ZSVALUE}</a></th>
    <!-- ENDIF -->
    <!-- IF S_SHOWDECAY -->
    <th style="text-align:right; white-space: nowrap; width:15%" ><a href="{F_RAID}&amp;o={O_DECAYVALUE}">{L_DECAY}</a></th>
    <!-- ENDIF -->
    <th style="text-align:right; white-space: nowrap; width:15%" ><a href="{F_RAID}&amp;o={O_TOTALVALUE}">{L_TOTAL}</a></th>

  </tr>
  </thead>
<tfoot>
  <tr style="color:white;">
    <th></th>
    <th class="footer">{LISTRAIDS_FOOTCOUNT}</th>
    <th class="footer" style="text-align:right; white-space: nowrap; width:15%"> ={RAIDVALUE}</th>
    <!-- IF S_SHOWTIME -->
    <th class="footer" style="text-align:right; white-space: nowrap; width:15%">{TIMEVALUE}</th>
    <!-- ENDIF -->
    <!-- IF S_SHOWZS -->
    <th class="footer" style="text-align:right; white-space: nowrap; width:15%">{ZSVALUE}</th>
    <!-- ENDIF -->
    <!-- IF S_SHOWDECAY -->
    <th class="footer" style="text-align:right; white-space: nowrap; width:15%">{RAIDDECAY}</th>
    <!-- ENDIF -->
    <th class="footer" style="text-align:right; white-space: nowrap; width:15%">{TOTAL}</th>
  </tr>
  </tfoot>
<tbody>
  <!-- BEGIN raids_row -->
  <!-- IF raids_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
    <td  style="text-align:left;" ><!-- IF raids_row.S_RACE_IMAGE_EXISTS --><img src="{raids_row.RACE_IMAGE}" alt="" />&nbsp;<!-- ELSE -->&nbsp;<!-- ENDIF --><!-- IF raids_row.S_CLASS_IMAGE_EXISTS --><img src="{raids_row.CLASS_IMAGE}" alt="{raids_row.CLASS}" /><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
    <td style="text-align:left;"><strong><a style="color:{raids_row.COLORCODE}" href="{raids_row.U_VIEW_ATTENDEE}">{raids_row.NAME}</a></strong></td>
    <td style="text-align:right;" class="positive">{raids_row.RAIDVALUE}</td>
    <!-- IF S_SHOWTIME -->
    <td style="text-align:right;" class="positive">{raids_row.TIMEVALUE}</td>
    <!-- ENDIF -->
    <!-- IF S_SHOWZS -->
    <td style="text-align:right;" class="positive">{raids_row.ZSVALUE}</td>
    <!-- ENDIF -->
    <!-- IF S_SHOWDECAY -->
    <td style="text-align:right;" class="negative">{raids_row.DECAYVALUE}</td>
    <!-- ENDIF -->
    <td style="text-align:right;" class="positive">{raids_row.TOTAL}</td>
  </tr>
  <!-- END raids_row -->
  </tbody>

</table>

<span class="corners-inner-bottom"><span></span></span>
</div>
</div>

