<!-- side menu start -->
<div class="profile-sidebar-outer">
    <div class="profile-sidebar-inner">
        <div class="profile-sidebar-contents">
            {% if S_DISPLAY_ROSTERGRID or S_DISPLAY_ROSTERLISTING or S_DISPLAY_WOWACHIEVEMENTS %}
            <div class="profile-sidebar-tabard">
                <div class="guild-tabard">
                    <img src="{{ EMBLEM }}" alt="{{ GUILD_NAME }}" />
                    <div class="tabard-overlay"></div>
                </div>
            </div>
            {% endif %}
            {% if S_DISPLAY_WELCOME %}
            {% if S_GUILD_ALLIANCE %}
            <div class="profile-wrapper-alliance">
            {% elseif S_GUILD_HORDE %}
            <div class="profile-wrapper-horde">
            {% else %}
            <div class="profile-wrapper-other">
            {% endif %}
                <div class="profile-info-anchor profile-guild-info-anchor">
                    <div class="guild-tabard">
                        <div class="tabard-overlay">
                        <img src="{{ EMBLEM }}" alt="{{ GUILD_NAME }}" />
                        </div>
                    </div>
                    <div class="profile-info profile-guild-info">
                        <div class="name">
                            <a href="{{ ARMORY }}">{{ GUILD_NAME }}</a>
                        </div>
                        <div class="under-name">
                            <span class="faction">{{ FACTION_NAME }}</span> {{ lang('GUILD') }}<span class="comma">,</span>
                            <span id="profile-info-realm" class="realm">{{ REGION }}-{{ REALM }}</span><span class="comma">.</span>
                            <span class="members">{{ PLAYERCOUNT }} {{ lang('MEMBERS') }}</span>
                        </div>
                        <div class="achievements">
                            <a href="{{ ARMORY }}">{{ ACHIEV }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="profile-guild-menu">
                <ul id="profile-sidebar-menu" class="profile-sidebar-menu">
                    <li><a href="{{ U_WELCOME }}"><span class="arrow"><span class="icon">{{ lang('MENU_WELCOME') }}</span></span></a></li>
                    <li><a href="{{ U_ROSTER }}"><span class="arrow"><span class="icon">{{ lang('MENU_ROSTER') }}</span></span></a></li>
                    <li><a href="{{ U_ACHIEVEMENTS }}"><span class="arrow"><span class="icon">{{ lang('MENU_ACHIEVEMENTS') }}</span></span></a></li>
                    <!--
                    <li><a href="{{ U_PLAYER }}"><span class="arrow"><span class="icon">{{ lang('MENU_PLAYER') }}</span></span></a></li>
                    <li><a href="{{ U_STATS }}"><span class="arrow"><span class="icon">{{ lang('MENU_STATS') }}</span></span></a></li>
                    <li><a href="{{ U_RAIDS }}"><span class="arrow"><span class="icon">{{ lang('MENU_RAIDS') }}</span></span></a></li>
                    <li><a href="{{ U_NEWS }}"><span class="arrow"><span class="icon">{{ lang('MENU_NEWS') }}</span></span></a></li>
                    -->
                </ul>
            </div>
            <div class="profile-guild-chooser">
                <form method="post" action="{{ F_NAVURL }}" id="setguild">
                        <select name="guild_id" id="guild_id" class="input" onchange="this.form.submit();">
                        {% for guild_row in loops.guild_row %}
                        <option value="{{ guild_row.VALUE }}"{{ guild_row.SELECTED }}>{{ guild_row.OPTION }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="hidden_guild_id" value="{{ GUILD_ID }}" />
                    <input type="hidden" name="hidden_show" value="{{ SHOWALL }}" />
                </form>
            </div>
        </div>
    </div>
</div>
<!-- side menu end -->
<!-- +++++++++++++++++++++++++++++++++++++++++++ -->
