{% INCLUDE 'ucp_header.html' %}
<script type="text/javascript">
    // <![CDATA[
    function check_form()
    {
        if (document.character_add.player_name.value.length < 2)
        {
            alert('{{ lang('MSG_NAME_EMPTY')|escape('js') }}');
            return false;
        }
        return true;
    }

    //Wait for the page to load first
    window.onload = function() {

        var levelup = document.getElementById("levelup");
        var leveldown = document.getElementById("leveldown");

        if (levelup) {
            levelup.onclick = function() {
                var textBox = document.getElementById("player_level");
                textBox.value++;
                return false;
            }
        }

        if (leveldown) {
            leveldown.onclick = function() {
                var textBox = document.getElementById("player_level");
                textBox.value--;
                return false;
            }
        }
    }

    // ]]>
</script>
<h2>{% if S_ADD %}{{ lang('UCP_BBGUILD_CHARACTER_ADD') }}{% else %}{{ lang('UCP_BBGUILD_CHARACTER_EDIT') }}{% endif %}</h2>
<div class="panel">
    <div class="inner"><span class="corners-top"><span></span></span>

        <form method="post" action="{{ U_ACTION }}" name="character_add" onsubmit="return check_form(this)" >

            <fieldset>

                {% if ERROR %}<p class="error">{{ ERROR }}</p>
                {% else %}

                {% if S_SHOW %}
                <br />

                <dl>
                    <dt><label for="player_name">{{ lang('NAME') }}, {{ lang('SURNAME') }}:</label></dt>
                    <dd><input type="text" name="player_name" id="player_name" size="18" maxlength="30" value="{{ PLAYER_NAME }}" class="inputbox" />
                        <input type="text" name="player_title" id="player_title" size="23" maxlength="40" value="{{ PLAYER_TITLE }}" class="inputbox" /></dd>
                </dl>

                <dl>
                    <dt>
                        <label for="region_id">{{ lang('REGION') }}:</label></dt>
                    <dd>
                        <select id="region_id" name="region_id" class="inputbox">
                            {% for region_row in loops.region_row %}
                            <option value="{{ region_row.VALUE }}"{{ region_row.SELECTED }}>{{ region_row.OPTION }}</option>
                            {% endfor %}
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt><label for="realm">{{ lang('REALM_NAME') }}:</label></dt>
                    <dd><input type="text" id="realm" size="20" maxlength="30" name="realm" value="{{ REALM }}" class="inputbox" /></dd>
                </dl>

                <dl>
                    <dt><label for="player_guild_id">{{ lang('GUILD') }}:</label></dt>
                    <dd>
                        <select name="player_guild_id" id="player_guild_id" class="inputbox">
                            {% for guild_row in loops.guild_row %}
                            <option value="{{ guild_row.VALUE }}"{{ guild_row.SELECTED }}>{{ guild_row.OPTION }}</option>
                            {% endfor %}
                        </select>
                    </dd>
                </dl>

                <dl>
                    <dt><label for="player_rank_id">{{ lang('PLAYER_RANK') }}:</label></dt>
                    <dd>
                        <select id="player_rank_id" name="player_rank_id" class="inputbox">
                            {% for rank_row in loops.rank_row %}
                            <option value="{{ rank_row.VALUE }}"{{ rank_row.SELECTED }}>{{ rank_row.OPTION }}</option>
                            {% endfor %}
                        </select>
                    </dd>
                </dl>

                <dl>
                    <dt><label for="game_id">{{ lang('GAME') }}:</label></dt>
                    <dd><input type="hidden" name="game_id" id="game_id" value="{{ GAME_ID }}" />
                        <input readonly type="text" name="game_name" id="game_name" size="50" value="{{ GAME }}" class="inputbox" /></dd>
                </dl>

                <dl>
                    <dt><label for="player_level">{{ lang('LEVEL') }}:</label></dt>
                    <dd><input type="text" name="player_level" id="player_level" size="5" maxlength="3" value="{{ PLAYER_LEVEL }}" class="inputbox" />
                        <a id="levelup" href="#"><img src="./adm/images/icon_up.gif" alt="+" /></a>
                        <a id="leveldown" href="#"><img src="./adm/images/icon_down.gif" alt="-" /></a>
                    </dd>
                </dl>

                <dl>
                    <dt><label for="player_achiev">{{ lang('ACHIEV') }}:</label></dt>
                    <dd><input type="text" name="player_achiev" id="player_achiev" size="6" maxlength="6" value="{{ PLAYER_ACHIEV }}" class="inputbox" /></dd>
                </dl>

                <dl>
                    <dt><label for="player_race_id">{{ lang('RACE') }}:</label></dt>
                    <dd><select id="player_race_id" name="player_race_id" class="inputbox">
                        {% for race_row in loops.race_row %}
                        <option value="{{ race_row.VALUE }}"{{ race_row.SELECTED }}>{{ race_row.OPTION }}</option>
                        {% endfor %}
                    </select>
                        {% if S_RACE_IMAGE_EXISTS %} <br/><img src="{{ RACE_IMAGE }}" alt="" />&nbsp;{% else %}&nbsp;{% endif %}
                    </dd>
                </dl>
                <dl>
                    <dt><label for="player_class_id">{{ lang('CLASS') }}:</label></dt>
                    <dd>
                        <select id="player_class_id" name="player_class_id" class="inputbox">
                            {% for class_row in loops.class_row %}
                            <option value="{{ class_row.VALUE }}"{{ class_row.SELECTED }}>{{ class_row.OPTION }}</option>
                            {% endfor %}
                        </select>
                        {% if S_CLASS_IMAGE_EXISTS %}<br/><img src="{{ CLASS_IMAGE }}" alt="" />{% else %}&nbsp;{% endif %}
                    </dd>
                </dl>

                <dl>
                    <dt><label for="player_role">{{ lang('ROLES') }}:</label></dt>
                    <dd>
                        <select name="player_role" id="player_role" class="inputbox" >
                            {% for role_row in loops.role_row %}
                            <option value="{{ role_row.VALUE }}"{{ role_row.SELECTED }}>{{ role_row.OPTION }}</option>
                            {% endfor %}
                        </select>
                    </dd>
                </dl>

                <dl>
                    <dt><label for="gender">{{ lang('GENDER') }}:</label></dt>
                    <dd>
                        <input type="radio" id="gender" name="gender" value="0"{{ MALE_CHECKED }} /> {{ lang('MALE') }}&nbsp;&nbsp;
                        <input type="radio" name="gender" value="1"{{ FEMALE_CHECKED }} /> {{ lang('FEMALE') }}
                    </dd>
                </dl>

                <dl>
                    <dt><label for="activated">{{ lang('ACTIVE') }}:</label></dt>
                    <dd><input type="checkbox" class="radio" name="activated" id="activated" {% if STATUS_LOCK %} disabled="disabled" {% endif %} {{ STATUS }} />
                    {% if ! S_ADD %}
                    <span style="color:red"> {{ DEACTIVATE_REASON }}</span>
                    {% endif %}
                    </dd>
                </dl>

                {% if S_CAN_HAVE_ARMORY %}
                <dl>
                    <dt><label>{{ lang('ARMORY_URL') }}:</label></dt>
                    <dd>
                        <a href="{{ PLAYER_URL }}">
                        {% if S_PLAYER_PORTRAIT_EXISTS %}
                        <img src="{{ PLAYER_PORTRAIT }}" alt="image" width="64" height="64" />
                        {% endif %}
                        </a>
                        <input type="text" name="player_armorylink" size="80%" maxlength="300" value="{{ PLAYER_URL }}" class="inputbox" />
                    </dd>
                </dl>
                {% endif %}

                <dl>
                    <dt><label>{{ lang('JOINDATE') }}:</label></dt>
                    <dd>
                        {{ lang('DAY') }}: <select id="player_joindate_d" name="player_joindate_d">{{ S_JOINDATE_DAY_OPTIONS }}</select>
                        {{ lang('MONTH') }}: <select name="player_joindate_mo">{{ S_JOINDATE_MONTH_OPTIONS }}</select>
                        {{ lang('YEAR') }}: <select name="player_joindate_y">{{ S_JOINDATE_YEAR_OPTIONS }}</select>
                    </dd>
                </dl>

                <dl>
                    <dt><label>{{ lang('OUTDATE') }}:</label></dt>
                    <dd>
                        {{ lang('DAY') }}: <select id="player_outdate_d" name="player_outdate_d">{{ S_OUTDATE_DAY_OPTIONS }}</select>
                        {{ lang('MONTH') }}: <select name="player_outdate_mo">{{ S_OUTDATE_MONTH_OPTIONS }}</select>
                        {{ lang('YEAR') }}: <select name="player_outdate_y">{{ S_OUTDATE_YEAR_OPTIONS }}</select>
                    </dd>
                </dl>

                <dl>
                    <dt><label for="player_comment">{{ lang('COMMENT') }}:</label></dt>
                    <dd><textarea name="player_comment" id="player_comment" rows="5" cols="10" style="width: 80%" class="inputbox">{{ PLAYER_COMMENT }}</textarea></dd>
                </dl>

                <input type="hidden" name="hidden_player_id" value="{{ PLAYER_ID }}" />
                {{ S_FORM_TOKEN }}
                <dl>
                    <dt></dt>
                    <dd>
                        {% if ! S_ADD %}
                        {% if S_CANUPDATE %}
                        <input type="submit" name="update" value="{{ lang('UPDATE_PLAYER') }}" class="button1" />
                        {% endif %}
                        {% if S_CANDELETE %}
                        <input type="submit" name="delete" value="{{ lang('DELETE_PLAYER') }}" class="button1" />
                        {% endif %}
                        {% else %}
                        <input type="submit" name="add" value="{{ lang('ADD_PLAYER') }}" class="button2" />
                        <input type="reset" name="reset" value="{{ lang('RESET') }}" class="button1" />
                        {% endif %}
                    </dd>
                </dl>

                {% else %}

                <p class="error">{{ MAX_CHARS_EXCEEDED }} </p><p><br /><br /></p>
                {% endif %}

                {% endif %}

            </fieldset>
        </form>

        <span class="corners-bottom"><span></span></span>
    </div>
</div>

{% INCLUDE 'ucp_footer.html' %}
