<!--  BossProgress block 
 @package bbDkp
 @version $Id: bossprogress.html 1288 2010-05-25 17:28:18Z Sajaki9 $
  
 -->
<script type="text/javascript"> 
$(document).ready(
	function() {
	<!-- BEGIN boss -->
			$("#pb{boss.PROGRESSCOUNT}").progressBar(
	{	showText : false,
		width  : 100,
		height : 10,
		boxImage : '{T_THEME_PATH}/images/jqueryui/progressbar.gif',	// boxImage : image around the progress bar
		barImage :
		{
		5:  '{T_THEME_PATH}/images/jqueryui/progressbg_black.gif',
		20:  '{T_THEME_PATH}/images/jqueryui/progressbg_red.gif',
		40:  '{T_THEME_PATH}/images/jqueryui/progressbg_orange.gif',
		60:  '{T_THEME_PATH}/images/jqueryui/progressbg_yellow.gif',
		100: '{T_THEME_PATH}/images/jqueryui/progressbg_green.gif'
		}
	})
	<!-- END boss -->
	;}
);
</script>
<div style="padding: 2px;">
<table class="tablebg" width="100%" cellspacing = "1">

<tbody>
	<tr>
		<th>{L_BOSSPROGRESS}</th>
	</tr>
	<tr>
	<td>
    <table width="100%" cellpadding="2" cellspacing="0" border="0" >
          <colgroup span="2" >
          <col width="35%"></col>
          <col width="65%"></col>
          </colgroup>
	<!-- BEGIN boss -->
	<tr>
	 	<td align="justify" class="{boss.CSSCLASS}"><span>{boss.ZONE}</span></td>
	 	<td align="justify"><span id="pb{boss.PROGRESSCOUNT}" class="progressBar">{boss.PERCOMP}</span>&nbsp;{boss.LOC_KILLED}/{boss.TOTAL_BCOUNT}</td>
     </tr>
    <!-- END boss -->

	</table>
	</td>
	</tr>
</tbody>
</table>
</div>
<!-- end BossProgress block -->