<!--  
 @package bbDkp
 @version $Id: bossprogress.html 1288 2010-05-25 17:28:18Z Sajaki9 $
 -->
 
<script type="text/javascript"> 

$(document).ready( function() {
	<!-- BEGIN zone -->  
	$("#zone{zone.ZONEID}").tooltip({ effect: 'slide'});  <!-- END zone -->
	});
</script>	
<style>

.bbtooltip {
	 display: none;
	 position:relative;
	 margin:0px auto;
	 min-width:8em;
	 
	 
	 
	 max-width:300px; 
	 color:#fff;
	 z-index:1;
	 margin-left:12px; /* default, width of left corner */
	 margin-bottom:0.5em; /* spacing under dialog */	
	font-size: 11px;
}

.bbtooltip .bbinner,
.bbtooltip .t,
.bbtooltip .b,
.bbtooltip .b div {
 background:transparent url({T_IMAGES_PATH}tooltip/tooltip.png) no-repeat top right;
}
	
.bbtooltip .bbinner {
 position:relative;

 padding:0px 12px 0px 0px;
}

.bbtooltip .t {
 /* top+left vertical slice */
 position:absolute;
 left:0px;
 top:0px;
 width:12px; /* top slice width */
 margin-left:-12px;
 height:100%;
 background-position:top left;
}

.bbtooltip .b {
 /* bottom slice */
 position:relative;
 width:100%;
}

.bbtooltip .b,
.bbtooltip .b div {
 height:10px; /* height of bottom cap/shade */
 font-size:1px;
}

.bbtooltip .b {
 background-position:bottom right;
}

.bbtooltip .b div {
 position:absolute;
 width:12px; /* bottom corner width */
 margin-left:-12px;
 background-position:bottom right;
}

</style>
 
 <table class="tablebg" width="100%" cellspacing = "1">
<tbody>
<tr>
<th>
	<h3 style="text-align:center">{L_BOSSPROGRESS}</h3>
</th>
</tr>
</tbody>
</table>

<table class="tablebg" width="100%" cellpadding="2" cellspacing="0" border="0" >
          <colgroup span="2" >
          <col width="75%"></col>
          <col width="25%"></col>
          </colgroup>
    <!-- BEGIN zone -->
 	<tr>
        <td align="center" class="{zone.CSSCLASS}"><span><a id="zone{zone.ZONEID}" >{zone.ZONENAME}</a>
    <div class="bbtooltip">
    
    <div class="bbinner">
    <div class="t"></div>
	<br />
	<h4>{zone.ZONENAME}</h4>
	<!-- BEGIN boss -->
    {zone.boss.BOSSNAME}&nbsp;<img src="{T_IMAGES_PATH}/bossprogress/{zone.boss.KILLED}.gif" alt="{zone.boss.KILLED}"></img><br />
    <!-- END boss -->
    <br />
     </div>
     <div class="b"><div></div></div> 
     
      
   </div></span></td>
        <td align="center" class="{zone.CSSCLASS}"><span>({zone.BOSSKILLS}/{zone.BOSSCOUNT})  </span></td>
    </tr>
    <!-- END zone -->
</table>


