<!--  
 @package bbDkp
 @version $Id: bossprogress.html 1288 2010-05-25 17:28:18Z Sajaki9 $
 -->
 
<script type="text/javascript"> 

$(document).ready( function() {
	<!-- BEGIN zone -->  
	$("#zone{zone.ZONEID}").tooltip({ effect: 'slide'});  <!-- END zone -->
	});
</script>	
<style>
.tooltip 
{
	display:none;
	background:url(http://static.flowplayer.org/tools/img/tooltip/black_arrow_big.png);
	background:#3E3E3E;
	padding:5px 5px 5px 5px;
	font-size:11px;
	color:#fff;
}

/* a .label element inside tooltip */
.tooltip .label {
	color:yellow;
	width:35px;
}

.tooltip a {
	color:#ad4;
	font-size:11px;
	font-weight:bold;
}
</style>
 
	<div class="panel">
    <div class="inner">
    <span class="corners-top"><span></span></span>    
    <h3 style="text-align:center">{L_BOSSPROGRESS}</h3>
    <table width="100%" cellpadding="2" cellspacing="0" border="0" >
          <colgroup span="2" >
          <col width="75%"></col>
          <col width="25%"></col>
          </colgroup>
    <!-- BEGIN zone -->
 	<tr>
        <td align="center" class="{zone.CSSCLASS}"><span><a id="zone{zone.ZONEID}" >{zone.ZONENAME}</a><div class="tooltip">
    <div>
    <h3>{zone.ZONENAME}</h3><!-- BEGIN boss -->
    {zone.boss.BOSSNAME}&nbsp;<img src="{T_IMAGES_PATH}/bossprogress/{zone.boss.KILLED}.gif" alt="{zone.boss.KILLED}"></img><br />
    <!-- END boss -->
    </div>
        </div></span></td>
        <td align="center" class="{zone.CSSCLASS}"><span>({zone.BOSSKILLS}/{zone.BOSSCOUNT})  </span></td>
    </tr>
    <!-- END zone -->
	
    </table>
    <span class="corners-bottom"><span></span></span>
    </div>
    </div>


