<!-- links -->
<br/>
<table class="tablebg" width="100%" cellspacing = "1">
<tbody>
	<tr>
		<th style="text-align:center">{L_MENU_LINKS}</th>
	</tr>
</tbody>
</table>

<table class="tablebg" width="100%" cellspacing = "1">
<tbody>
<tr class="row1">
<td>
	<div class="portalmenu">
	<ul>
	    <li><a href="{L_LINK1}">{L_LINK1T}</a></li>
	    <li><a href="{L_LINK2}">{L_LINK2T}</a></li>
		<li><a href="{L_LINK3}">{L_LINK3T}</a></li>
		<li><a href="{L_LINK4}">{L_LINK4T}</a></li>
		<li><a href="{L_LINK5}">{L_LINK5T}</a></li>
		<li><a href="{L_LINK6}">{L_LINK6T}</a></li>
		<li><a href="{L_LINK7}">{L_LINK7T}</a></li>
		<li><a href="{L_LINK8}">{L_LINK8T}</a></li>
	</ul>
	</div>
</td>
</tr>
</tbody>
</table>
<!-- end links -->