<!--  begin news  -->
<table class="tablebg" width="100%" cellspacing = "1">
<tbody>
	<tr>
		<th>{L_NEWS}</th>
	</tr>
</tbody>
</table>

<!-- BEGIN date_row -->

<table class="tablebg" width="100%" cellspacing="1">
<tr class="row<!-- IF date_row.S_ROW_COUNT is odd -->1<!-- ELSE -->2<!-- ENDIF -->">
<td>

<!-- BEGIN news_row -->
<table class="tablebg" cellspacing="1" width="100%">

<tr>
<td class="cat">
{date_row.news_row.ATTACH_ICON_IMG}<a href="{date_row.news_row.LINK}"><strong>{date_row.news_row.HEADLINE}</strong></a>
</td>
</tr>

<tr class="row1">
<td>
<span class="gensmall" style="float: left;">{L_POST_BY_AUTHOR} : {date_row.news_row.AUTHOR} &raquo;&nbsp;{date_row.DATE}</span>
<span class="gensmall" style="float: right;">
{L_INFORUM}: <strong><a href="{date_row.news_row.U_VIEWFORUM}">{INFORUMNAME}</a></strong>
</span>
<br />
<div class="postbody">
<br />
{date_row.news_row.MESSAGE}
{news_row.OPEN}<a href="{news_row.U_READ_FULL}">{news_row.L_READ_FULL}</a>{news_row.CLOSE}
</div>

<!-- IF date_row.news_row.S_HAS_ATTACHMENTS -->
	<br clear="all" /><br />
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td>
	</tr>
	<!-- BEGIN attachment -->
	<tr>
		<!-- IF date_row.news_row.S_ROW_COUNT is even -->
		<td class="row2"><!-- ELSE --><td class="row1">
		<!-- ENDIF -->
		{date_row.news_row.attachment.DISPLAY_ATTACHMENT}</td>
	</tr>
	<!-- END attachment -->
	</table>
<!-- ENDIF -->
<br /><br />

<!-- IF date_row.news_row.EDITED_MESSAGE or date_row.news_row.EDIT_REASON -->
	<div class="notice">{date_row.news_row.EDITED_MESSAGE}
		<!-- IF date_row.news_row.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{date_row.news_row.EDIT_REASON}</em><!-- ENDIF -->
	</div>
<!-- ENDIF -->

</td>
</tr>
<tr class="row<!-- IF date_row.news_row.S_ROW_COUNT is odd -->1<!-- ELSE -->2<!-- ENDIF -->">
<td>
<span style="float: left;"><a href="{date_row.news_row.LINK}" >{L_COMMENT}: {date_row.news_row.MORE}</a></span>
<span style="float: right;"><a href="#wrapheader" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></span>
</td>
</tr>
</table>
<!-- END news_row -->

</td>
</tr>
</table>

<!-- IF date_row.S_NOT_LAST --><br /><!-- ENDIF -->
<!-- IF date_row.S_LAST_ROW -->
<hr class="divider" />
<table width="100%" cellspacing="0">
<tr>
<td class="gensmall" valign="middle" align="right" nowrap="nowrap">
	 <span>{TOTALNEWS} &bull; {NEWS_PAGINATION}<br /><br /></span>
</td>
</tr>
</table>
<!-- ENDIF -->
<!-- END date_row -->

 
<!--  end news  -->