<!-- $Id: user_menu.html,v 1.3 2007/04/11 01:44:52 angelside Exp $ //-->
<!-- credits to angelside phpbb3portal -->
<table class="tablebg" width="100%" cellspacing = "1">
<tbody>
	<tr>
		<th>{USERNAME}</th>
	</tr>
</tbody>
</table>

<table class="tablebg" width="100%" cellspacing = "1">
<tbody>
<tr class="row1">
<td>
	<span style="font-size:1.1em;">
	<div align="center">
		<a href="{U_VIEW_PROFILE}"><!-- IF USER_COLOR --><span style="color: {USER_COLOR}; font-weight: bold;"><!-- ELSE --><span><!-- ENDIF -->{USERNAME}</span></a><br /><br />
		<a href="{U_PROFILE}"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --></a>
		<!-- IF RANK_TITLE --><br /><small>{RANK_TITLE}</small><!-- ENDIF -->
		<!-- IF RANK_IMG --><br />{RANK_IMG}<!-- ENDIF -->
	</div>		
	<hr class="dashed" />
	<a href="search.php?search_id=newposts">{L_SEARCH_NEW}</a><br />
	<a href="search.php?search_id=egosearch">{L_SEARCH_SELF}</a><br />
	<a href="ucp.php?i=main&mode=bookmarks">{L_VIEW_BOOKMARKS}</a><br />
	<a href="ucp.php?i=pm&folder=inbox">{L_PRIVATE_MESSAGES}</a><hr />
	<a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a>
	</span>
</td>
</tr>
</tbody>
</table>

