<!-- @version $Id: whoisonlineblock.html 1281 2010-05-25 11:50:39Z Sajaki9 $ //-->
<!--  begin whoisonlineblock  -->

<table class="tablebg" width="100%" cellspacing = "1">
<tbody>
	<tr>
		<th><img src="{T_THEME_PATH}/images/dkp/<!-- IF S_USER_LOGGED_IN -->door_open.png<!-- ELSE -->door.png<!-- ENDIF -->" width="16" height="16" alt="" /> &nbsp;&nbsp;{L_WHO_IS_ONLINE}</th>
	</tr>
</tbody>
</table>


<table class="tablebg" width="100%" cellspacing = "1">
<tbody>
<tr class="row1">
<td>

<div>
	<table>
		<tr>
		<td>
			<span style="margin: 0 5px 0 5px;">{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}</span>
		</td>
		</tr>
		<!-- IF LEGEND -->
		<tr>
		<td colspan="3"><b class="gensmall">{L_LEGEND} : {LEGEND}</b></td>
		</tr>
		<!-- ENDIF -->
	</table>
</div>
		
</td>
</tr>
</tbody>
</table>
<!--  end whoisonlineblock  -->