
<div class="block_menu">
<h3 class="block_menu">
{L_WHO_IS_ONLINE}
</h3>
<div class="block_inner">

<ul class="topiclist forums" style="padding: 4px">
<!-- IF IN_FORUMS --><li><p>{TOTAL_USERS_ONLINE_SITEWIDE}</p><!-- ELSE --><p>{TOTAL_USERS_ONLINE}</p></li><!-- ENDIF -->
	<li style="list-style:none" ><p>{RECORD_USERS}<p/></li>
	<li style="list-style:none" ><p>{LOGGED_IN_USER_LIST} {L_ONLINE_EXPLAIN}</p></li>
</ul>
<ul class="topiclist bg1" style="padding: 4px">
	<!-- IF U_VIEWONLINE --><li style="list-style:none" >&raquo;&nbsp;<a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><li><!-- ENDIF -->
</ul>
<br />

</div>
</div>

