<div class="profile-section">
	<div class="achievement-points-anchor">
		<h3 class="category ">{L_GUILDROSTER}</h3>
	</div>
	<div class="roster">

		<div class="action-bar top">
			<form id="player_search" method="get" action="{F_PLAYERS}">

				<div>
				<div style="float:left; text-align:left; white-space:nowrap; padding: 4px ; " >
					<select name="rosterlayout" id="rosterlayout" class="input" onchange="javascript:form.submit();"> 
						<!-- BEGIN rosterlayout_row --> 
						<option value="{rosterlayout_row.VALUE}"{rosterlayout_row.SELECTED}>{rosterlayout_row.OPTION}</option> 
						<!-- END rosterlayout_row --> 
					</select> 
					<select name="filter" class="input" onchange="javascript:form.submit();"> 
						<!-- BEGIN filter_row --> 
						<option value="{filter_row.VALUE}"{filter_row.SELECTED}{filter_row.DISABLED}>{filter_row.OPTION}</option> 
						<!-- END filter_row --> 
					</select>
				</div>
				<div class="search-box" style="text-align:right; float:left; white-space:nowrap;" >
					<fieldset>
						<input type="hidden" name="hidden_guild_id" value="{GUILD_ID}" />
						<input type="hidden" name="hidden_show" value="{SHOWALL}" />
						<input type="search" name="player_name" id="player_name" size="20" maxlength="20" placeholder="Search playerbase…" value="{PLAYER_NAME}" class="inputbox search tiny" />
						<button type="submit" name="submit_options" title="{L_FILTER}" class="button icon-button search-icon" >{L_FILTER}</button>
					</fieldset>
				</div>
				</div>
			</form>

			<div class="pagination">
				<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
				{PAGE_NUMBER}
				<!-- ENDIF -->
			</div>
		</div>

		<!-- IF .players_row -->
		<div class="forumbg forumbg-table">
			<div class="inner">
				<span class="corners-top"><span></span></span>

				<table class="table1 bbguild">
					<thead>
					<tr>
						<th style="text-align: left;width: 3%">#</th>
						<!-- IF S_GAME == wow || S_GAME == aion -->
						<th style="text-align: left;width: 5%">{L_ARMORY_URL}</th>
						<!-- ENDIF -->
						<th style="text-align: left; width: 15%"><a href="{O_NAME}">{L_NAME}</a></th>
						<th style="text-align: center;width: 5%"><a href="{O_LEVEL}">{L_LEVEL}</a></th>
						<th style="text-align: left;width: 15%"><a href="{O_RACE}">{L_RACE}</a></th>
						<th style="text-align: left;width: 15%"><a href="{O_CLASS}">{L_CLASS}</a></th>
						<th style="text-align: left; width: 7%"><a href="{O_RANK}">{L_RANK}</a></th>
						<th style="text-align: left;width: 15%"><a href="{O_PHPBB}">{L_PLAYER}</a></th>
						<!-- IF S_SHOWACH == 1 -->
						<th style="text-align: left;width: 15%"><a href="{O_ACHI}">{L_ACHIEV}</a></th>
						<!-- ENDIF -->
					</tr>
					</thead>
					<tbody>
					<!-- BEGIN players_row -->
					<tr class="<!-- IF players_row.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
						<td style="text-align:left;">{players_row.PLAYER_ID}</td>
						<!-- IF S_GAME == wow || S_GAME == aion -->
						<td style="text-align:left;"><a href="{players_row.ARMORY}"><img src="./images/link.png"  alt="View" /></a></td>
						<!-- ENDIF -->
						<td style="text-align: left;">
							<a style="white-space: nowrap; color:{players_row.COLORCODE}" href="{players_row.ARMORY}"><strong>{players_row.NAME}</strong></a>
						</td>
						<td style="text-align:center;">{players_row.LVL}</td>
						<td style="text-align: left;"><img src="{players_row.RACE_IMAGE}" alt="" />&nbsp;{players_row.RACE}</td>
						<td style="text-align: left;">
							<img src="{players_row.CLASS_IMAGE}" alt="{players_row.CLASS}" />&nbsp;
							<span style="white-space: nowrap; color:{players_row.COLORCODE}">{players_row.CLASS}</span>
						</td>
						<td style="text-align:left;">{players_row.RANK}</td>
						<td style="text-align:left;">{players_row.PHPBBUID}</td>
						<!-- IF S_SHOWACH == 1 -->
						<td style="text-align: left;width: 15%">{players_row.ACHIEVPTS}</td>
						<!-- ENDIF -->
					</tr>
					</tbody>
					<!-- END players_row -->
					<tfoot>
					<tr>
						<th style="text-align: left; white-space: nowrap; color:white;" colspan="0">{LISTPLAYERS_FOOTCOUNT}</th>
					</tr>
					</tfoot>
				</table>

				<span class="corners-bottom"><span></span></span>
			</div>
		</div>
		<!-- ENDIF -->

		<div class="pagination">
			<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
			{PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
	</div>
</div>