<div class="portal-block" id="portal-activity-{{ definition.MODULE_ID }}">
	<div class="portal-block-header">{{ definition.TITLE }}</div>
	<div class="portal-block-body">
		{% if S_PORTAL_HAS_ACTIVITY %}
		<ul id="bbguild-activity-feed">
		{% for item in loops.portal_activity %}
			<li>
				<dl>
				{% if item.TYPE == 'ITEM' %}
					<dd class="color-blizz">{{ item.CHARACTER }}</dd>
					<dd>{{ item.VERB }}</dd>
					<dd class="color-q4">{{ item.ITEM }}</dd>
					<dt>{{ item.TIMESTAMP }}</dt>
				{% else %}
					<dd class="color-blizz">{{ item.CHARACTER }}</dd>
					<dd>{{ item.VERB }}</dd>
					<dd>{{ item.TITLE }}</dd>
					<dd>{{ item.POINTS }}</dd>
					<dt>{{ item.TIMESTAMP }}</dt>
				{% endif %}
				</dl>
			</li>
		{% endfor %}
		</ul>
		{% else %}
		<p>{{ lang('NO_ACTIVITY') }}</p>
		{% endif %}
	</div>
</div>
