<div class="portal-block" id="portal-news-{{ definition.MODULE_ID }}">
	<div class="portal-block-header">{{ definition.TITLE }}</div>
	<div class="portal-block-body">
		{% if S_PORTAL_HAS_NEWS %}
		{% for item in loops.portal_news %}
		<div class="portal-news-item">
			<h3 class="portal-news-headline">{{ item.HEADLINE }}</h3>
			<div class="portal-news-meta">
				<span class="portal-news-author">{{ item.AUTHOR }}</span>
				<span class="portal-news-date">{{ item.DATE }}</span>
			</div>
			<div class="portal-news-message">{{ item.MESSAGE }}</div>
		</div>
		{% endfor %}
		{% else %}
		<p>{{ lang('NO_NEWS') }}</p>
		{% endif %}
	</div>
</div>
