<form id="postform" name="postform" method="post" action="{F_NEWS}" onsubmit="return checkForm(this);">

<table class="tablebg" width="100%" border="0" cellspacing="0" cellpadding="2" style="border-bottom: none">
<colgroup  span="2">
<col width="20%"></col>
<col width="80%"></col>
</colgroup>
<tr>
<th style="text-align:left; white-space:nowrap;"><h1 style ="color:#dfc065;">{L_MENU_NEWS}</h1></th>
<th></th>
</tr>
</table>

<br />

<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
 
<!-- IF S_POST_ACTION -->
<div id="pagecontent">

<table class="tablebg" width="100%" cellspacing="1">


<!-- IF ERROR -->
	<tr>
		<td class="row2" colspan="2" align="center"><span class="genmed error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->


<tr>
	<td class="row1" width="22%"><b class="genmed">{L_SUBJECT}:</b></td>
	<td class="row2" width="78%"><input class="post" style="width:450px" type="text" name="news_headline" id="news_headline" size="50"  maxlength="100" tabindex="2" value="{HEADLINE}" /></td>
</tr>

<tr>
	<td class="row1" valign="top"><b class="genmed">{L_MESSAGE_BODY}:</b><br /><span class="gensmall">{L_MESSAGE_BODY_EXPLAIN}&nbsp;</span><br /><br />
	<!-- IF S_SMILIES_ALLOWED -->
		<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
		<tr>
			<td class="gensmall" align="center"><b>{L_SMILIES}</b></td>
		</tr>
		<tr>
			<td align="center">
				<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
				<!-- END smiley -->
			</td>
		</tr>

		<!-- IF S_SHOW_SMILEY_LINK -->
			<tr>
				<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a></td>
			</tr>
		<!-- ENDIF -->

		</table>
	<!-- ENDIF -->
			<table cellspacing="2" cellpadding="0" border="0">
		<tr>
			<td class="gensmall">{BBCODE_STATUS}</td>
		</tr>
		<!-- IF S_BBCODE_ALLOWED -->
		<tr>
			<td class="gensmall">{IMG_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{FLASH_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{URL_STATUS}</td>
		</tr>
		<!-- ENDIF -->
		<tr>
			<td class="gensmall">{SMILIES_STATUS}</td>
		</tr>
		</table>
	
	
	</td>
	
	<td class="row2" valign="top">
		<script type="text/javascript">
		// <![CDATA[
			var form_name = 'postform';
			var text_name = 'news_message';
		// ]]>
		</script>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">

		<tr valign="middle" align="{S_CONTENT_FLOW_BEGIN}">
			<td colspan="2">
				<script type="text/javascript">
				// <![CDATA[
				
				// Define the bbCode tags
				var bbcode = new Array();
				var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
				var imageTag = false;
				
				// Helpline messages
				var help_line = {
					b: '{LA_BBCODE_B_HELP}',
					i: '{LA_BBCODE_I_HELP}',
					u: '{LA_BBCODE_U_HELP}',
					q: '{LA_BBCODE_Q_HELP}',
					c: '{LA_BBCODE_C_HELP}',
					l: '{LA_BBCODE_L_HELP}',
					o: '{LA_BBCODE_O_HELP}',
					p: '{LA_BBCODE_P_HELP}',
					w: '{LA_BBCODE_W_HELP}',
					a: '{LA_BBCODE_A_HELP}',
					s: '{LA_BBCODE_S_HELP}',
					f: '{LA_BBCODE_F_HELP}',
					e: '{LA_BBCODE_E_HELP}',
					d: '{LA_BBCODE_D_HELP}',
					t: '{LA_BBCODE_T_HELP}',
					tip: '{L_STYLES_TIP}'
					<!-- BEGIN custom_tags -->
						,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
					<!-- END custom_tags -->
				}
		
				// ]]>
				</script>
				<script type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js"></script>
		
		<!-- IF S_BBCODE_ALLOWED -->
				<input type="button" class="btnbbcode" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px;" onclick="bbstyle(0)" onmouseover="helpline('b')" onmouseout="helpline('tip')" />
				<input type="button" class="btnbbcode" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px;" onclick="bbstyle(2)" onmouseover="helpline('i')" onmouseout="helpline('tip')" />
				<input type="button" class="btnbbcode" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px;" onclick="bbstyle(4)" onmouseover="helpline('u')" onmouseout="helpline('tip')" />
				<!-- IF S_BBCODE_QUOTE -->
					<input type="button" class="btnbbcode" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onclick="bbstyle(6)" onmouseover="helpline('q')" onmouseout="helpline('tip')" />
				<!-- ENDIF -->
				<input type="button" class="btnbbcode" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" onmouseover="helpline('c')" onmouseout="helpline('tip')" />
				<input type="button" class="btnbbcode" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" onmouseover="helpline('l')" onmouseout="helpline('tip')" />
				<input type="button" class="btnbbcode" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" onmouseover="helpline('o')" onmouseout="helpline('tip')" />
				<input type="button" class="btnbbcode" accesskey="y" name="addlitsitem" value="[*]" style="width: 40px" onclick="bbstyle(-1)" onmouseover="helpline('e')" onmouseout="helpline('tip')" />				
				<!-- IF S_BBCODE_IMG -->
					<input type="button" class="btnbbcode" accesskey="p" name="addbbcode14" value="Img" style="width: 40px" onclick="bbstyle(14)" onmouseover="helpline('p')" onmouseout="helpline('tip')" />
				<!-- ENDIF -->
				<!-- IF S_LINKS_ALLOWED -->
					<input type="button" class="btnbbcode" accesskey="w" name="addbbcode16" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(16)" onmouseover="helpline('w')" onmouseout="helpline('tip')" />
				<!-- ENDIF -->
				<!-- IF S_BBCODE_FLASH -->
					<input type="button" class="btnbbcode" accesskey="d" name="addbbcode18" value="Flash" onclick="bbstyle(18)" onmouseover="helpline('d')" onmouseout="helpline('tip')" />
				<!-- ENDIF -->
				<span class="genmed nowrap">{L_FONT_SIZE}: <select class="gensmall" name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" onmouseover="helpline('f')" onmouseout="helpline('tip')">
					<option value="50">{L_FONT_TINY}</option>
					<option value="85">{L_FONT_SMALL}</option>
					<option value="100" selected="selected">{L_FONT_NORMAL}</option>
					<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 150 -->
						<option value="150">{L_FONT_LARGE}</option>
						<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 200 -->
							<option value="200">{L_FONT_HUGE}</option>
						<!-- ENDIF -->
					<!-- ENDIF -->
				</select></span>
		<!-- ENDIF -->
			</td>
		</tr>
		<!-- IF S_BBCODE_ALLOWED and .custom_tags -->
			<tr valign="middle" align="{S_CONTENT_FLOW_BEGIN}">
				<td colspan="2">
				<!-- BEGIN custom_tags -->
					<input type="button" class="btnbbcode" name="addbbcode{custom_tags.BBCODE_ID}" value="{custom_tags.BBCODE_TAG}" onclick="bbstyle({custom_tags.BBCODE_ID})"<!-- IF custom_tags.BBCODE_HELPLINE !== '' --> onmouseover="helpline('cb_{custom_tags.BBCODE_ID}')" onmouseout="helpline('tip')"<!-- ENDIF --> />
				<!-- END custom_tags -->
				</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_BBCODE_ALLOWED -->
		<tr>
			<td<!-- IF $S_SIGNATURE or S_EDIT_DRAFT --> colspan="2"<!-- ENDIF -->><input type="text" readonly="readonly" name="helpbox" style="width:100%" class="helpline" value="{L_STYLES_TIP}" /></td>
			<!-- IF not $S_SIGNATURE and not S_EDIT_DRAFT -->
				<td class="genmed" align="center">{L_FONT_COLOR}</td>
			<!-- ENDIF -->
		</tr>
		<!-- ENDIF -->


		<tr>
			<td valign="top" style="width: 100%;"><textarea name="news_message"  id="news_message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" style="width: 98%;">{MESSAGE}</textarea></td>
			<!-- IF S_BBCODE_ALLOWED -->
			<td width="80" align="center" valign="top">
				<script type="text/javascript">
				// <![CDATA[
					colorPalette('v', 7, 6)
				// ]]>
				</script>
			</td>
			<!-- ENDIF -->
	 	</tr>
		</table>
	</td>
</tr>


<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
		<input class="btnmain" type="submit" accesskey="s" tabindex="11" name="post" value="{L_SUBMIT}" />
		&nbsp; <input class="btnlite" type="submit" accesskey="c" tabindex="14" name="cancel" value="{L_CANCEL}" />
	</td>
</tr>


</table>


<!-- ELSE -->

<!-- IF NEWS_PAGINATION -->
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">
    <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> 
    <span>{NEWS_PAGINATION}<br /><br /> {COUNTNEWS}</span>
    </td>
  </tr>
</table>
<!-- ENDIF -->

<input class="btnmain" type="button" value="{L_POST_TOPIC}" onClick="document.location.href='{U_POST_NEW_TOPIC}';"> 
<hr/>
<div>

<!-- BEGIN news_row -->
<table class="tablebg" width="100%" border="0" cellspacing="0" cellpadding="0">
<!-- IF news_row.S_FIRST_ROW -->
<tr>
	<th>{L_AUTHOR}</th>
	<th>{L_MESSAGE}</th>
</tr>
<!-- ENDIF -->
<!-- IF news_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
<td colspan="0">
	<table width="100%" cellspacing="0">
		<tr>
			<td class="gensmall" width="100%">
				<div style="float: {S_CONTENT_FLOW_BEGIN};">&nbsp;<b class="postauthor">{postrow.AUTHOR}</b> <b>{L_POST_SUBJECT}:</b> {news_row.HEADLINE}</div>
				<div style="float: {S_CONTENT_FLOW_END};"><b>{L_POSTED}:</b> {news_row.DATE}&nbsp;{news_row.TIME}</div>
			</td>
		</tr>
		<tr>
			<td colspan="0" valign="top">
				<div class="postbody">{news_row.MESSAGE}
				</div>
			</td>
		</tr>
		<tr>		
			<td colspan="0" valign="top">
				<div style="float: {S_CONTENT_FLOW_END};"><input class="btnmain" type="button" value="{L_DELETE_POST}" onClick="document.location.href='{news_row.U_DELETE}';">
				<input class="btnmain" type="button" value="{L_EDIT_POST}" onClick="document.location.href='{news_row.U_EDIT}';">
				</div>
			</td> 
		</tr>
	</table>
</td>	

</tr>

</table>
<!-- END news_row -->
</div>

<!-- IF NEWS_PAGINATION -->
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">
    <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> 
    <span>{NEWS_PAGINATION}<br /><br /> {COUNTNEWS}</span>
    </td>
  </tr>
</table>
<!-- ENDIF -->



<!-- ENDIF -->


</form>

