
<div class="roster">
    <ul class="topiclist" style="padding: 4px;">
        <li class="header">
            <dl>
                <dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px; display:inline;width:auto;text-align:center;">
                <div style="float: left; width:49%; white-space:nowrap; text-align: left;">
                    <h4 class="bbguildheader">{L_GUILDROSTER}</h4>
                </div>
                </dt>
            </dl>
        </li>
    </ul>

    <div class="navbar" style="clear:both;">
        <span class="corners-top"><span></span></span>
        <form method="post" action="{F_PLAYERS}">
            <input type="hidden" name="hidden_guild_id" value="{GUILD_ID}" />
            <div style="white-space:nowrap; text-align: right;">
                <div style="text-align:right; white-space:nowrap; width:100%" >
                    <select name="rosterlayout" id="rosterlayout" class="input" onchange="javascript:form.submit();">
                        <!-- BEGIN rosterlayout_row -->
                        <option value="{rosterlayout_row.VALUE}"{rosterlayout_row.SELECTED}>{rosterlayout_row.OPTION}</option>
                        <!-- END rosterlayout_row -->
                    </select>
                    <select name="filter" class="input" onchange="javascript:form.submit();">
                        <!-- BEGIN filter_row -->
                        <option value="{filter_row.VALUE}"{filter_row.SELECTED}{filter_row.DISABLED}>{filter_row.OPTION}</option>
                        <!-- END filter_row -->
                    </select>
                    <input type="hidden" name="hidden_show" value="{SHOWALL}" />


                    <label>&nbsp;&nbsp;{L_NAME}:</label>
                    <input type="text" name="player_name" id="player_name" size="20" maxlength="30" value="{PLAYER_NAME}" class="input" />
                    <input type="submit" name="submit_options" value="{L_FILTER}" class="button1" />
                </div>
            </div>
        </form>
        <span class="corners-bottom"><span></span></span>
    </div>
    <hr />
    <!-- BEGIN class -->
    <h2><img src="{class.CLASSIMG}" style="max-width:100px; max-height:100px;" alt="{class.CLASSNAME}"  />
        &nbsp;
        <span style="color: {class.COLORCODE};">{class.CLASSNAME}</span>
    </h2>

    <table  style="width: 100%" border="0" cellspacing="0" cellpadding="0">

        <colgroup span="8">
            <col width="12.5%" />
            <col width="12.5%" />
            <col width="12.5%" />
            <col width="12.5%" />

            <col width="12.5%" />
            <col width="12.5%" />
            <col width="12.5%" />
            <col width="12.5%" />
        </colgroup>

        <!-- BEGIN players_row -->

        <!-- IF players_row.S_ROW_COUNT % 4 == 0 -->
        <tr class="bg1">
            <!-- ENDIF -->
            <td style="text-align:center; width:100;" class="bg1" >
                <a href="{class.players_row.ARMORY}">
                    <img src="{class.players_row.PORTRAIT}" alt=" " width="64" height="64" /></a></td>
            <td style="text-align:left; width:100" class="bg2" >
                <strong><a style="color: {class.COLORCODE};" href="{class.players_row.ARMORY}" >{class.players_row.NAME}</a></strong>
                <p>
                    {class.players_row.GNOTE}<br/>
                    {class.players_row.CLASS}
                    {class.players_row.LVL}
                    <!-- IF S_SHOWACH == 1 -->
                    <br/> Apt: {class.players_row.ACHIEVPTS}
                    <!-- ENDIF -->
                </p>
            </td>
            <!-- IF players_row.S_ROW_COUNT % 4 == 0 -->
            <!-- IF players_row.S_LAST_ROW -->
            <td colspan="10"></td></tr>
        <!-- ENDIF -->
        <!-- ELSEIF players_row.S_ROW_COUNT % 4 == 1 -->
        <!-- IF players_row.S_LAST_ROW -->
        <td colspan="8"></td></tr>
        <!-- ENDIF -->
        <!-- ELSEIF players_row.S_ROW_COUNT % 4 == 2 -->
        <!-- IF players_row.S_LAST_ROW -->
        <td colspan="6"></td></tr>
        <!-- ENDIF -->
        <!-- ELSEIF players_row.S_ROW_COUNT % 4 == 3 -->
        <!-- IF players_row.S_LAST_ROW -->
        <td colspan="4"></td></tr>
        <!-- ENDIF -->
        <!-- ENDIF -->
        <!-- END players_row -->
    </table>
    <br />
    <!-- END class -->

</div>
